/* Copyright © 2019 Lee Kelleher, Umbrella Inc and other contributors.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment .umb-group-builder__properties {
    padding: 0;
}

    .contentment .umb-group-builder__properties .umb-group-builder__property {
        border-bottom: 0;
        padding: 0;
    }

        .contentment .umb-group-builder__properties .umb-group-builder__property .umb-group-builder__property-actions {
            margin-top: 0;
        }

.contentment .umb-node-preview-add {
    max-width: calc(100% - 44px);
}
