<!-- Copyright © 2019 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment" ng-controller="Umbraco.Community.Contentment.Overlays.Element.Controller as vm">

    <umb-editor-view ng-if="vm.mode === 'select'">

        <umb-editor-header name="vm.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-box ng-if="vm.items.length > 0">
                <umb-box-content>

                    <div class="form-search" ng-if="vm.enableFilter">
                        <i class="icon-search"></i>
                        <input type="text"
                               ng-model="vm.searchTerm"
                               class="umb-search-field search-query input-block-level -full-width-input"
                               localize="placeholder"
                               placeholder="@placeholders_filter"
                               umb-auto-focus
                               no-dirty-check />
                    </div>

                    <ul class="umb-actions umb-actions-child" ng-show="vm.selectBlueprint === false">
                        <li class="umb-action" ng-repeat="item in vm.items | orderBy:vm.orderBy | filter:vm.searchTerm">
                            <a class="umb-action-link" ng-click="vm.select(item)">
                                <i class="large icon {{item.icon}}"></i>
                                <span class="menu-label">
                                    <span>{{item.name}}</span>
                                    <small>{{item.description}}</small>
                                </span>
                            </a>
                        </li>
                    </ul>

                    <ul class="umb-actions umb-actions-child" ng-show="vm.selectBlueprint === true">
                        <li class="umb-action" ng-repeat="blueprint in vm.selectedElementType.blueprints | orderBy:vm.orderBy | filter:vm.searchTerm">
                            <a class="umb-action-link" ng-click="vm.create(vm.selectedElementType, blueprint)">
                                <i class="large icon {{vm.selectedElementType.icon}}"></i>
                                <span class="menu-label">
                                    <span>{{blueprint.name}}</span>
                                </span>
                            </a>
                        </li>
                        <li class="umb-action sep" ng-show="vm.blueprintAllowBlank">
                            <a class="umb-action-link" ng-click="vm.create(vm.selectedElementType)">
                                <i class="large icon {{vm.selectedElementType.icon}}"></i>
                                <span class="menu-label">
                                    <span>Blank</span>
                                </span>
                            </a>
                        </li>
                    </ul>

                </umb-box-content>
            </umb-box>

            <umb-empty-state ng-if="vm.items.length == 0" position="center">
                <p>There are no items available to add.</p>
            </umb-empty-state>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            shortcut="esc"
                            label-key="general_close"
                            action="vm.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

    <content-editor ng-if="vm.mode === 'edit'"
                    content-id="vm.contentId"
                    save-method="vm.save"
                    get-method="vm.getMethod"
                    get-scaffold-method="vm.getScaffoldMethod"
                    is-new="vm.isNew"
                    infinite-model="vm.infiniteModel">
    </content-editor>

</div>
