<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="05b960dd-e5c0-4de1-b906-fd9b2b7056cb" Alias="ContentPage" Level="0">
  <Info />
  <Translations>
    <Translation Language="da-DK"></Translation>
    <Translation Language="en-US">My custom content page</Translation>
    <Translation Language="nl-NL"></Translation>
  </Translations>
</Dictionary>