<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" Alias="Folder" Level="1">
  <Info>
    <Name>Folder</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="f38bd2d7-65d0-48e6-95dc-87ce06ec2d3d" SortOrder="0">Folder</MediaType>
    <MediaType Key="cc07b313-0843-4aa8-bbda-871c8da728c8" SortOrder="1">Image</MediaType>
    <MediaType Key="4c52d8ab-54e6-40cd-999c-7a5f24903e4d" SortOrder="2">File</MediaType>
    <MediaType Key="f6c515bb-653c-4bdc-821c-987729ebe327" SortOrder="3">umbracoMediaVideo</MediaType>
    <MediaType Key="a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3" SortOrder="4">umbracoMediaAudio</MediaType>
    <MediaType Key="a43e3414-9599-4230-a7d3-943a21b20122" SortOrder="5">umbracoMediaArticle</MediaType>
    <MediaType Key="c4b1efcf-a9d5-41c4-9621-e9d273b52a9c" SortOrder="6">umbracoMediaVectorGraphics</MediaType>
  </Structure>
  <Tabs />
</MediaType>