/* Copyright © 2019 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment.lk-overlay .umb-panel .form-search {
    margin-bottom: 15px;
}

.contentment .umb-card-grid .umb-card-grid-item {
    padding-top: 20%;
    padding-bottom: 20%;
}

.contentment .umb-action-link .umb-checkmark {
    margin-right: 15px;
    min-width: 30px;
}

.contentment .umb-action-link .menu-label {
    margin-left: 15px;
    padding-left: 0;
}

.contentment.lk-overlay .-disabled {
    opacity: 0.5;
}

    .contentment.lk-overlay .-disabled .umb-card-grid-item,
    .contentment.lk-overlay .-disabled .umb-action-link,
    .contentment.lk-overlay .-disabled .umb-checkmark {
        cursor: not-allowed;
    }

        .contentment.lk-overlay .-disabled .umb-checkmark:hover {
            border-color: #bbbabf;
            color: #1b264f;
        }

        .contentment.lk-overlay .-disabled .umb-checkmark.icon-check:before {
            content: "\e230";
        }
