/* Copyright © 2019 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment .umb-panel .form-search {
    margin-bottom: 15px;
}

.contentment .umb-actions-child .umb-action-link {
    padding-right: 10px;
    width: 95%;
}

.contentment .umb-card-grid .umb-card-grid-item {
    padding-top: 20%;
    padding-bottom: 20%;
}

.contentment .umb-action-link .umb-checkmark {
    margin-right: 15px;
    min-width: 30px;
}

.contentment .umb-action-link .menu-label {
    margin-left: 15px;
    padding-left: 0;
}
