<?xml version="1.0" encoding="utf-8"?>
<Content Key="9772aed6-3d82-474e-9269-f7f4c5504992" Alias="Contentment" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contentment</Path>
    <Trashed>false</Trashed>
    <ContentType>rootContainer</ContentType>
    <CreateDate>2020-05-07T17:30:14</CreateDate>
    <NodeName Default="Contentment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <notes>
      <Value><![CDATA[]]></Value>
    </notes>
  </Properties>
</Content>