<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de34d280-d3a8-4088-88e0-737f4a24684f" Alias="Code Editor: Markdown" Level="2">
  <Info>
    <Name>Code Editor: Markdown</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Code+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 30,
  "minLines": 12,
  "mode": "markdown",
  "theme": "chrome",
  "useWrapMode": "0"
}]]></Config>
</DataType>