<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1715dc5-ec7e-42a0-99b8-f92189b7bc95" Alias="Code Editor: HTML" Level="2">
  <Info>
    <Name>Code Editor: HTML</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
    <Folder>Code+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 30,
  "minLines": 12,
  "mode": "html",
  "theme": "chrome",
  "useWrapMode": "0"
}]]></Config>
</DataType>