<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a33271f2-043f-4deb-8482-bc4c664f6ad2" Alias="[Contentment] Content Blocks - Modules" Level="1">
  <Info>
    <Name>[Contentment] Content Blocks - Modules</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "8e2a68f2-6904-48f3-9a48-369951c2ceb1",
      "value": {
        "nameTemplate": "CSS: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a",
      "value": {
        "nameTemplate": "JavaScript [{{renderPosition || \u0027BodyClose\u0027}}]: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "10348ffc-6963-4b23-a928-4415957a22d2",
      "value": {
        "nameTemplate": "Meta Tag: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "disableSorting": "0",
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.Blocks",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "enableDevMode": "1",
  "enableFilter": "0"
}]]></Config>
</DataType>