<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6e8feed-46ac-4d08-8988-4933ce4d9ef4" Alias="[Contentment] Notes - Welcome" Level="1">
  <Info>
    <Name>[Contentment] Notes - Welcome</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.Notes</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": "1",
  "hidePropertyGroup": "1",
  "notes": {
    "markup": "\u003Ch2\u003EWelcome to the Contentment demo\u003C/h2\u003E\n\u003Cp\u003E\u003Cem\u003EThis is a work in progress.\u003C/em\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Cem\u003E[TODO] Add instructions and links to various parts of the CMS.\u003C/em\u003E\u003C/p\u003E",
    "blocks": {
      "layout": {
        "Umbraco.RichText": []
      },
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>