<?xml version="1.0" encoding="utf-8"?>
<DataType Key="817e34da-3e9c-4c42-a3e3-de29c0a749c9" Alias="[Contentment] Data List - .NET Countries" Level="2">
  <Info>
    <Name>[Contentment] Data List - .NET Countries</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CountriesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-globe color-indigo",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": "0",
        "allowClear": 0
      }
    }
  ]
}]]></Config>
</DataType>