<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569416cf-60c4-483a-a117-8ea8ad4bc055" Alias="[Contentment] Editor Notes" Level="2">
  <Info>
    <Name>[Contentment] Editor Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Test+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "default",
  "heading": "Under construction",
  "hideLabel": true,
  "hidePropertyGroup": true,
  "icon": "icon-alert",
  "message": {
    "markup": "\u003Cp\u003EThis page is under construction.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>