<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52c156f8-1587-4ac9-8144-97797bc069a6" Alias="[Contentment] Data List - Umbraco Templates" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Templates</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoTemplatesDataListSource, Umbraco.Community.Contentment",
      "value": {
        "valueType": "alias"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>