<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d311d8f-7709-48e9-b0dc-1a42e4e41a5e" Alias="[Contentment] Data List - Umbraco Content" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": {
          "originKey": "9772aed6-3d82-474e-9269-f7f4c5504992",
          "originAlias": "ByKey"
        },
        "sortAlphabetically": "0"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>