<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e42b30e-960e-42a2-865b-e1ba6b7f9252" Alias="[Contentment] Data List - Umbraco Content Properties" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Content Properties</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentPropertiesDataListSource, Umbraco.Community.Contentment",
      "value": {
        "contentType": "4b082f14-749f-4bcc-a53f-739e240ee277"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>