<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f3ef9f3-0b49-403e-bec1-7e932157a9b1" Alias="[Contentment] Code Editor - Snippet" Level="1">
  <Info>
    <Name>[Contentment] Code Editor - Snippet</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.CodeEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "fontSize": "small",
  "maxLines": 30,
  "minLines": 12,
  "mode": "razor",
  "theme": "chrome",
  "useWrapMode": "0"
}]]></Config>
</DataType>