<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf189065-68e2-4245-b65e-eb50ac5f7cb0" Alias="[Contentment] Data List - Umbraco Files" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Files</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoFilesDataListSource, Umbraco.Community.Contentment",
      "value": {
        "fileType": "stylesheet",
        "valueType": "path"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>