<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55ee110f-c4eb-4688-b701-f0be655ca25b" Alias="[Contentment] Social Links" Level="2">
  <Info>
    <Name>[Contentment] Social Links</Name>
    <EditorAlias>Umbraco.Community.Contentment.SocialLinks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.SocialLinks</EditorUIAlias>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "confirmRemoval": "1",
  "enableDevMode": true,
  "maxItems": 0,
  "networks": [
    {
      "key": "network",
      "value": {
        "network": "twitter",
        "name": "Twitter",
        "url": "https://twitter.com/",
        "icon": "icon-twitter",
        "backgroundColor": "#2795e9",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "facebook",
        "name": "Facebook",
        "url": "https://facebook.com/",
        "icon": "icon-facebook",
        "backgroundColor": "#3b5998",
        "iconColor": "#ffffff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "instagram",
        "name": "Instagram",
        "url": "https://instagram.com/",
        "icon": "icon-instagram",
        "backgroundColor": "#305777",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "linkedin",
        "name": "LinkedIn",
        "url": "https://linkedin.com/in/",
        "icon": "icon-linkedin",
        "backgroundColor": "#007bb6",
        "iconColor": "#ffffff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "mastodon",
        "name": "Mastodon",
        "url": "https://mastodon.social/",
        "icon": "icon-mastodon",
        "backgroundColor": "#5b4be1",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "youtube",
        "name": "YouTube",
        "url": "https://youtube.com/",
        "icon": "icon-youtube",
        "backgroundColor": "#f00",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "github",
        "name": "GitHub",
        "url": "https://github.com/",
        "icon": "icon-github",
        "backgroundColor": "#000000",
        "iconColor": "#ffffff"
      }
    },
    {
      "key": "network",
      "value": {
        "icon": "icon-discord",
        "backgroundColor": "#5562ea",
        "iconColor": "#ffffff",
        "network": "discord",
        "name": "Discord",
        "url": "https://discord.com/"
      }
    },
    {
      "key": "network",
      "value": {
        "icon": "icon-threads",
        "backgroundColor": "#ffffff",
        "iconColor": "#000000",
        "network": "threads",
        "name": "Threads",
        "url": "https://threads.com/"
      }
    },
    {
      "key": "network",
      "value": {
        "icon": "icon-tiktok",
        "backgroundColor": "#00f2eb",
        "iconColor": "#ff004e",
        "network": "tiktok",
        "name": "TikTok",
        "url": "https://tiktok.com/"
      }
    },
    {
      "key": "network",
      "value": {
        "icon": "icon-x-twitter",
        "backgroundColor": "#000000",
        "iconColor": "#ffffff",
        "network": "x-twitter",
        "name": "X",
        "url": "https://x.com/"
      }
    },
    {
      "key": "network",
      "value": {
        "icon": "icon-bluesky",
        "backgroundColor": "#1083fe",
        "iconColor": "#ffffff",
        "network": "bluesky",
        "name": "Bluesky",
        "url": "https://bsky.com/"
      }
    }
  ]
}]]></Config>
</DataType>