<?xml version="1.0" encoding="utf-8"?>
<DataType Key="882e9021-789a-412c-ac26-9818df51c647" Alias="[Contentment] Data Picker - .NET Countries" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - .NET Countries</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CountriesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "hideSearch": false,
  "maxItems": 0,
  "overlaySize": "medium",
  "pageSize": 12
}]]></Config>
</DataType>