<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74a6e82e-b621-4756-bb09-f1c236ae3ef6" Alias="[Contentment] Content Blocks - Header Settings" Level="1">
  <Info>
    <Name>[Contentment] Content Blocks - Header Settings</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "f118ce4d-bbf4-4f3f-9ddf-423e01dde5dc",
      "value": {
        "nameTemplate": "Header Settings ({{!!mainMenu ? mainMenu.split(\u0022,\u0022).length : 0}} links)",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "disableSorting": "1",
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.Blocks",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "enableDevMode": "0",
  "enableFilter": "0",
  "maxItems": 1
}]]></Config>
</DataType>