<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a67d9b2-69e7-4b20-8e91-612b30e861c4" Alias="[Contentment] Data List - Umbraco Entities" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Entities</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoEntityDataListSource, Umbraco.Community.Contentment",
      "value": {
        "entityType": "MediaType"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>