<?xml version="1.0" encoding="utf-8"?>
<DataType Key="057ce77f-e3b2-4dfb-9b14-5984be8e11e8" Alias="[Contentment] List Items" Level="2">
  <Info>
    <Name>[Contentment] List Items</Name>
    <EditorAlias>Umbraco.Community.Contentment.ListItems</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ListItems</EditorUIAlias>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "confirmRemoval": "1",
  "enableDevMode": "1",
  "hideDescription": "0",
  "hideIcon": "0",
  "maxItems": 0
}]]></Config>
</DataType>