<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffa59277-79bc-4a1c-81d9-b0e93bcfb058" Alias="[Contentment] Render Macro - Sitemap" Level="2">
  <Info>
    <Name>[Contentment] Render Macro - Sitemap</Name>
    <EditorAlias>Umbraco.Community.Contentment.RenderMacro</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.RenderMacro</EditorUIAlias>
    <Folder>Test+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "macro": [
    {
      "udi": "umb://macro/3dc18b2a74cf4b498812e46291bed569",
      "name": "Sitemap",
      "alias": "Sitemap",
      "params": {}
    }
  ]
}]]></Config>
</DataType>