<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5023550b-f4ae-4e05-94c6-79abc5266c23" Alias="[Contentment] Data Picker - Umbraco Content" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Umbraco Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": {
          "originKey": "7c6bcf13-fa7d-4949-b975-ffb331ee0dcc",
          "originAlias": "ByKey"
        },
        "sortAlphabetically": "1"
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.Cards",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "maxItems": 0,
  "overlaySize": "medium",
  "pageSize": 12
}]]></Config>
</DataType>