<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6348b061-a934-49e1-b0b4-f8fc184b2c54" Alias="[Contentment] Data List - Umbraco Backoffice Sections" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Backoffice Sections</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoBackofficeSectionsDataSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>