<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56f7e6c5-e6ef-4d38-bc39-235c015971e4" Alias="[Contentment] Bytes" Level="1">
  <Info>
    <Name>[Contentment] Bytes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Bytes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.Bytes</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "decimals": {
    "from": 2,
    "to": 2
  },
  "kilo": "1024"
}]]></Config>
</DataType>