<?xml version="1.0" encoding="utf-8"?>
<DataType Key="093263d0-d3ee-433a-9ea9-770177fc5a30" Alias="[Contentment] Data List - Render Position" Level="1">
  <Info>
    <Name>[Contentment] Data List - Render Position</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Html",
            "value": "Html",
            "icon": "icon-stop",
            "description": "The root \u0026lt;html\u0026gt; tag",
            "disabled": true
          },
          {
            "name": "Head",
            "value": "Head",
            "icon": "icon-stop",
            "description": "Inside the \u0026lt;head\u0026gt; tags"
          },
          {
            "name": "Body (start)",
            "value": "BodyOpen",
            "icon": "icon-stop",
            "description": "Before the closing \u0026lt;/body\u0026gt; tag"
          },
          {
            "name": "Body (end)",
            "value": "BodyClose",
            "icon": "icon-stop",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "0",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>