<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd4cce2-681e-4cdf-8da1-11ab055da96a" Alias="[Contentment] Data List - Umbraco Dictionary Items" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Dictionary Items</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoDictionaryDataListSource, Umbraco.Community.Contentment",
      "value": {
        "item": "6087c17e-726e-4ec6-aece-ad2bc3de6088"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>