<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5448fd87-723a-4092-9894-2c3e9860bb0c" Alias="[Contentment] Data List - Data XML" Level="2">
  <Info>
    <Name>[Contentment] Data List - Data XML</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.XmlDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "https://leekelleher.com/umbraco/contentment/data.xml",
        "itemsXPath": "/items/item",
        "nameXPath": "@name",
        "valueXPath": "@value",
        "iconXPath": "@icon",
        "descriptionXPath": "@description"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>