<?xml version="1.0" encoding="utf-8"?>
<DataType Key="547d1d9a-0233-49c2-ad61-243207336fad" Alias="[Contentment] Icon Picker - Small" Level="2">
  <Info>
    <Name>[Contentment] Icon Picker - Small</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.IconPicker</EditorUIAlias>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "defaultIcon": "icon-science color-black",
  "hideColors": "1",
  "size": "small"
}]]></Config>
</DataType>