<?xml version="1.0" encoding="utf-8"?>
<DataType Key="960b183d-f3f8-44c5-b290-151e2d40d63e" Alias="Data List: Web XML Sitemap Change Frequency" Level="2">
  <Info>
    <Name>Data List: Web XML Sitemap Change Frequency</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.XmlSitemapChangeFrequencyDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "labelStyle": "text",
        "look": "secondary",
        "size": "m",
        "allowClear": false,
        "enableMultiple": false
      }
    }
  ]
}]]></Config>
</DataType>