<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a70de9b-b297-48d8-962b-9382939d1df4" Alias="Data List: Web XML Sitemap: Priority" Level="2">
  <Info>
    <Name>Data List: Web XML Sitemap: Priority</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.XmlSitemapPriorityDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "s",
        "labelStyle": "text",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>