<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a118b031-034a-4a53-89e7-729b07b9b9f3" Alias="Data List: Umbraco Members" Level="2">
  <Info>
    <Name>Data List: Umbraco Members</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {
        "memberType": "d59be02f-1df9-4228-aa1e-01917d806cda"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>