<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8347563-8901-4093-bf1a-58668d002bb4" Alias="Data List: Data Source: Umbraco Content Property Value" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Content Property Value</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentPropertyValueDataListSource, Umbraco.Community.Contentment",
      "value": {
        "contentNode": {
          "originKey": "7d11a6c2-560a-4472-a25b-e20690ceb3f0",
          "originAlias": "ByKey"
        },
        "propertyAlias": "socialLinks"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CustomComponentListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "orientation": "horizontal",
        "allowClear": true,
        "enableMultiple": false,
        "component": [
          "Umb.Contentment.DataListItemUi.InfoBox"
        ],
        "listItemStyles": "flex: 1;",
        "listStyles": "gap: 0.5rem;"
      }
    }
  ]
}]]></Config>
</DataType>