<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1a466ca-74ef-4f35-87aa-748fc290c895" Alias="Data List: Data Text Delimited" Level="2">
  <Info>
    <Name>Data List: Data Text Delimited</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TextDelimitedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "https://leekelleher.com/umbraco/contentment/data.csv",
        "delimiter": ",",
        "nameIndex": 0,
        "valueIndex": 1,
        "iconIndex": 2,
        "descriptionIndex": 3
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>