<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89179373-0e13-4d02-9273-728e205a9544" Alias="Data List: Web uCssClassName" Level="2">
  <Info>
    <Name>Data List: Web uCssClassName</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.uCssClassNameDataListSource, Umbraco.Community.Contentment",
      "value": {
        "cssPath": "~/css/font-awesome.min.css",
        "cssRegex": "\\.fa-([^:]*?):before",
        "excludeList": "",
        "iconPattern": "icon-fa-{0}"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-document",
        "listType": "grid",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>