<?xml version="1.0" encoding="utf-8"?>
<DataType Key="57370d6f-13a7-4b40-a6e1-33a94447e9be" Alias="Data List: List Editor: Item Picker" Level="3">
  <Info>
    <Name>Data List: List Editor: Item Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/List+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": true,
        "maxItems": 0,
        "allowClear": true,
        "allowDuplicates": true,
        "enableMultiple": true,
        "disableSorting": false,
        "confirmRemoval": true
      }
    }
  ]
}]]></Config>
</DataType>