<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d60f871-101a-484a-8202-533080269110" Alias="Data List: Umbraco Image Crops" Level="2">
  <Info>
    <Name>Data List: Umbraco Image Crops</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoImageCropDataListSource, Umbraco.Community.Contentment",
      "value": {
        "imageCropper": "umb://data-type/ad55b1816d004ddc87a20b7a4c3b0d01"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TemplatedListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "orientation": "horizontal",
        "allowClear": false,
        "enableMultiple": false,
        "template": "\u003Ccontentment-info-box\r\n    type=\u0022divider\u0022\r\n    heading=\u0022{{item.name}}\u0022\r\n    icon=\u0022{{item.icon}}\u0022\u003E\u003C/contentment-info-box\u003E\r\n",
        "listItemStyles": ""
      }
    }
  ]
}]]></Config>
</DataType>