<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee43e19a-fefa-40c3-a454-f1876539cebe" Alias="Editor Notes: Warning" Level="2">
  <Info>
    <Name>Editor Notes: Warning</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Editor+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "warning",
  "heading": "Warning",
  "hideLabel": false,
  "hidePropertyGroup": false,
  "icon": "icon-alert color-undefined",
  "message": {
    "markup": "\u003Cp\u003EThis is a warning message for the editor.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>