<?xml version="1.0" encoding="utf-8"?>
<DataType Key="547d1d9a-0233-49c2-ad61-243207336fad" Alias="Icon Picker: Small" Level="2">
  <Info>
    <Name>Icon Picker: Small</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.IconPicker</EditorUIAlias>
    <Folder>Icon+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "hideColors": "1",
  "size": "small"
}]]></Config>
</DataType>