<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f1ef1e1-9de4-40d3-a072-6673f631ca64" Alias="Label (decimal)" Level="1">
  <Info>
    <Name>Label (decimal)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "DECIMAL"
}]]></Config>
</DataType>