<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa2c52a0-ce87-4e65-a47c-7df09358585d" Alias="List View - Members" Level="1">
  <Info>
    <Name>List View - Members</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-badge color-black",
  "includeProperties": [
    {
      "alias": "username",
      "header": "User name",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "email",
      "header": "Email",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "Grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "username",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": false,
  "umbMigrationV14": "2024-08-04T21:33:40.7726907+00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>