<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41ba97be-e6b9-4968-b758-a0d8d2b65333" Alias="[_] Test Contentment" Level="1">
  <Info>
    <Name>[_] Test Contentment</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "8e2a68f2-6904-48f3-9a48-369951c2ceb1",
      "value": {
        "nameTemplate": "CSS: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a",
      "value": {
        "nameTemplate": "JavaScript [{{renderPosition || \u0027BodyClose\u0027}}]: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "10348ffc-6963-4b23-a928-4415957a22d2",
      "value": {
        "nameTemplate": "Meta Tag: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "disableSorting": false,
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "enableDevMode": true,
  "enableFilter": true,
  "maxItems": 0
}]]></Config>
</DataType>