<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f560933e-d476-4157-b512-0971342619cb" Alias="Text Input: Default Config" Level="2">
  <Info>
    <Name>Text Input: Default Config</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
    <Folder>Text+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "append": "icon-message color-black",
  "autocomplete": "0",
  "items": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "maxChars": 100,
  "placeholderText": "Please enter some text...",
  "prepend": "icon-old-phone color-black",
  "spellcheck": "0"
}]]></Config>
</DataType>