<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061" Alias="Textbox List: User-defined List" Level="2">
  <Info>
    <Name>Textbox List: User-defined List</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextboxList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextboxList</EditorUIAlias>
    <Folder>Textbox+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-old-phone color-black",
            "name": "Telephone",
            "value": "tel",
            "description": ""
          },
          {
            "icon": "icon-message color-black",
            "name": "Email",
            "value": "email",
            "description": ""
          },
          {
            "icon": "icon-globe color-black",
            "name": "Website",
            "value": "url",
            "description": ""
          }
        ]
      }
    }
  ],
  "defaultIcon": "icon-document color-black",
  "enableDevMode": "1",
  "labelStyle": "both"
}]]></Config>
</DataType>