<?xml version="1.0" encoding="utf-8"?>
<DataType Key="caad76c5-8872-4a4f-9b45-a8e610155c67" Alias="[Umbraco] Content Picker - Menu Items" Level="1">
  <Info>
    <Name>[Umbraco] Content Picker - Menu Items</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-08-04T21:33:40.8057614+00:00"
}]]></Config>
</DataType>