<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b7764e3-0610-4a45-885a-23cae560de00" Alias="[Umbraco] Url Picker - Single" Level="1">
  <Info>
    <Name>[Umbraco] Url Picker - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": true,
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>