<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e189ed23-bb63-4429-b628-ac5d65beb84f" Alias="[Umbraco] Rich Text Editor - Large" Level="1">
  <Info>
    <Name>[Umbraco] Rich Text Editor - Large</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dimensions": {
    "width": null,
    "height": 800
  },
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Underline"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.TextOutdent",
        "Umb.Tiptap.Toolbar.TextIndent",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.EmbeddedMedia"
      ]
    ]
  ],
  "umbMigrationV14": "2024-08-04T21:33:40.8216801+00:00",
  "useLiveEditing": false
}]]></Config>
</DataType>