<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2b919fc-be7c-4cd9-8e6a-1a33ad8e00a3" Alias="[Umbraco] Block List" Level="1">
  <Info>
    <Name>[Umbraco] Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "24522ebf-901d-4aa2-a472-61b6181fd0e5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "55877ddd-640f-4d73-8b53-f8c671e8415a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "10348ffc-6963-4b23-a928-4415957a22d2"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>