<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7be9f98b-ed24-4ae9-902d-06ee521d46ce" Alias="[Umbraco] Url Picker - Multiple" Level="1">
  <Info>
    <Name>[Umbraco] Url Picker - Multiple</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": true,
  "maxNumber": 0,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>