<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75849c36-cfc2-4881-adf0-7a23edc8a575" Alias="[Umbraco] Block List" Level="1">
  <Info>
    <Name>[Umbraco] Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "569a0eb7-a4df-42a2-82da-3f4597c0ab41"
    },
    {
      "contentElementTypeKey": "35fd3c4e-b49e-414b-aee0-02fc35a5c250"
    },
    {
      "contentElementTypeKey": "299974e3-1ab9-4f0b-88ae-101b263dad15"
    },
    {
      "contentElementTypeKey": "1b00afd6-8c01-451f-8b3c-c4f64d972d5a"
    },
    {
      "contentElementTypeKey": "2719fe65-3825-4bd4-b9f7-cc8eef1c2d65"
    },
    {
      "contentElementTypeKey": "89392c14-e7ef-4a39-922c-f8aefd690e9a"
    },
    {
      "contentElementTypeKey": "b6b81342-9084-40f4-8416-ae1e2bcf09d2"
    },
    {
      "contentElementTypeKey": "846aaf85-74b5-46e5-bfb9-bc433656e68a"
    },
    {
      "contentElementTypeKey": "c511521b-6209-407d-bc9a-275e234f3991"
    },
    {
      "contentElementTypeKey": "47d179b8-fe3e-45a3-b5c6-0e365b89cf39"
    },
    {
      "contentElementTypeKey": "94d49ae0-eda3-4836-a2dc-42a3cccf9998"
    },
    {
      "contentElementTypeKey": "d4e818a8-1fec-4cb5-8cbc-d8936a58caf6"
    },
    {
      "contentElementTypeKey": "fb4fc78f-53d6-4c41-a669-d5f78c072edf"
    },
    {
      "contentElementTypeKey": "4328ced5-778a-4b26-b287-79f66b6f3ad9"
    }
  ]
}]]></Config>
</DataType>