<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75849c36-cfc2-4881-adf0-7a23edc8a575" Alias="[Umbraco] Block List" Level="1">
  <Info>
    <Name>[Umbraco] Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "36a351b0-39db-4582-b31a-7d7a04dc0def"
    }
  ]
}]]></Config>
</DataType>