<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f025fd5a-d531-41ca-861d-4e63fb894127" Alias="[Umbraco] Media Picker - Image Picker" Level="1">
  <Info>
    <Name>[Umbraco] Media Picker - Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>