<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a18fe3bf-110e-4c07-b124-36b3203564fa" Alias="componentImageProperty" Level="2">
  <Info>
    <Name>[Component] Image Property</Name>
    <Icon>icon-picture color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>61a54008-ad83-4881-b41f-576a2b576f56</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>f025fd5a-d531-41ca-861d-4e63fb894127</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>