<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b082f14-749f-4bcc-a53f-739e240ee277" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="189438e2-a3e1-4e2f-aa4b-3f4179c3889e">pageBlocksProperty</Composition>
      <Composition Key="e5694cca-22c5-4b9f-a10a-0a4d315c7a7d">pageModulesProperty</Composition>
      <Composition Key="84e778ef-d894-49e8-a374-1dc8732b203e">siteGlobalProperties</Composition>
      <Composition Key="981d392b-a232-4ff3-82dd-4420bd9e879e">siteModulesProperty</Composition>
      <Composition Key="56eb3f15-a48f-4215-b4e8-4c8452529217">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="65095f3d-ecff-48ef-8ff5-cf855cfea45b">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="15cf8bbd-22f2-4b61-a295-18235c978614" SortOrder="0">contentPage</ContentType>
    <ContentType Key="a36df9f1-1586-4594-a85a-c99259234aeb" SortOrder="1">testDataListPage</ContentType>
    <ContentType Key="4128a049-f8bf-426a-b4ed-e1bd6df03d2c" SortOrder="2">testNotesPage</ContentType>
    <ContentType Key="be1a660e-e7b1-49b7-8101-45095e56350a" SortOrder="3">testMiscPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>