_ReSharper.*
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.cache
*.orig
Thumbs.db
.DS_Store
*.log
.vs

artifacts/
build/__umb/*
build/assets/
build/build-push-nuget.ps1
build/build-push-umb.ps1
src/packages/*/**
src/Umbraco.Cms.8.x/App_Data/*
src/Umbraco.Cms.[89].x/App_Plugins/*/**
src/Umbraco.Cms.8.x/Umbraco/*
src/Umbraco.Cms.[89].x/Views/Partials/[Bb]lock[Ll]ist/*
src/Umbraco.Cms.[89].x/Views/Partials/[Gg]rid/*
src/Umbraco.Cms.10.x/*/**
tools/*.exe
