_ReSharper.*
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.cache
*.orig
Thumbs.db
.DS_Store
*.log
.idea
.vs
node_modules/

artifacts/
build/__umb/*
build/assets/
build/build-push-nuget.ps1
build/build-push-umb.ps1
src/packages/*/**
src/Umbraco.Cms.*.x/*
src/Umbraco.Community.Contentment/wwwroot/App_Plugins/Contentment/*
src/*/node_modules/*
tools/*.exe
