<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d171fa7-41c4-4b97-81cb-cbc4aba8c65f" Alias="[Contentment] Data Picker - Umbraco Member" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Umbraco Member</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {
        "memberType": []
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 4,
  "overlaySize": [
    "small"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>