<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f43886d-c44e-486e-8c06-b7479ed5d3d6" Alias="[Contentment] Data Picker - User-defined" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - User-defined</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money.",
            "disabled": true
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ListDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>