<?xml version="1.0" encoding="utf-8"?>
<DataType Key="beb94bb5-1c8d-4799-83b4-892842151ec2" Alias="[Contentment] Data Picker - Umbraco Examine Query" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Umbraco Examine Query</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ExamineDataListSource, Umbraco.Community.Contentment",
      "value": {
        "examineIndex": "ExternalIndex",
        "luceneQuery": "+__IndexType:content",
        "nameField": "nodeName",
        "valueField": "__Key",
        "iconField": "__Icon",
        "descriptionField": "creatorName"
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 3,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>