<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569416cf-60c4-483a-a117-8ea8ad4bc055" Alias="[Contentment] Editor Notes" Level="2">
  <Info>
    <Name>[Contentment] Editor Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.EditorNotes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Test+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "alert alert-warning",
  "icon": "icon-alert color-black",
  "heading": "Under construction",
  "message": "<p>This page is under construction.</p>",
  "hideLabel": "1",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>