<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ea2e01f-ebd8-4ce1-8d71-6b1149e63548" Alias="Member Picker" Level="1">
  <Info>
    <Name>Member Picker</Name>
    <EditorAlias>Umbraco.MemberPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>