<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0990a690-ccbe-4739-8691-e539d369a5be" Alias="Member - Data List - Umbraco Languages - [Contentment] Data Picker" Level="1">
  <Info>
    <Name>Member - Data List - Umbraco Languages - [Contentment] Data Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoLanguagesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ListDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 1,
  "enableDevMode": "1"
}]]></Config>
</DataType>