<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4e3535a-1753-47e2-8568-602cf8cfee6f" Alias="Multi URL Picker" Level="1">
  <Info>
    <Name>Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": null
}]]></Config>
</DataType>