<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f025fd5a-d531-41ca-861d-4e63fb894127" Alias="[Umbraco] Media Picker - Image Picker" Level="1">
  <Info>
    <Name>[Umbraco] Media Picker - Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": true,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": true,
  "StartNodeId": null
}]]></Config>
</DataType>