<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59edeb45-2205-457c-8ddc-398ba50d471c" Alias="[Umbraco] Nested Content" Level="1">
  <Info>
    <Name>[Umbraco] Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "Call To Action: {{heading}}",
      "ncAlias": "callToActionBlock",
      "ncTabAlias": "Content"
    },
    {
      "nameTemplate": "HTML Embed: {{description}}",
      "ncAlias": "htmlEmbedBlock",
      "ncTabAlias": "Code"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>