<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84c6b441-31df-4ffe-b67e-67d5bc3ae65a" Alias="Upload File" Level="1">
  <Info>
    <Name>Upload File</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>