<!-- Copyright © 2023 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div ng-class="vm.uniqueId" ng-controller="Umbraco.Community.Contentment.DataEditors.DataPicker.Controller as vm">
    <umb-load-indicator ng-if="vm.loading === true"></umb-load-indicator>
    <contentment-items-editor ng-if="vm.loading === false"
                              ng-model="model.value"
                              add-button-label-key="vm.addButtonLabelKey"
                              allow-add="vm.allowAdd"
                              allow-edit="vm.allowEdit"
                              allow-remove="vm.allowRemove"
                              allow-sort="vm.allowSort"
                              default-icon="vm.defaultIcon"
                              display-mode="vm.displayMode"
                              get-item="vm.populate"
                              on-add="vm.add"
                              on-remove="vm.remove"
                              property-actions="vm.propertyActions">
    </contentment-items-editor>
</div>
