<!-- Copyright © 2023 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment lk-overlay" ng-controller="Umbraco.Community.Contentment.Overlays.DataPicker.Controller as vm">
    <umb-editor-view>

        <umb-editor-header name="vm.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div class="umb-control-group">
                <div class="form-search">
                    <umb-search-filter input-id="contentment-datapicker-search"
                                       model="vm.searchOptions.query"
                                       label-key="placeholders_search"
                                       text="Type to search..."
                                       on-change="vm.search()"
                                       css-class="w-100"
                                       auto-focus="true">
                    </umb-search-filter>
                </div>
            </div>

            <umb-load-indicator ng-show="vm.loading === true"></umb-load-indicator>

            <div class="umb-block-card-grid" ng-if="vm.listType === 'cards'" ng-show="vm.loading === false && vm.items.length !== 0">
                <div class="umb-block-card"
                     ng-repeat="item in vm.items"
                     ng-class="{'--isOpen': vm.isSelected(item)}"
                     ng-click="vm.select(item, $event)">
                    <div class="__showcase"
                         ng-style="_img = vm.getImage(item)">
                        <div class="__icon" ng-if="!_img">
                            <umb-icon icon="{{item.icon}}"></umb-icon>
                        </div>
                    </div>
                    <div class="__info">
                        <div class="__name" ng-bind="item.name"></div>
                        <div class="__subname" ng-bind="item.description"></div>
                    </div>
                    <div class="__actions"></div>
                </div>
            </div>

            <umb-box ng-if="vm.listType === 'list'" ng-show="vm.loading === false && vm.items.length !== 0">
                <umb-box-content>
                    <ul class="umb-actions umb-actions-child">
                        <li class="umb-action" ng-class="{ '-disabled': item.disabled }" ng-repeat="item in vm.items">
                            <button type="button" class="umb-action-link umb-outline btn-reset" ng-click="vm.select(item, $event)">
                                <div ng-if="vm.enableMultiple"
                                     ng-class="{'umb-checkmark--checked': vm.isSelected(item)}"
                                     class="umb-checkmark umb-checkmark--m umb-outline">
                                    <umb-icon ng-if="vm.isSelected(item)" icon="icon-check"></umb-icon>
                                </div>
                                <umb-icon icon="{{item.icon || vm.defaultIcon}}" class="large icon"></umb-icon>
                                <span class="menu-label">
                                    <span ng-bind="item.name"></span>
                                    <small ng-bind="item.description"></small>
                                </span>
                            </button>
                        </li>
                    </ul>
                </umb-box-content>
            </umb-box>

            <div class="flex justify-center" ng-show="vm.searchOptions.totalPages > 0 && vm.loading === false">
                <umb-pagination page-number="vm.searchOptions.pageNumber"
                                total-pages="vm.searchOptions.totalPages"
                                on-change="vm.pagination(pageNumber)">
                </umb-pagination>
            </div>

            <umb-empty-state ng-if="vm.loading === false && vm.searchOptions.query && vm.items.length === 0" position="center">
                <localize key="general_searchNoResult">Sorry, we can not find what you are looking for.</localize>
            </umb-empty-state>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button ng-if="vm.enableMultiple"
                            type="button"
                            button-style="success"
                            label-key="buttons_select"
                            shortcut="ctrl+s"
                            disabled="vm.allowSubmit === false"
                            action="vm.submit()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>
