<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f755f02-5f6e-42cc-a7ea-4b769e3232b2" Alias="Test - Data List" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestDataList</Path>
    <Trashed>false</Trashed>
    <ContentType>testDataListPage</ContentType>
    <CreateDate>2021-10-28T15:56:09</CreateDate>
    <NodeName Default="Test - Data List" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">testDataListPage</Template>
  </Info>
  <Properties>
    <dataListCountries>
      <Value><![CDATA[[
  "GB",
  "DK"
]]]></Value>
    </dataListCountries>
    <dataListCsv>
      <Value><![CDATA[value3]]></Value>
    </dataListCsv>
    <dataListCurrencies>
      <Value><![CDATA[[
  "GBP",
  "DKK"
]]]></Value>
    </dataListCurrencies>
    <dataListEnumeration>
      <Value><![CDATA[[
  "Red",
  "Blue",
  "Green"
]]]></Value>
    </dataListEnumeration>
    <dataListFileSystem>
      <Value><![CDATA[~/umbraco/lib/ace-builds/src-min-noconflict/mode-xml.js]]></Value>
    </dataListFileSystem>
    <dataListJson>
      <Value><![CDATA[value3]]></Value>
    </dataListJson>
    <dataListLanguages>
      <Value><![CDATA[[
  "en",
  "da"
]]]></Value>
    </dataListLanguages>
    <dataListNumberRange>
      <Value><![CDATA[5]]></Value>
    </dataListNumberRange>
    <dataListSql>
      <Value><![CDATA[]]></Value>
    </dataListSql>
    <dataListTimeZones>
      <Value><![CDATA[[
  "GMT Standard Time",
  "Romance Standard Time"
]]]></Value>
    </dataListTimeZones>
    <dataListUCssClassName>
      <Value><![CDATA[[
  "twitter-square",
  "facebook-square",
  "linkedin-square"
]]]></Value>
    </dataListUCssClassName>
    <dataListUmbracoContent>
      <Value><![CDATA[umb://document/7c6bcf13fa7d4949b975ffb331ee0dcc]]></Value>
    </dataListUmbracoContent>
    <dataListUmbracoContentByXPath>
      <Value><![CDATA[umb://document/7c6bcf13fa7d4949b975ffb331ee0dcc]]></Value>
    </dataListUmbracoContentByXPath>
    <dataListUmbracoContentProperties>
      <Value><![CDATA[pageBlocks]]></Value>
    </dataListUmbracoContentProperties>
    <dataListUmbracoContentTypes>
      <Value><![CDATA[umb://document-type/15cf8bbd22f24b61a29518235c978614]]></Value>
    </dataListUmbracoContentTypes>
    <dataListUmbracoDictionaryItems>
      <Value><![CDATA[1. Ready]]></Value>
    </dataListUmbracoDictionaryItems>
    <dataListUmbracoEntities>
      <Value><![CDATA[umb://media-type/cc07b31308434aa8bbda871c8da728c8]]></Value>
    </dataListUmbracoEntities>
    <dataListUmbracoExamineQuery>
      <Value><![CDATA[7c6bcf13-fa7d-4949-b975-ffb331ee0dcc]]></Value>
    </dataListUmbracoExamineQuery>
    <dataListUmbracoImageCrops>
      <Value><![CDATA[Medium]]></Value>
    </dataListUmbracoImageCrops>
    <dataListUmbracoLanguages>
      <Value><![CDATA[en-US]]></Value>
    </dataListUmbracoLanguages>
    <dataListUmbracoMemberGroups>
      <Value><![CDATA[]]></Value>
    </dataListUmbracoMemberGroups>
    <dataListUmbracoMembers>
      <Value><![CDATA[]]></Value>
    </dataListUmbracoMembers>
    <dataListUmbracoTags>
      <Value><![CDATA[]]></Value>
    </dataListUmbracoTags>
    <dataListUmbracoUserGroups>
      <Value><![CDATA[editor]]></Value>
    </dataListUmbracoUserGroups>
    <dataListUmbracoUsers>
      <Value><![CDATA[test@test.com]]></Value>
    </dataListUmbracoUsers>
    <dataListUserDefined>
      <Value><![CDATA[value3]]></Value>
    </dataListUserDefined>
    <dataListXml>
      <Value><![CDATA[value3]]></Value>
    </dataListXml>
    <dataListXmlSitemapChangeFrequency>
      <Value><![CDATA[[
  "never"
]]]></Value>
    </dataListXmlSitemapChangeFrequency>
    <dataListXmlSitemapPriority>
      <Value><![CDATA[[
  "0.5"
]]]></Value>
    </dataListXmlSitemapPriority>
  </Properties>
</Content>