<?xml version="1.0" encoding="utf-8"?>
<Media Key="b75442fc-6d5b-4d2c-a046-a8423d899b72" Alias="mr_contentment.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mr_contentmentpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-10T22:39:35</CreateDate>
    <NodeName Default="mr_contentment.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5jbfjn01/mr_contentment.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>