<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="f6c515bb-653c-4bdc-821c-987729ebe327" Alias="umbracoMediaVideo" Level="1">
  <Info>
    <Name>Video</Name>
    <Icon>icon-video</Icon>
    <Thumbnail>icon-video</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>0000002a-0000-0000-0000-000000000000</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>56f7e6c5-e6ef-4d38-bc39-235c015971e4</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="video">Video</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00000029-0000-0000-0000-000000000000</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="video">Video</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00000028-0000-0000-0000-000000000000</Key>
      <Name>Video</Name>
      <Alias>umbracoFile</Alias>
      <Definition>70575fe7-9812-4396-bbe1-c81a76db71b5</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="video">Video</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>2f0a61b6-cf92-4ff4-b437-751ab35eb254</Key>
      <Caption>Video</Caption>
      <Alias>video</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>