<!-- Copyright © 2019 Lee Kelleher, Umbrella Inc and other contributors.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div ng-controller="Umbraco.Community.Contentment.DataEditors.DropdownList.Controller as vm">
    <select id="{{model.alias}}"
            class="umb-dropdown"
            ng-model="model.value"
            ng-options="item.value as item.name disable when item.disabled for item in vm.items">
        <option ng-if="vm.allowEmpty"></option>
    </select>
</div>
