<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="962cb9c2-84b5-3ee1-9968-f1d81f6f89fd" Alias="relateParentElementContainerOnContainerDelete" Level="0">
  <Info>
    <Name>Relate Parent Element Container On Container Delete</Name>
    <ParentType>2815b0cf-9706-499f-aa2a-8a4c7aef005d</ParentType>
    <ChildType>2815b0cf-9706-499f-aa2a-8a4c7aef005d</ChildType>
    <Bidirectional>false</Bidirectional>
    <IsDependency>false</IsDependency>
  </Info>
</RelationType>