<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="28c4ae8b-c764-3486-baa2-23e83e8fe9e2" Alias="relateParentElementContainerOnElementDelete" Level="0">
  <Info>
    <Name>Relate Parent Element Container On Element Delete</Name>
    <ParentType>2815b0cf-9706-499f-aa2a-8a4c7aef005d</ParentType>
    <ChildType>3d7b623c-94b1-487d-8554-a46ec37568be</ChildType>
    <Bidirectional>false</Bidirectional>
    <IsDependency>false</IsDependency>
  </Info>
</RelationType>