<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="9eaf0f14-a7bc-3883-9300-88a7ae23cf75" Alias="umbElement" Level="0">
  <Info>
    <Name>Related Element</Name>
    <ParentType />
    <ChildType />
    <Bidirectional>false</Bidirectional>
    <IsDependency>true</IsDependency>
  </Info>
</RelationType>