<?xml version="1.0" encoding="utf-8"?>
<RelationType Key="bf2a9ac5-b791-377e-bafb-9d06ed87864d" Alias="umbMember" Level="0">
  <Info>
    <Name>Related Member</Name>
    <ParentType />
    <ChildType />
    <Bidirectional>false</Bidirectional>
    <IsDependency>true</IsDependency>
  </Info>
</RelationType>