<?xml version="1.0" encoding="utf-8"?>
<Content Key="f584df3e-effe-4269-8cf4-1366a03f4fff" Alias="Test - Notes" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestNotes</Path>
    <Trashed>false</Trashed>
    <ContentType>testNotesPage</ContentType>
    <CreateDate>2022-01-24T18:39:36</CreateDate>
    <NodeName Default="Test - Notes" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b8626a7a-ccf6-4e0d-923c-23d7086a78c8">testNotesPage</Template>
  </Info>
  <Properties>
    <editorNotes>
      <Value><![CDATA[]]></Value>
    </editorNotes>
    <notesRichText>
      <Value><![CDATA[]]></Value>
    </notesRichText>
    <renderMacroSitemap>
      <Value><![CDATA[]]></Value>
    </renderMacroSitemap>
    <templatedLabelExample>
      <Value><![CDATA[[
  "Ready",
  "Steady",
  "Go!"
]]]></Value>
    </templatedLabelExample>
  </Properties>
</Content>