<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddf45934-719e-4f17-8cd1-384d3a5a0172" Alias="Test - Misc" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestMisc</Path>
    <Trashed>false</Trashed>
    <ContentType>testMiscPage</ContentType>
    <CreateDate>2022-01-27T15:01:56</CreateDate>
    <NodeName Default="Test - Misc" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32cf5caf-9267-4cf4-8327-2dcbd24a1cd7">testMiscPage</Template>
  </Info>
  <Properties>
    <dataListItems>
      <Value><![CDATA[[{"icon":"icon-stop color-red","name":"Ready","value":"ready","description":""},{"icon":"icon-stop color-amber","name":"Steady","value":"steady","description":""},{"icon":"icon-stop color-green","name":"Go","value":"go","description":""}]]]></Value>
    </dataListItems>
    <dataPickerUmbracoContent>
      <Value><![CDATA[["umb://document/b31b9022676544e795251f9aac85cc5f","umb://document/f584df3eeffe42698cf41366a03f4fff"]]]></Value>
    </dataPickerUmbracoContent>
    <iconPicker>
      <Value><![CDATA[icon-science color-grey]]></Value>
    </iconPicker>
    <optionsForDataList>
      <Value><![CDATA[Ready
Steady
Go]]></Value>
    </optionsForDataList>
    <socialLinks>
      <Value><![CDATA[[{"network":"twitter","name":"Twitter","url":"https://twitter.com/leekelleher"},{"network":"github","name":"GitHub","url":"https://github.com/leekelleher"}]]]></Value>
    </socialLinks>
    <testTextbox>
      <Value><![CDATA[Ready,Steady,Go]]></Value>
    </testTextbox>
    <textboxList>
      <Value><![CDATA[{"telephone":"+44123456789","email":"test@test.test","website":"https://github.com/sponsors/leekelleher"}]]></Value>
    </textboxList>
    <textInput>
      <Value><![CDATA[]]></Value>
    </textInput>
    <textInputEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </textInputEmail>
  </Properties>
</Content>