<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f701ebd-8e99-4237-adda-4586d5149d33" Alias="Buttons" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/Buttons</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsButtonsPage</ContentType>
    <CreateDate>2025-10-07T22:14:36</CreateDate>
    <NodeName Default="Buttons" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListButtons>
      <Value><![CDATA[[
  "value3"
]]]></Value>
    </dataListButtons>
  </Properties>
</Content>