<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ff36d85-fa13-4f67-b55f-796435f662b0" Alias="Checkbox List" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/CheckboxList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsCheckboxListPage</ContentType>
    <CreateDate>2025-10-07T22:25:04</CreateDate>
    <NodeName Default="Checkbox List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListCheckboxList>
      <Value><![CDATA[[
  "value3"
]]]></Value>
    </dataListCheckboxList>
  </Properties>
</Content>