<?xml version="1.0" encoding="utf-8"?>
<Content Key="e960b406-1f0c-4541-a920-31dfde9c4477" Alias="Collection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Collection</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoCollectionPage</ContentType>
    <CreateDate>2026-08-16T16:01:22</CreateDate>
    <NodeName Default="Collection" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>