<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a3c18f0-6fa5-4942-ae3e-2bb57bae83ca" Alias="Combobox" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/Combobox</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsComboboxPage</ContentType>
    <CreateDate>2025-11-16T21:30:36</CreateDate>
    <NodeName Default="Combobox" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListCombobox>
      <Value><![CDATA[value1]]></Value>
    </dataListCombobox>
  </Properties>
</Content>