<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8c1e83d-403c-4921-bf8f-3104cac018fe" Alias="Content Blocks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentContentBlocksPage</ContentType>
    <CreateDate>2025-08-22T17:00:50</CreateDate>
    <NodeName Default="Content Blocks" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[[
  {
    "elementType": "1b00afd6-8c01-451f-8b3c-c4f64d972d5a",
    "key": "debe9b8f-3ba1-4db4-b4a2-719ea3b2c056",
    "value": {
      "test": "Hello world",
      "dataListButtons": "[\u0022value1\u0022,\u0022value2\u0022,\u0022value3\u0022]",
      "dataListCheckboxList": "[\u0022value1\u0022,\u0022value3\u0022]",
      "dataListDropdownList": "value3",
      "dataListRadioButtonList": "value3",
      "dataPickerUmbracoContent": null,
      "dataPickerNetCountries": "[\u0022DK\u0022,\u0022GB\u0022]",
      "dataPickerUmbracoMembers": "[\u0022umb://member/862c5352bb8f43deab6878364c3fc5b7\u0022,\u0022umb://member/498195ca346b49a899d03f1200b85e71\u0022]"
    }
  }
]]]></Value>
    </contentBlocks>
  </Properties>
</Content>