<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d99eb3c-ed40-402d-92bb-e4631c2d41db" Alias="Custom Component List" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/CustomComponentList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsCustomComponentListPage</ContentType>
    <CreateDate>2025-10-07T22:25:18</CreateDate>
    <NodeName Default="Custom Component List" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListCustomComponentList>
      <Value><![CDATA[[
  "value3"
]]]></Value>
    </dataListCustomComponentList>
  </Properties>
</Content>