<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a17e1d4-36c6-48b0-971d-d1f09f7ae610" Alias="Data List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataList</ContentType>
    <CreateDate>2025-08-22T16:57:00</CreateDate>
    <NodeName Default="Data List" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataList>
      <Value><![CDATA[]]></Value>
    </dataList>
  </Properties>
</Content>