<?xml version="1.0" encoding="utf-8"?>
<Content Key="961926f6-99b6-4f0d-bc46-8a30c6d74b5e" Alias="Data Sources: Web" Level="3">
  <Info>
    <Parent Key="418d5c66-2089-47de-ba39-87902aecb0bb">Data Sources</Parent>
    <Path>/DataList/DataSources/DataSourcesWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListDataSourcesWeb</ContentType>
    <CreateDate>2025-08-22T19:37:23</CreateDate>
    <NodeName Default="Data Sources: Web" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataListUCssClassName>
      <Value><![CDATA[[
  "github",
  "facebook",
  "linkedin"
]]]></Value>
    </dataListUCssClassName>
    <dataListXmlSitemapChangeFrequency>
      <Value><![CDATA[[
  "daily"
]]]></Value>
    </dataListXmlSitemapChangeFrequency>
    <dataListXmlSitemapPriority>
      <Value><![CDATA[[
  "0.5"
]]]></Value>
    </dataListXmlSitemapPriority>
  </Properties>
</Content>