<?xml version="1.0" encoding="utf-8"?>
<Content Key="450e2278-3a3b-4aba-affb-b454dadea777" Alias="Dropdown List" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/DropdownList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsDropdownListPage</ContentType>
    <CreateDate>2025-10-07T22:25:28</CreateDate>
    <NodeName Default="Dropdown List" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListDropdownList>
      <Value><![CDATA[value3]]></Value>
    </dataListDropdownList>
  </Properties>
</Content>