<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d314b78-a025-4985-bf7c-0fb6d84aebd9" Alias="Icon Picker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentIconPickerPage</ContentType>
    <CreateDate>2025-08-22T17:07:25</CreateDate>
    <NodeName Default="Icon Picker" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <iconPicker>
      <Value><![CDATA[icon-umbraco color-blue]]></Value>
    </iconPicker>
    <iconPickerSmall>
      <Value><![CDATA[icon-github color-text]]></Value>
    </iconPickerSmall>
  </Properties>
</Content>