<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a40b0f2-5ee8-448d-bab5-e55f332871b7" Alias="Kitchen Sink Page 1" Level="2">
  <Info>
    <Parent Key="e960b406-1f0c-4541-a920-31dfde9c4477">Collection</Parent>
    <Path>/Collection/KitchenSinkPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentKitchenSinkPage</ContentType>
    <CreateDate>2026-08-16T16:02:14</CreateDate>
    <NodeName Default="Kitchen Sink Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bytes1000>
      <Value><![CDATA[42630]]></Value>
    </bytes1000>
    <bytes1024>
      <Value><![CDATA[42630]]></Value>
    </bytes1024>
    <codeEditorHtml>
      <Value><![CDATA[<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>]]></Value>
    </codeEditorHtml>
    <codeEditorJavaScript>
      <Value><![CDATA[]]></Value>
    </codeEditorJavaScript>
    <codeEditorMarkdown>
      <Value><![CDATA[]]></Value>
    </codeEditorMarkdown>
    <contentBlocks>
      <Value><![CDATA[[
  {
    "elementType": "2719fe65-3825-4bd4-b9f7-cc8eef1c2d65",
    "key": "1648a814-1865-4760-ae93-8b22485473d9",
    "value": {
      "dataPickerUmbracoContent": "[\u0022umb://document/4c8e39fae940412b8eaa26546ec7a61e\u0022]"
    }
  },
  {
    "elementType": "ca215b05-94d2-46d0-8536-886cf03a7cc6",
    "key": "562dd886-86c2-4688-b612-97e8ca7450be",
    "value": {
      "testElementPicker": "[\u0022a849cd75-5bed-41e5-aeaa-06429bb18642\u0022,\u0022c2ebfa5d-8532-4141-9e32-61f11c6cf1a8\u0022,\u00220858773b-8b49-4f3b-8eb3-791be5643e40\u0022]"
    }
  }
]]]></Value>
    </contentBlocks>
    <contentBlocksMaximumItems1>
      <Value><![CDATA[]]></Value>
    </contentBlocksMaximumItems1>
    <dataListCheckboxList>
      <Value><![CDATA[[
  "value1",
  "value2",
  "value3"
]]]></Value>
    </dataListCheckboxList>
    <dataPickerNetCountries>
      <Value><![CDATA[]]></Value>
    </dataPickerNetCountries>
    <dataPickerUmbracoContent>
      <Value><![CDATA[[
  "umb://document/4c8e39fae940412b8eaa26546ec7a61e"
]]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[]]></Value>
    </dataPickerUmbracoMembers>
    <dataPickerUserDefinedItems>
      <Value><![CDATA[]]></Value>
    </dataPickerUserDefinedItems>
    <iconPicker>
      <Value><![CDATA[icon-umbraco color-blue]]></Value>
    </iconPicker>
    <iconPickerSmall>
      <Value><![CDATA[icon-github color-text]]></Value>
    </iconPickerSmall>
    <inputList>
      <Value><![CDATA[[
  {
    "key": "c2fa3e55-b7c8-481b-aa4f-2154b746eed7",
    "values": [
      {
        "key": "15adce92-5d55-4c87-ac2d-51a7099f726b",
        "dataType": "547d1d9a-0233-49c2-ad61-243207336fad",
        "value": "icon-umbraco color-blue"
      },
      {
        "key": "4a821795-fd2f-4e31-83ad-d4dc28804f18",
        "dataType": "0cc0eba1-9960-42c9-bf9b-60e150b429ae",
        "value": "Umbraco"
      }
    ]
  },
  {
    "key": "4db81594-909a-4925-8a9b-feaefd41e58d",
    "values": [
      {
        "key": "15adce92-5d55-4c87-ac2d-51a7099f726b",
        "dataType": "547d1d9a-0233-49c2-ad61-243207336fad",
        "value": "icon-github"
      },
      {
        "key": "4a821795-fd2f-4e31-83ad-d4dc28804f18",
        "dataType": "0cc0eba1-9960-42c9-bf9b-60e150b429ae",
        "value": "GitHub"
      }
    ]
  }
]]]></Value>
    </inputList>
    <listItems>
      <Value><![CDATA[[
  {
    "name": "Umbraco",
    "value": "umbraco",
    "icon": "icon-umbraco color-blue",
    "description": "https://umbraco.com/"
  },
  {
    "name": "GitHub",
    "value": "github",
    "icon": "icon-github color-undefined",
    "description": "https://github.com/"
  },
  {
    "name": "uSync",
    "value": "usync",
    "icon": "usync-logo color-grey",
    "description": "https://jumoo.co.uk/usync/"
  }
]]]></Value>
    </listItems>
    <numberInputExtraLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputExtraLarge>
    <numberInputLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputLarge>
    <numberInputMedium>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputMedium>
    <numberInputSmall>
      <Value><![CDATA[123]]></Value>
    </numberInputSmall>
    <socialLinks>
      <Value><![CDATA[[
  {
    "name": "GitHub",
    "network": "github",
    "url": "https://github.com/"
  },
  {
    "name": "Discord",
    "network": "discord",
    "url": "https://discord.com/"
  },
  {
    "name": "LinkedIn",
    "network": "linkedin",
    "url": "https://linkedin.com/in/"
  },
  {
    "name": "YouTube",
    "network": "youtube",
    "url": "https://youtube.com/"
  }
]]]></Value>
    </socialLinks>
    <textboxList>
      <Value><![CDATA[{
  "tel": "555-012345",
  "email": "leekelleher@gmail.com",
  "url": "https://leekelleher.com/"
}]]></Value>
    </textboxList>
    <textInput>
      <Value><![CDATA[Hello world]]></Value>
    </textInput>
    <textInputDataSource>
      <Value><![CDATA[]]></Value>
    </textInputDataSource>
    <textInputEmail>
      <Value><![CDATA[]]></Value>
    </textInputEmail>
    <textInputMaxChars>
      <Value><![CDATA[]]></Value>
    </textInputMaxChars>
  </Properties>
</Content>