<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c8e39fa-e940-412b-8eaa-26546ec7a61e" Alias="Lee Kelleher" Level="2">
  <Info>
    <Parent Key="8d225100-92b1-49e2-9099-c0751b1a28a5">Umbraco Property Editors</Parent>
    <Path>/UmbracoPropertyEditors/LeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoPage</ContentType>
    <CreateDate>2025-10-07T18:36:44</CreateDate>
    <NodeName Default="Lee Kelleher" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <image>
      <Value><![CDATA[[
  {
    "key": "ed3fdae3-0669-4e87-9eac-c43b7d69be70",
    "mediaKey": "0ab0cc1a-6e3e-4b5b-bf20-5a4a5f0710ab",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>