<?xml version="1.0" encoding="utf-8"?>
<Content Key="398b7995-d9b5-460c-ae2a-6eb68781d269" Alias="List Editors" Level="2">
  <Info>
    <Parent Key="7a17e1d4-36c6-48b0-971d-d1f09f7ae610">Data List</Parent>
    <Path>/DataList/ListEditors</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsPage</ContentType>
    <CreateDate>2025-10-07T22:09:42</CreateDate>
    <NodeName Default="List Editors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>