<?xml version="1.0" encoding="utf-8"?>
<Content Key="f415b669-16d1-4302-a250-5ba2182cc6e4" Alias="Mr Contentment" Level="2">
  <Info>
    <Parent Key="8d225100-92b1-49e2-9099-c0751b1a28a5">Umbraco Property Editors</Parent>
    <Path>/UmbracoPropertyEditors/MrContentment</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoPage</ContentType>
    <CreateDate>2025-10-07T18:37:06</CreateDate>
    <NodeName Default="Mr Contentment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <image>
      <Value><![CDATA[[
  {
    "key": "7df99887-b581-41c1-918e-4bb4827d6e07",
    "mediaKey": "b75442fc-6d5b-4d2c-a046-a8423d899b72",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>