<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c5e8130-6603-427e-8a25-3bd3d8b06234" Alias="Notes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Notes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentNotesPage</ContentType>
    <CreateDate>2025-08-22T17:13:07</CreateDate>
    <NodeName Default="Notes" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <notesBasicHtml>
      <Value><![CDATA[]]></Value>
    </notesBasicHtml>
  </Properties>
</Content>