<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f1521a7-02fe-4fd4-a7ad-01384d4670ab" Alias="Number Input" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NumberInput</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentNumberInputPage</ContentType>
    <CreateDate>2025-08-22T17:23:54</CreateDate>
    <NodeName Default="Number Input" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <numberInputExtraLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputExtraLarge>
    <numberInputLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputLarge>
    <numberInputMedium>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputMedium>
    <numberInputSmall>
      <Value><![CDATA[123]]></Value>
    </numberInputSmall>
  </Properties>
</Content>