<?xml version="1.0" encoding="utf-8"?>
<Content Key="110f63b4-743b-4255-9f1a-745c349cdac4" Alias="Radio Button List" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/RadioButtonList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsRadioButtonListPage</ContentType>
    <CreateDate>2025-10-07T22:25:54</CreateDate>
    <NodeName Default="Radio Button List" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListRadioButtonList>
      <Value><![CDATA[value3]]></Value>
    </dataListRadioButtonList>
  </Properties>
</Content>