<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd580873-17c7-45b0-b902-71e9e0cffe64" Alias="Tags" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/Tags</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsTagsPage</ContentType>
    <CreateDate>2025-10-07T22:26:09</CreateDate>
    <NodeName Default="Tags" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListTags>
      <Value><![CDATA[[
  "value1",
  "value2",
  "value3"
]]]></Value>
    </dataListTags>
  </Properties>
</Content>