<?xml version="1.0" encoding="utf-8"?>
<Content Key="52c7cb84-838b-47c2-a5ac-fe563e01140d" Alias="Unpublished Umbraco Page" Level="2">
  <Info>
    <Parent Key="8d225100-92b1-49e2-9099-c0751b1a28a5">Umbraco Property Editors</Parent>
    <Path>/UmbracoPropertyEditors/UnpublishedUmbracoPage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoPage</ContentType>
    <CreateDate>2026-08-07T17:35:30</CreateDate>
    <NodeName Default="Unpublished Umbraco Page" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[]]></Value>
    </blockList>
    <dropdownList>
      <Value><![CDATA[]]></Value>
    </dropdownList>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>