<?xml version="1.0" encoding="utf-8"?>
<DataType Key="640b9a76-c2c8-4859-a9a7-9eaa2426e726" Alias="[Contentment] Data List - Umbraco Content Types" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Content Types</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentTypesDataListSource, Umbraco.Community.Contentment",
      "value": {
        "contentTypes": [
          "documentTypesTemplates"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>