<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9da11bd-eb40-4f4a-9d55-d7d70c846dbb" Alias="[Contentment] Content Blocks - Footer Settings" Level="1">
  <Info>
    <Name>[Contentment] Content Blocks - Footer Settings</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "2343cad7-7acc-418b-990a-0d6da5cc0736",
      "value": {
        "nameTemplate": "Footer Settings ({{!!footerMenu ? footerMenu.length : 0}} links)",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "maxItems": 1,
  "disableSorting": "1",
  "enableDevMode": "0"
}]]></Config>
</DataType>