<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16393b04-a15c-434b-a658-d8e30f76a28f" Alias="[Contentment] Text Input - Heading" Level="1">
  <Info>
    <Name>[Contentment] Text Input - Heading</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "placeholderText": "Enter heading...",
  "items": [],
  "maxChars": 150,
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>