<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f6a081b-0145-400d-b8d9-4b0d9266a4b6" Alias="[Contentment] Data List - Data Number Range" Level="2">
  <Info>
    <Name>[Contentment] Data List - Data Number Range</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.NumberRangeDataListSource, Umbraco.Community.Contentment",
      "value": {
        "start": 1,
        "end": 5,
        "step": 1,
        "decimals": "0"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TemplatedListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "template": "<div class=\"w4 img-polaroid\" style=\"background-color:inherit;padding:10px 5px;\" ng-bind=\"item.name\"></div>",
        "allowClear": "0",
        "htmlAttributes": [
          {
            "name": "class",
            "value": "umb-property-editor--limit-width flex flex-wrap justify-between"
          }
        ]
      }
    }
  ]
}]]></Config>
</DataType>