<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd383342-d4f9-458d-8325-bb93f9a51183" Alias="[Contentment] Content Blocks - Content" Level="1">
  <Info>
    <Name>[Contentment] Content Blocks - Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "55877ddd-640f-4d73-8b53-f8c671e8415a",
      "value": {
        "nameTemplate": "HTML Embed: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "1"
}]]></Config>
</DataType>