<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a57a0bc0-732f-4d00-8fa0-6635b4de28f4" Alias="[Contentment] Data List - Data SQL" Level="2">
  <Info>
    <Name>[Contentment] Data List - Data SQL</Name>
    <EditorAlias>Umbraco.Community.Contentment.TemplatedLabel</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "STRING",
  "notes": "<div class=\"alert alert-error umb-property-editor--limit-width flex content-center justify-between\">\n    <details open>\n        <summary>SQL Data source does not currently support querying SQL CE on Umbraco 9.</summary>\n        <p class=\"mb0\">Can you help me fix it? <strong><a rel=\"noopener\" href=\"https://github.com/leekelleher/umbraco-contentment/issues/172\" target=\"_blank\">Please see issue #172 on the GitHub repository for further details</a></strong>.</p>\n    </details>\n    <lee-was-here></lee-was-here>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>