<?xml version="1.0" encoding="utf-8"?>
<DataType Key="093263d0-d3ee-433a-9ea9-770177fc5a30" Alias="[Contentment] Data List - Render Position" Level="1">
  <Info>
    <Name>[Contentment] Data List - Render Position</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "Umbraco.Cms.9.x",
          "Umbraco.Cms.Web.Common.PublishedModels.RenderPosition"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "0",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>