<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5046194e-4237-453c-a547-15db3a07c4e1" Alias="Date Picker" Level="1">
  <Info>
    <Name>Date Picker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>