<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Dropdown multiple" Level="1">
  <Info>
    <Name>Dropdown multiple</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": []
}]]></Config>
</DataType>