<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e7f995c-bd81-4627-9932-c40e568ec788" Alias="Label (integer)" Level="1">
  <Info>
    <Name>Label (integer)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "INT"
}]]></Config>
</DataType>