<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "Multiple": false,
  "ValidationLimit": {
    "min": 0,
    "max": 1
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": null
}]]></Config>
</DataType>