<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b661f40-2242-4b44-b9cb-3990ee2b13c0" Alias="Multiple Media Picker" Level="1">
  <Info>
    <Name>Multiple Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "Multiple": true,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": null
}]]></Config>
</DataType>