<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dbbcbbb-2327-434a-b355-af1b84e5010a" Alias="Multiple Media Picker (legacy)" Level="1">
  <Info>
    <Name>Multiple Media Picker (legacy)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": false,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>