<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6b73142-b9c1-4bf8-a16d-e1c23320b549" Alias="Tags" Level="1">
  <Info>
    <Name>Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>