<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7be9f98b-ed24-4ae9-902d-06ee521d46ce" Alias="[Umbraco] Url Picker - Multiple" Level="1">
  <Info>
    <Name>[Umbraco] Url Picker - Multiple</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": true,
  "HideAnchor": false
}]]></Config>
</DataType>