<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f430dd6-4e96-447e-9dc0-cb552c8cd1f3" Alias="Upload Audio" Level="1">
  <Info>
    <Name>Upload Audio</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "mp3"
    },
    {
      "id": 1,
      "value": "weba"
    },
    {
      "id": 2,
      "value": "oga"
    },
    {
      "id": 3,
      "value": "opus"
    }
  ]
}]]></Config>
</DataType>