<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94ec7f2c-842c-4e0e-bb01-75ab2be26065" Alias="pageHeadingProperty" Level="2">
  <Info>
    <Name>[Page] Heading Property</Name>
    <Icon>icon-billboard color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f3793a45-efba-47af-977e-270b05ce3c05</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>16393b04-a15c-434b-a658-d8e30f76a28f</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>50</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>