<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="981d392b-a232-4ff3-82dd-4420bd9e879e" Alias="siteModulesProperty" Level="2">
  <Info>
    <Name>[Site] Modules Property</Name>
    <Icon>icon-brick color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2de6b604-9076-40c9-9016-16e43796f8e4</Key>
      <Name>Site modules</Name>
      <Alias>siteModules</Alias>
      <Definition>a33271f2-043f-4deb-8482-bc4c664f6ad2</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Configure general modules for the website, these are applied across all pages.]]></Description>
      <SortOrder>60</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>100</SortOrder>
      <Alias>settings</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>