<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be1a660e-e7b1-49b7-8101-45095e56350a" Alias="testMiscPage" Level="2">
  <Info>
    <Name>Test Misc Page</Name>
    <Icon>icon-defrag color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A demo page to test miscellaneous property editors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>testMiscPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32cf5caf-9267-4cf4-8327-2dcbd24a1cd7">testMiscPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5049c7f6-0ccb-4315-b4fb-3c860d7c39cc</Key>
      <Name>Test Textbox</Name>
      <Alias>testTextbox</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used as a guide/comparison for the Textbox List editor.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8293bcfa-382d-4532-9501-ee14e808322d</Key>
      <Name>Textbox List</Name>
      <Alias>textboxList</Alias>
      <Definition>d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061</Definition>
      <Type>Umbraco.Community.Contentment.TextboxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>948eecc7-8ea2-4fe3-b5fb-8c9259f9a06d</Key>
      <Name>Text Input</Name>
      <Alias>textInput</Alias>
      <Definition>f560933e-d476-4157-b512-0971342619cb</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b625af7-3682-4199-957e-082ad9f51c90</Key>
      <Name>Text Input Email</Name>
      <Alias>textInputEmail</Alias>
      <Definition>47ba9960-89c6-4115-8108-76047170cfac</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Textboxes</Caption>
      <SortOrder>10</SortOrder>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
    </Tab>
  </Tabs>
</ContentType>