<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a36df9f1-1586-4594-a85a-c99259234aeb" Alias="testDataListPage" Level="2">
  <Info>
    <Name>Test Data List Page</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A demo page to test the data list editors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>testDataListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">testDataListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>737b3e85-786b-48fc-beef-4a7a9ced8cdc</Key>
      <Name>Data List Countries</Name>
      <Alias>dataListCountries</Alias>
      <Definition>817e34da-3e9c-4c42-a3e3-de29c0a749c9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="neT">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb0bf6f9-6525-4949-b662-a69e3fea6584</Key>
      <Name>Data List CSV</Name>
      <Alias>dataListCsv</Alias>
      <Definition>e1a466ca-74ef-4f35-87aa-748fc290c895</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b442414-d8b5-412c-9cc8-bd02e6135372</Key>
      <Name>Data List Currencies</Name>
      <Alias>dataListCurrencies</Alias>
      <Definition>6410e6b7-0af4-4830-a5c8-103b8a2e3400</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="neT">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81ba3b11-c099-478d-80b0-6a431aec0366</Key>
      <Name>Data List Enumeration</Name>
      <Alias>dataListEnumeration</Alias>
      <Definition>869e60dc-a1ef-41c1-abad-b241eb796965</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="neT">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12f40361-dc98-45cd-b484-b2da7771d20b</Key>
      <Name>Data List File System</Name>
      <Alias>dataListFileSystem</Alias>
      <Definition>dec9a23a-f49b-4f51-9231-23ad05a95beb</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f8ea653-9de5-46f2-be69-1c8eaf7b3bf1</Key>
      <Name>Data List JSON</Name>
      <Alias>dataListJson</Alias>
      <Definition>8ac69d41-32e9-4ad1-b49b-215216ea2279</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d5cc0d8-0962-4be3-80e6-2655209ed76e</Key>
      <Name>Data List Languages</Name>
      <Alias>dataListLanguages</Alias>
      <Definition>44e8c5f9-aeb9-4766-8209-f56c28587880</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="neT">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9483ee0d-139c-452f-acc6-4859ff01f745</Key>
      <Name>Data List Number Range</Name>
      <Alias>dataListNumberRange</Alias>
      <Definition>5f6a081b-0145-400d-b8d9-4b0d9266a4b6</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd6bdc78-1936-40e5-aadf-fa4705f837e2</Key>
      <Name>Data List SQL</Name>
      <Alias>dataListSql</Alias>
      <Definition>a57a0bc0-732f-4d00-8fa0-6635b4de28f4</Definition>
      <Type>Umbraco.Community.Contentment.TemplatedLabel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f51658e-b586-4dc1-8ae2-01bf78f1cbad</Key>
      <Name>Data List Time Zones</Name>
      <Alias>dataListTimeZones</Alias>
      <Definition>af1d3c44-85b9-4c6b-a73c-abea29f69ee6</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="neT">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ca586fe-90d0-45a0-9447-64f4305b0442</Key>
      <Name>Data List uCssClassName</Name>
      <Alias>dataListUCssClassName</Alias>
      <Definition>89179373-0e13-4d02-9273-728e205a9544</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="web">Web</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5771fe4d-40d7-45ae-9c30-3a91e4626005</Key>
      <Name>Data List Umbraco Content</Name>
      <Alias>dataListUmbracoContent</Alias>
      <Definition>9d311d8f-7709-48e9-b0dc-1a42e4e41a5e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4023c2bf-e0d9-407e-b967-5661484e4e0f</Key>
      <Name>Data List Umbraco Content by XPath</Name>
      <Alias>dataListUmbracoContentByXPath</Alias>
      <Definition>2097af34-6a8b-4ad2-a279-74236b5f6b09</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e1d5e4a-89b4-49c8-9fc5-7f1d1a845195</Key>
      <Name>Data List Umbraco Content Properties</Name>
      <Alias>dataListUmbracoContentProperties</Alias>
      <Definition>8e42b30e-960e-42a2-865b-e1ba6b7f9252</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>defc7c97-3b27-4aca-aad7-fdc1ba3f5581</Key>
      <Name>Data List Umbraco Content Types</Name>
      <Alias>dataListUmbracoContentTypes</Alias>
      <Definition>640b9a76-c2c8-4859-a9a7-9eaa2426e726</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fd8980c-110a-4edd-8bbc-0986ab482a9c</Key>
      <Name>Data List Umbraco Dictionary Items</Name>
      <Alias>dataListUmbracoDictionaryItems</Alias>
      <Definition>3bd4cce2-681e-4cdf-8da1-11ab055da96a</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecd181da-9e0b-45e3-a3d1-2a5bad3a0aee</Key>
      <Name>Data List Umbraco Entities</Name>
      <Alias>dataListUmbracoEntities</Alias>
      <Definition>3a67d9b2-69e7-4b20-8e91-612b30e861c4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>887a65ff-3702-42a5-ab61-cefb5d50cdd6</Key>
      <Name>Data List Umbraco Examine Query</Name>
      <Alias>dataListUmbracoExamineQuery</Alias>
      <Definition>765d8799-ee11-49a5-914c-524046a4772b</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2ecce5b-6431-47a1-9447-6fa43a51b528</Key>
      <Name>Data List Umbraco Image Crops</Name>
      <Alias>dataListUmbracoImageCrops</Alias>
      <Definition>6d60f871-101a-484a-8202-533080269110</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbraco/media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e1f4226-36ec-4a6d-aa51-50dd54fc4914</Key>
      <Name>Data List Umbraco Languages</Name>
      <Alias>dataListUmbracoLanguages</Alias>
      <Definition>590e4a8b-3bcc-4efc-963a-69586197554e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc0c93c8-a235-42ab-8616-0b1c5c157a15</Key>
      <Name>Data List Umbraco Member Groups</Name>
      <Alias>dataListUmbracoMemberGroups</Alias>
      <Definition>f7676f29-b520-4446-95ff-990b17a53df0</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add member groups to test this.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbraco/members">Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b1942c4-91a3-47b9-b758-7f7785b0dc95</Key>
      <Name>Data List Umbraco Members</Name>
      <Alias>dataListUmbracoMembers</Alias>
      <Definition>a118b031-034a-4a53-89e7-729b07b9b9f3</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add members to test this.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbraco/members">Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0dbcefa0-7f1d-4c55-82a9-792a5d23278d</Key>
      <Name>Data List Umbraco Tags</Name>
      <Alias>dataListUmbracoTags</Alias>
      <Definition>19f34221-229e-4a67-9f95-f33c0a8611be</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>523a4868-6061-4f90-9a34-d23db332918a</Key>
      <Name>Data List Umbraco User Groups</Name>
      <Alias>dataListUmbracoUserGroups</Alias>
      <Definition>ebcb7a62-b400-4446-8fa3-a0983a0b0537</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbraco/users">Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7572571-eb65-4871-afde-4b529501880c</Key>
      <Name>Data List Umbraco Users</Name>
      <Alias>dataListUmbracoUsers</Alias>
      <Definition>3a54db60-04e4-489b-a27f-0fd14f13d387</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbraco/users">Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4fc80323-bea3-4dfd-b1f0-3b77210e8619</Key>
      <Name>Data List User-defined</Name>
      <Alias>dataListUserDefined</Alias>
      <Definition>a4d45ecc-eed6-4b53-9f83-8282e9bfcfc1</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45a7f9a7-543d-4114-9a4d-a31169dec7c4</Key>
      <Name>Data List XML</Name>
      <Alias>dataListXml</Alias>
      <Definition>5448fd87-723a-4092-9894-2c3e9860bb0c</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c870267f-8326-4489-ad10-1b2fd86476e7</Key>
      <Name>Data List XML Sitemap Change Frequency</Name>
      <Alias>dataListXmlSitemapChangeFrequency</Alias>
      <Definition>960b183d-f3f8-44c5-b290-151e2d40d63e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="web/xmlSitemap">XML Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7887e9c-10fa-4145-b2f8-12e982c0b003</Key>
      <Name>Data List XML Sitemap: Priority</Name>
      <Alias>dataListXmlSitemapPriority</Alias>
      <Definition>9a70de9b-b297-48d8-962b-9382939d1df4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="web/xmlSitemap">XML Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>.NET</Caption>
      <SortOrder>0</SortOrder>
      <Alias>neT</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>XML Sitemap</Caption>
      <SortOrder>0</SortOrder>
      <Alias>web/xmlSitemap</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Data</Caption>
      <SortOrder>1</SortOrder>
      <Alias>data</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
      <Alias>umbraco/content</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Umbraco</Caption>
      <SortOrder>2</SortOrder>
      <Alias>umbraco</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Media</Caption>
      <SortOrder>2</SortOrder>
      <Alias>umbraco/media</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Members</Caption>
      <SortOrder>2</SortOrder>
      <Alias>umbraco/members</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Web</Caption>
      <SortOrder>3</SortOrder>
      <Alias>web</Alias>
      <Type>Tab</Type>
    </Tab>
    <Tab>
      <Caption>Users</Caption>
      <SortOrder>3</SortOrder>
      <Alias>umbraco/users</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Schema</Caption>
      <SortOrder>4</SortOrder>
      <Alias>umbraco/schema</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>