<!-- Copyright © 2019 Lee Kelleher, Umbrella Inc and other contributors.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment" ng-controller="Our.Umbraco.Contentment.Overlays.ConfigurationEditor.Controller as vm">
    <umb-editor-view>

        <umb-editor-header name="vm.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div ng-if="vm.mode == 'select'">

                <umb-box ng-if="vm.items.length > 0">
                    <umb-box-content class="block-form">
                        <div class="form-search" ng-if="vm.enableFilter">
                            <i class="icon-search"></i>
                            <input type="text"
                                   ng-model="vm.searchTerm"
                                   class="umb-search-field search-query input-block-level -full-width-input"
                                   localize="placeholder"
                                   placeholder="@placeholders_filter"
                                   umb-auto-focus
                                   no-dirty-check />
                        </div>
                        <ul class="umb-actions umb-actions-child">
                            <li class="umb-action" ng-repeat="item in vm.items | orderBy:vm.orderBy | filter:vm.searchTerm">
                                <a class="umb-action-link" ng-click="vm.select(item)">
                                    <i class="large icon {{item.icon}}"></i>
                                    <span class="menu-label">
                                        {{item.name}}
                                        <small>{{item.description}}</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </umb-box-content>
                </umb-box>

                <umb-empty-state ng-if="vm.items.length == 0" position="center">
                    <div><lee-was-here /></div>
                    <p>There are no items available to insert.</p>
                </umb-empty-state>

            </div>

            <div ng-if="vm.mode == 'edit'">

                <umb-empty-state ng-if="vm.editor === undefined" position="center">
                    <div><lee-was-here /></div>
                    <p>Unable to find the editor for this value.</p>
                </umb-empty-state>

                <umb-box ng-if="vm.editor.fields.length > 0">
                    <umb-box-content class="block-form">
                        <ng-form class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
                            <umb-property property="field" ng-repeat="field in vm.editor.fields">
                                <umb-property-editor model="field" is-pre-value="true"></umb-property-editor>
                            </umb-property>
                        </ng-form>
                    </umb-box-content>
                </umb-box>

                <umb-empty-state ng-if="vm.editor.fields.length == 0" position="center">
                    <div><lee-was-here /></div>
                    <p>There are no parameters for this item.</p>
                </umb-empty-state>

            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            shortcut="esc"
                            label-key="general_close"
                            action="vm.close()">
                </umb-button>
                <umb-button ng-if="vm.save"
                            type="button"
                            button-style="success"
                            shortcut="ctrl+s"
                            label-key="bulk_done"
                            action="vm.save(vm.editor)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>
