<?xml version="1.0" encoding="utf-8"?>
<Domain Key="cdcab783-0000-0000-0000-000000000000" Alias="/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">/Contentment/Home</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>