<?xml version="1.0" encoding="utf-8"?>
<Element Key="a849cd75-5bed-41e5-aeaa-06429bb18642" Alias="Bytes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bytes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentBytesElement</ContentType>
    <CreateDate>2026-06-13T08:43:00</CreateDate>
    <NodeName Default="Bytes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bytes1000>
      <Value><![CDATA[]]></Value>
    </bytes1000>
    <bytes1024>
      <Value><![CDATA[]]></Value>
    </bytes1024>
  </Properties>
</Element>