<?xml version="1.0" encoding="utf-8"?>
<Element Key="e449745a-1b9c-46ab-acd9-3f8900bae934" Alias="Data Picker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataPickerElement</ContentType>
    <CreateDate>2026-06-13T08:43:22</CreateDate>
    <NodeName Default="Data Picker" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <dataPickerNetCountries>
      <Value><![CDATA[[
  "DK",
  "GB"
]]]></Value>
    </dataPickerNetCountries>
    <dataPickerUmbracoContent>
      <Value><![CDATA[]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[[
  "umb://member/862c5352bb8f43deab6878364c3fc5b7",
  "umb://member/498195ca346b49a899d03f1200b85e71",
  "umb://member/c9fd7b3c215842b9bfe24bb3e078f775"
]]]></Value>
    </dataPickerUmbracoMembers>
  </Properties>
</Element>