<?xml version="1.0" encoding="utf-8"?>
<Element Key="31298077-c97b-49f1-a6d1-7ec65d8d6d32" Alias="Data List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListElement</ContentType>
    <CreateDate>2026-06-13T08:43:12</CreateDate>
    <NodeName Default="Data List" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <dataListButtons>
      <Value><![CDATA[[
  "value1"
]]]></Value>
    </dataListButtons>
    <dataListCheckboxList>
      <Value><![CDATA[[
  "value1"
]]]></Value>
    </dataListCheckboxList>
    <dataListCombobox>
      <Value><![CDATA[value1]]></Value>
    </dataListCombobox>
    <dataListDropdownList>
      <Value><![CDATA[value1]]></Value>
    </dataListDropdownList>
    <dataListRadioButtonList>
      <Value><![CDATA[value1]]></Value>
    </dataListRadioButtonList>
    <dataPickerNetCountries>
      <Value><![CDATA[[
  "DK",
  "GB"
]]]></Value>
    </dataPickerNetCountries>
    <dataPickerUmbracoContent>
      <Value><![CDATA[]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[[
  "umb://member/862c5352bb8f43deab6878364c3fc5b7",
  "umb://member/498195ca346b49a899d03f1200b85e71",
  "umb://member/c9fd7b3c215842b9bfe24bb3e078f775"
]]]></Value>
    </dataPickerUmbracoMembers>
    <test>
      <Value><![CDATA[Hello world]]></Value>
    </test>
    <test3>
      <Value><![CDATA[Hello world]]></Value>
    </test3>
    <test5>
      <Value><![CDATA[Hello world]]></Value>
    </test5>
  </Properties>
</Element>