<?xml version="1.0" encoding="utf-8"?>
<Element Key="03b15384-2f4d-4828-b80a-fc758b301df6" Alias="Editor Notes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EditorNotes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentEditorNotesElement</ContentType>
    <CreateDate>2026-06-13T08:43:29</CreateDate>
    <NodeName Default="Editor Notes" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <editorNotesDanger>
      <Value><![CDATA[]]></Value>
    </editorNotesDanger>
    <editorNotesDefault>
      <Value><![CDATA[]]></Value>
    </editorNotesDefault>
    <editorNotesInfo>
      <Value><![CDATA[]]></Value>
    </editorNotesInfo>
    <editorNotesPositive>
      <Value><![CDATA[]]></Value>
    </editorNotesPositive>
    <editorNotesWarning>
      <Value><![CDATA[]]></Value>
    </editorNotesWarning>
  </Properties>
</Element>