<?xml version="1.0" encoding="utf-8"?>
<Element Key="a14a4d12-1453-4ed4-8b13-1a4cc1c8789a" Alias="Icon Picker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentIconPickerElement</ContentType>
    <CreateDate>2026-06-13T08:43:40</CreateDate>
    <NodeName Default="Icon Picker" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <iconPicker>
      <Value><![CDATA[icon-umbraco color-blue]]></Value>
    </iconPicker>
    <iconPickerSmall>
      <Value><![CDATA[icon-github]]></Value>
    </iconPickerSmall>
  </Properties>
</Element>