<?xml version="1.0" encoding="utf-8"?>
<Element Key="8997f1d6-944f-4f7e-a1dd-4413f88579a8" Alias="List Items" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ListItems</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentListItemsElement</ContentType>
    <CreateDate>2026-06-13T08:44:02</CreateDate>
    <NodeName Default="List Items" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <listItems>
      <Value><![CDATA[[
  {
    "name": "Umbraco",
    "value": "umbraco",
    "icon": "icon-umbraco color-blue",
    "description": "https://umbraco.com/"
  },
  {
    "name": "GitHub",
    "value": "github",
    "icon": "icon-github color-undefined",
    "description": "https://github.com/"
  },
  {
    "name": "uSync",
    "value": "usync",
    "icon": "usync-logo color-grey",
    "description": "https://jumoo.co.uk/usync/"
  }
]]]></Value>
    </listItems>
  </Properties>
</Element>