<?xml version="1.0" encoding="utf-8"?>
<Element Key="ab5d042b-ab1c-40c2-9d2b-c26c69b4ab94" Alias="Notes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Notes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentNotesElement</ContentType>
    <CreateDate>2026-06-13T08:44:12</CreateDate>
    <NodeName Default="Notes" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <notesBasicHtml>
      <Value><![CDATA[]]></Value>
    </notesBasicHtml>
  </Properties>
</Element>