<?xml version="1.0" encoding="utf-8"?>
<Element Key="b0c12971-50ca-4440-a590-642de3e6eb4a" Alias="Number Input" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NumberInput</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentNumberInputElement</ContentType>
    <CreateDate>2026-06-13T08:44:28</CreateDate>
    <NodeName Default="Number Input" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <numberInputExtraLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputExtraLarge>
    <numberInputLarge>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputLarge>
    <numberInputMedium>
      <Value><![CDATA[1234567890]]></Value>
    </numberInputMedium>
    <numberInputSmall>
      <Value><![CDATA[123]]></Value>
    </numberInputSmall>
  </Properties>
</Element>