<?xml version="1.0" encoding="utf-8"?>
<Element Key="e4abe728-e871-4035-8d73-15f19bdb2001" Alias="Templated Label" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TemplatedLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentTemplatedLabelElement</ContentType>
    <CreateDate>2026-06-13T08:44:50</CreateDate>
    <NodeName Default="Templated Label" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <templatedLabelJson>
      <Value><![CDATA[[
  {
    "name": "Ready",
    "value": "value1",
    "icon": "icon-stop-alt color-red",
    "description": "One for the money."
  },
  {
    "name": "Steady",
    "value": "value2",
    "icon": "icon-stop-alt color-orange",
    "description": "Two for the show."
  },
  {
    "name": "Go!",
    "value": "value3",
    "icon": "icon-stop-alt color-green",
    "description": "Three to get ready. Now go, cat, go."
  }
]]]></Value>
    </templatedLabelJson>
  </Properties>
</Element>