<?xml version="1.0" encoding="utf-8"?>
<Element Key="cab6dfb5-7631-4985-a7b1-b7ce9b212471" Alias="Textbox List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextboxList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentTextboxListElement</ContentType>
    <CreateDate>2026-06-13T08:45:19</CreateDate>
    <NodeName Default="Textbox List" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <textboxList>
      <Value><![CDATA[{
  "tel": "\u002B44 123456789",
  "email": "test@test.test",
  "url": "https://github.com/sponsors/leekelleher"
}]]></Value>
    </textboxList>
  </Properties>
</Element>