<?xml version="1.0" encoding="utf-8"?>
<Element Key="43270ec0-bec6-4a85-b486-8ba28679bee1" Alias="Text Input" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextInput</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentTextInputElement</ContentType>
    <CreateDate>2026-06-13T08:44:59</CreateDate>
    <NodeName Default="Text Input" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <textInput>
      <Value><![CDATA[+44 123456789]]></Value>
    </textInput>
    <textInputDataSource>
      <Value><![CDATA[umbraco]]></Value>
    </textInputDataSource>
    <textInputEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </textInputEmail>
    <textInputMaxChars>
      <Value><![CDATA[Hello world, how are you today?]]></Value>
    </textInputMaxChars>
  </Properties>
</Element>