<!-- Copyright © 2020 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment" ng-controller="Umbraco.Community.Contentment.DataEditors.DataList.Preview.Controller as vm">
    <div ng-switch="vm.state">
        <div ng-switch-default class="well well-small well--limit-width">
            <localize key="contentment_configurePreviewInit">Please select and configure a data source and list editor.</localize>
        </div>
        <div ng-switch-when="dataSourceConfigured" class="well well-small well--limit-width">
            <localize key="contentment_configurePreviewListEditor">Please select and configure a list editor.</localize>
        </div>
        <div ng-switch-when="listEditorConfigured" class="well well-small well--limit-width">
            <localize key="contentment_configurePreviewDataSource">Please select and configure a data source.</localize>
        </div>
        <div ng-switch-when="loading">
            <umb-load-indicator></umb-load-indicator>
        </div>
        <div ng-switch-when="noItems" class="well well-small well--limit-width">
            <localize key="contentment_configurePreviewNoItems">The data source returned no items to preview.</localize>
        </div>
        <div ng-switch-when="loaded">

            <umb-tabs-nav ng-if="vm.tabs"
                          tabs="vm.tabs"
                          on-tab-change="vm.changeTab(tab)">
            </umb-tabs-nav>

            <div ng-switch="vm.activeTab">
                <div ng-switch-when="listEditor" ng-if="vm.property">
                    <umb-property-editor model="vm.property"></umb-property-editor>
                </div>
                <div ng-switch-when="dataSource" ng-if="vm.property.config.items.length > 0">
                    <div class="umb-table" style="background-color:#f6f4f4;">
                        <div class="umb-table-head">
                            <div class="umb-table-row">
                                <div class="umb-table-cell"></div>
                                <div class="umb-table-cell umb-table__name">Name</div>
                                <div class="umb-table-cell">Value</div>
                                <div class="umb-table-cell">Description</div>
                                <div class="umb-table-cell">Enabled</div>
                            </div>
                        </div>
                        <div class="umb-table-body">
                            <div class="umb-table-row"
                                 ng-class="{ '-light': item.disabled }"
                                 ng-repeat="item in vm.property.config.items">
                                <div class="umb-table-cell"><i class="umb-table-body__icon" ng-class="item.icon"></i></div>
                                <div class="umb-table-cell umb-table__name"><span ng-bind="item.name"></span></div>
                                <div class="umb-table-cell"><span ng-bind="item.value"></span></div>
                                <div class="umb-table-cell"><span ng-bind="item.description"></span></div>
                                <div class="umb-table-cell"><i class="icon" ng-class="{ 'icon-check': !item.disabled , 'icon-wrong': item.disabled }"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
