/* Copyright © 2021 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/* "Well" container - limiting the width, to match property width limit. */
.contentment .well.well--limit-width {
    max-width: 760px;
}

.contentment .well.well-small.well--limit-width {
    max-width: 780px;
}

.contentment .well.well-large.well--limit-width {
    max-width: 760px;
}
