<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a" Alias="jsModule" Level="2">
  <Info>
    <Name>JavaScript Code</Name>
    <Icon>icon-script-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Insert a JavaScript code snippet.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bModules%5d</Folder>
    <Compositions>
      <Composition Key="9c4bf75b-45ee-465c-acca-fa0b916974f3">componentCodeRenderPositionProperty</Composition>
      <Composition Key="6ecf8041-c594-4e95-9a0c-6ed98f99bbc2">componentCodeSnippetProperties</Composition>
      <Composition Key="23853f3f-df73-4151-ba3d-d23f4c55642d">moduleRenderJs</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>