<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d48e286-eeec-4df6-a1dc-eb2387fb671f" Alias="contentmentDataListUmbraco" Level="1">
  <Info>
    <Name>Data List: Umbraco</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b98a518e-e1d1-400c-8242-f2c61816612b</Key>
      <Name>Data List Umbraco Backoffice Sections</Name>
      <Alias>dataListUmbracoBackofficeSections</Alias>
      <Definition>6348b061-a934-49e1-b0b4-f8fc184b2c54</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dad3b2c7-556c-4684-9e34-37d2df32e200</Key>
      <Name>Data List Umbraco Content</Name>
      <Alias>dataListUmbracoContent</Alias>
      <Definition>9d311d8f-7709-48e9-b0dc-1a42e4e41a5e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30059b04-cd2a-4856-b4ed-5bdc72405716</Key>
      <Name>Data List Umbraco Content by XPath</Name>
      <Alias>dataListUmbracoContentByXPath</Alias>
      <Definition>2097af34-6a8b-4ad2-a279-74236b5f6b09</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5456542-cec2-437a-a315-37951aca7ce2</Key>
      <Name>Data List Umbraco Content Properties</Name>
      <Alias>dataListUmbracoContentProperties</Alias>
      <Definition>8e42b30e-960e-42a2-865b-e1ba6b7f9252</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b15e164-891e-4134-a270-e65790f7a3a3</Key>
      <Name>Data List Umbraco Content Property Value</Name>
      <Alias>dataListUmbracoContentPropertyValue</Alias>
      <Definition>d8347563-8901-4093-bf1a-58668d002bb4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d747d37f-dc14-425e-89cd-1d91180e90d5</Key>
      <Name>Data List Umbraco Content Types</Name>
      <Alias>dataListUmbracoContentTypes</Alias>
      <Definition>640b9a76-c2c8-4859-a9a7-9eaa2426e726</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ebaa845-9cdb-4a58-94d1-2f06ba207db0</Key>
      <Name>Data List Umbraco Dictionary Items</Name>
      <Alias>dataListUmbracoDictionaryItems</Alias>
      <Definition>3bd4cce2-681e-4cdf-8da1-11ab055da96a</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>093f74bf-3dd2-4b13-8499-54ff7f0a4215</Key>
      <Name>Data List Umbraco Entities</Name>
      <Alias>dataListUmbracoEntities</Alias>
      <Definition>3a67d9b2-69e7-4b20-8e91-612b30e861c4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7056b3a-4b09-42a9-a57f-d827f247ce3b</Key>
      <Name>Data List Umbraco Examine Query</Name>
      <Alias>dataListUmbracoExamineQuery</Alias>
      <Definition>765d8799-ee11-49a5-914c-524046a4772b</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fa648a4-7557-429a-ade4-5e3aae520618</Key>
      <Name>Data List Umbraco Image Crops</Name>
      <Alias>dataListUmbracoImageCrops</Alias>
      <Definition>6d60f871-101a-484a-8202-533080269110</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="umbraco/media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45d0edbf-9ba6-4b59-a880-8304ddcc52a2</Key>
      <Name>Data List Umbraco Languages</Name>
      <Alias>dataListUmbracoLanguages</Alias>
      <Definition>590e4a8b-3bcc-4efc-963a-69586197554e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="umbraco/schema">Schema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5595e70d-3453-4189-af0c-ac106f8c31ca</Key>
      <Name>Data List Umbraco Member Groups</Name>
      <Alias>dataListUmbracoMemberGroups</Alias>
      <Definition>f7676f29-b520-4446-95ff-990b17a53df0</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add member groups to test this.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="umbraco/members">Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ec37ea8d-04cc-440f-8b9c-47c40a4b1734</Key>
      <Name>Data List Umbraco Members</Name>
      <Alias>dataListUmbracoMembers</Alias>
      <Definition>a118b031-034a-4a53-89e7-729b07b9b9f3</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add members to test this.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="umbraco/members">Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfafa223-839a-4a47-8b6d-465e0b2043ca</Key>
      <Name>Data List Umbraco Tags</Name>
      <Alias>dataListUmbracoTags</Alias>
      <Definition>19f34221-229e-4a67-9f95-f33c0a8611be</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>60</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9831fbb5-37ba-4749-8909-7750df554af4</Key>
      <Name>Data List Umbraco User Groups</Name>
      <Alias>dataListUmbracoUserGroups</Alias>
      <Definition>ebcb7a62-b400-4446-8fa3-a0983a0b0537</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="umbraco/users">Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6cf2f57-b22b-4fbd-b915-5391406cda4a</Key>
      <Name>Data List Umbraco Users</Name>
      <Alias>dataListUmbracoUsers</Alias>
      <Definition>3a54db60-04e4-489b-a27f-0fd14f13d387</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="umbraco/users">Users</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b382466-e4e2-4b65-8d46-1289d5dfb05e</Key>
      <Name>Umbraco Tags</Name>
      <Alias>umbracoTags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used to populate the "Data List Umbraco Tags" editor (above).]]></Description>
      <SortOrder>70</SortOrder>
      <Tab Alias="umbraco/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6098b1ea-11dc-4bac-aa8c-5cab8dcdf77a</Key>
      <Caption>Schema</Caption>
      <Alias>umbraco/schema</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>a9de9b95-ccb8-42a0-aba3-e72f9326f4e0</Key>
      <Caption>Content</Caption>
      <Alias>umbraco/content</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>c2bc2eb9-9d14-48de-b2d0-35593a6bdde9</Key>
      <Caption>Members</Caption>
      <Alias>umbraco/members</Alias>
      <Type>Group</Type>
      <SortOrder>30</SortOrder>
    </Tab>
    <Tab>
      <Key>cb2fd537-ac8f-47f9-9fb6-7ca677459ce0</Key>
      <Caption>Users</Caption>
      <Alias>umbraco/users</Alias>
      <Type>Group</Type>
      <SortOrder>40</SortOrder>
    </Tab>
    <Tab>
      <Key>f5283b66-c644-4b1b-bf2e-93f9ebf9e175</Key>
      <Caption>Media</Caption>
      <Alias>umbraco/media</Alias>
      <Type>Group</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>f8848ec3-9bd9-49ad-96d5-3eeddd304c39</Key>
      <Caption>Umbraco</Caption>
      <Alias>umbraco</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>