<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4dc6428-25a3-4587-bc38-8c9742ab8268" Alias="contentmentTemplatedLabel" Level="1">
  <Info>
    <Name>Contentment Templated Label</Name>
    <Icon>icon-fa-codepen color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A display label, ideal for showing data from 3rd-party systems.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>97edcfa6-f54e-4fa0-b984-97eb8ba11c76</Key>
      <Name>Templated Label: JSON</Name>
      <Alias>templatedLabelJson</Alias>
      <Definition>ea007cb5-7060-45e7-bc1c-f612b17e210c</Definition>
      <Type>Umbraco.Community.Contentment.TemplatedLabel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="templatedLabel">Templated Label</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6c39648e-b315-4742-affc-e4c51e5a5a96</Key>
      <Caption>Templated Label</Caption>
      <Alias>templatedLabel</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>