<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4128a049-f8bf-426a-b4ed-e1bd6df03d2c" Alias="contentmentNotes" Level="1">
  <Info>
    <Name>Contentment Notes</Name>
    <Icon>icon-autofill color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display rich-text instructional messages for content editors.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>df5205b7-147f-4bf6-9b33-32b90840f4e0</Key>
      <Name>Notes: Basic HTML</Name>
      <Alias>notesBasicHtml</Alias>
      <Definition>09014506-b1b8-4ce1-a075-b19b74e5a707</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="notes">Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b10178b5-7bc4-4b7d-8c10-d14d031d6531</Key>
      <Caption>Notes</Caption>
      <Alias>notes</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>