<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffb39ef6-5518-4776-9d62-6589d246588e" Alias="contentmentNumberInput" Level="1">
  <Info>
    <Name>Contentment Number Input</Name>
    <Icon>icon-ordered-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A numeric editor, with sizing configurations.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>72ff6f8d-476d-4f03-b2be-f171174fba94</Key>
      <Name>Number Input: Extra Large</Name>
      <Alias>numberInputExtraLarge</Alias>
      <Definition>4dd27a28-e196-4423-95f9-940e14e7322d</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7b27442-c76a-4f99-9ff3-7f46969644c7</Key>
      <Name>Number Input: Large</Name>
      <Alias>numberInputLarge</Alias>
      <Definition>6190b161-af16-4721-988d-691e761b0c73</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6499e3e8-75ef-408d-959a-88158c2a0ec2</Key>
      <Name>Number Input: Medium</Name>
      <Alias>numberInputMedium</Alias>
      <Definition>d438352f-8d94-4fc5-a8d9-a475551a684c</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46bd34d6-e58b-4871-9ec5-d0dc60dcee30</Key>
      <Name>Number Input: Small</Name>
      <Alias>numberInputSmall</Alias>
      <Definition>1d29f65c-8db2-4af6-ac62-aa3bd9f0360f</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>49e46233-d86d-40e9-9372-e6234002dc59</Key>
      <Caption>Number Input</Caption>
      <Alias>numberInput</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>