<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47d179b8-fe3e-45a3-b5c6-0e365b89cf39" Alias="contentmentNumberInputElement" Level="2">
  <Info>
    <Name>Number Input</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A numeric editor, with sizing configurations.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d24b1682-49a7-49d7-95e1-f4be2459ffea</Key>
      <Name>Number Input: Extra Large</Name>
      <Alias>numberInputExtraLarge</Alias>
      <Definition>4dd27a28-e196-4423-95f9-940e14e7322d</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a94a05d-9fa6-4e5d-9b32-7464943e4221</Key>
      <Name>Number Input: Large</Name>
      <Alias>numberInputLarge</Alias>
      <Definition>6190b161-af16-4721-988d-691e761b0c73</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08ab3fc1-a90e-4009-9329-fa6fe6264a31</Key>
      <Name>Number Input: Medium</Name>
      <Alias>numberInputMedium</Alias>
      <Definition>d438352f-8d94-4fc5-a8d9-a475551a684c</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8f0afa2-874f-4673-8659-199ea3c1c747</Key>
      <Name>Number Input: Small</Name>
      <Alias>numberInputSmall</Alias>
      <Definition>1d29f65c-8db2-4af6-ac62-aa3bd9f0360f</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="numberInput">Number Input</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8429630b-3ffd-4cd0-8eaf-6c700ad0bab5</Key>
      <Caption>Number Input</Caption>
      <Alias>numberInput</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>