<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="083438e7-0d78-4a34-b976-45045f76227d" Alias="contentmentDataListListEditorsTemplatedListElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Templated List</Name>
    <Icon>icon-fa-codepen color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b4865393-82a1-4b15-981e-b03b0b333114</Key>
      <Name>Data List: Templated List</Name>
      <Alias>dataListTemplatedList</Alias>
      <Definition>88a98c52-f855-4c02-ad16-b60c01fd7371</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="templatedList">Templated List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6ba79a88-c2b9-4009-9138-14d03a250c47</Key>
      <Caption>Templated List</Caption>
      <Alias>templatedList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>