<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15cf8bbd-22f2-4b61-a295-18235c978614" Alias="contentmentContentBlocks" Level="1">
  <Info>
    <Name>Content Blocks</Name>
    <Icon>icon-fa-server color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block editor, configurable using element types.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>caa1e917-d2b0-4bb2-a5dd-24bb18ea36e0</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>dd383342-d4f9-458d-8325-bb93f9a51183</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentBlocks">Content Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>10bdf411-a5b9-4824-8685-776518e6d397</Key>
      <Caption>Content Blocks</Caption>
      <Alias>contentBlocks</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>