<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="435895c3-be34-47a5-aae5-664ed432acd2" Alias="contentmentBytes" Level="1">
  <Info>
    <Name>Bytes</Name>
    <Icon>icon-binarycode color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display file sizes in relative bytes.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6c5b827c-8675-4aec-aa66-9bac44db1d82</Key>
      <Name>Bytes: 1000</Name>
      <Alias>bytes1000</Alias>
      <Definition>dbca80ca-22e2-43c0-8768-625c7ce7248e</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Calculated at 1000 bytes per kilobyte.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bytes">Bytes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>190daec4-0818-44a3-ac45-b2a21d1651e5</Key>
      <Name>Bytes: 1024</Name>
      <Alias>bytes1024</Alias>
      <Definition>56f7e6c5-e6ef-4d38-bc39-235c015971e4</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Calculated at 1024 bytes per kilobyte, (kibibyte).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bytes">Bytes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0a1b63a3-452f-46db-bab1-74117a95b63a</Key>
      <Caption>Bytes</Caption>
      <Alias>bytes</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>