<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b63e8edc-5346-4fe6-847d-af566f539e7a" Alias="contentmentTextboxList" Level="1">
  <Info>
    <Name>Textbox List</Name>
    <Icon>icon-layout-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A multi-textstring editor, adds a textbox for each item in a custom data source.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3760591d-0967-4a0d-8acd-559f39056715</Key>
      <Name>Textbox List</Name>
      <Alias>textboxList</Alias>
      <Definition>d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061</Definition>
      <Type>Umbraco.Community.Contentment.TextboxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18121c07-18ba-4478-a022-042c076409e3</Key>
      <Caption>Textboxes</Caption>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>