<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c511521b-6209-407d-bc9a-275e234f3991" Alias="contentmentNotesElement" Level="2">
  <Info>
    <Name>Notes</Name>
    <Icon>icon-autofill color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display rich-text instructional messages for content editors.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c582f9a-16fb-4105-b63d-c74a52bdb860</Key>
      <Name>Notes: Basic HTML</Name>
      <Alias>notesBasicHtml</Alias>
      <Definition>09014506-b1b8-4ce1-a075-b19b74e5a707</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="notes">Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db5086a8-6627-4faa-b10a-635dcc16cc46</Key>
      <Caption>Notes</Caption>
      <Alias>notes</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>