<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="deec27a1-52e0-4687-ba81-521cf9f3fdf3" Alias="contentmentDataListWeb" Level="1">
  <Info>
    <Name>Contentment Data List: Web</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f0a474d-7300-4c86-bd3c-49fad245b976</Key>
      <Name>Data List uCssClassName</Name>
      <Alias>dataListUCssClassName</Alias>
      <Definition>89179373-0e13-4d02-9273-728e205a9544</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="web">Web</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70bde091-c01f-4c0c-a5fc-760b023558ef</Key>
      <Name>Data List XML Sitemap Change Frequency</Name>
      <Alias>dataListXmlSitemapChangeFrequency</Alias>
      <Definition>960b183d-f3f8-44c5-b290-151e2d40d63e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="web/xMLSitemap">XML Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>80d0a636-8205-4068-a07a-fa12effca7c1</Key>
      <Name>Data List XML Sitemap: Priority</Name>
      <Alias>dataListXmlSitemapPriority</Alias>
      <Definition>9a70de9b-b297-48d8-962b-9382939d1df4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="web/xMLSitemap">XML Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>265a7f6e-08be-43e3-bdc1-fcd1691329cd</Key>
      <Caption>XML Sitemap</Caption>
      <Alias>web/xMLSitemap</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7e452c50-5761-484d-aeab-445b46a3cf4c</Key>
      <Caption>Web</Caption>
      <Alias>web</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>