<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36a351b0-39db-4582-b31a-7d7a04dc0def" Alias="contentmentElementType" Level="1">
  <Info>
    <Name>Contentment Element Type</Name>
    <Icon>icon-contentment color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bd3fb234-61b5-4df6-a3c3-500ccd27efc7</Key>
      <Name>Data List: Buttons</Name>
      <Alias>dataListButtons</Alias>
      <Definition>9a70de9b-b297-48d8-962b-9382939d1df4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataList">Data List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62de7248-58c3-4448-8f42-9f43e462627a</Key>
      <Name>Radiobox</Name>
      <Alias>radiobox</Alias>
      <Definition>bb5f57c9-ce2b-4bb9-b697-4caca783a805</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dataList">Data List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4107ca5a-b85c-4673-a392-f2a39c3ce34d</Key>
      <Caption>Data List</Caption>
      <Alias>dataList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>