<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a36df9f1-1586-4594-a85a-c99259234aeb" Alias="contentmentDataList" Level="1">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="691af129-fbd8-4c91-9cf2-b83be83388a7" SortOrder="0">contentmentDataListDotNet</ContentType>
    <ContentType Key="59e89587-4b08-49b0-a7c6-ac0d49aaf5c7" SortOrder="1">contentmentDataListData</ContentType>
    <ContentType Key="7d48e286-eeec-4df6-a1dc-eb2387fb671f" SortOrder="2">contentmentDataListUmbraco</ContentType>
    <ContentType Key="deec27a1-52e0-4687-ba81-521cf9f3fdf3" SortOrder="3">contentmentDataListWeb</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>97dad931-9ea0-4d06-82cf-30d5f747c839</Key>
      <Name>Data List</Name>
      <Alias>dataList</Alias>
      <Definition>817e34da-3e9c-4c42-a3e3-de29c0a749c9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataList">Data List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98bdceac-4afb-4f02-9134-97d441d27c32</Key>
      <Caption>Data List</Caption>
      <Alias>dataList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>