<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4328ced5-778a-4b26-b287-79f66b6f3ad9" Alias="contentmentTextboxListElement" Level="2">
  <Info>
    <Name>Textbox List</Name>
    <Icon>icon-layout-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A multi-textstring editor, adds a textbox for each item in a custom data source.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>abe863ed-a4f9-41e3-b19d-6abf5c825dd0</Key>
      <Name>Textbox List</Name>
      <Alias>textboxList</Alias>
      <Definition>d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061</Definition>
      <Type>Umbraco.Community.Contentment.TextboxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>759a87f2-b7e4-48f0-99a5-9392b4fbb7b9</Key>
      <Caption>Textboxes</Caption>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>