<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43c1cfdd-ed86-4def-ac9c-8376d9381a08" Alias="contentmentDataListListEditorsDropdownListElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Dropdown List</Name>
    <Icon>icon-fa-square-caret-down color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f1a7f222-544d-410e-9fe4-bbe6454c76d5</Key>
      <Name>Data List: Dropdown List</Name>
      <Alias>dataListDropdownList</Alias>
      <Definition>fd7268c5-86a1-4152-9b08-0121ce13e706</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dropdownList">Dropdown List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f21d9dd0-7e69-417b-9755-c2c68233377e</Key>
      <Caption>Dropdown List</Caption>
      <Alias>dropdownList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>