<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be1a660e-e7b1-49b7-8101-45095e56350a" Alias="contentmentDataPicker" Level="1">
  <Info>
    <Name>Contentment Data Picker</Name>
    <Icon>icon-fa-arrow-pointer color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Advanced picker editor to query a custom data source.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f56d9fd-2066-4905-9c2e-8e29c657fe10</Key>
      <Name>Data Picker - .NET Countries</Name>
      <Alias>dataPickerNetCountries</Alias>
      <Definition>882e9021-789a-412c-ac26-9818df51c647</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="dataPicker">Data Picker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a290a9de-0b71-49b7-9572-0bf541525469</Key>
      <Name>Data Picker - Umbraco Content</Name>
      <Alias>dataPickerUmbracoContent</Alias>
      <Definition>5023550b-f4ae-4e05-94c6-79abc5266c23</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="dataPicker">Data Picker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22e7d05b-89e3-448f-a86a-73d749ce61b0</Key>
      <Name>Data Picker - Umbraco Members</Name>
      <Alias>dataPickerUmbracoMembers</Alias>
      <Definition>396c0597-b19b-4a0d-b43a-b0219507a848</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="dataPicker">Data Picker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d08808c6-3be8-454b-a646-67c2e30ff2c8</Key>
      <Caption>Data Picker</Caption>
      <Alias>dataPicker</Alias>
      <Type>Tab</Type>
      <SortOrder>-60</SortOrder>
    </Tab>
  </Tabs>
</ContentType>