<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a5c5962-c86b-41d8-9888-d157c7d7e544" Alias="contentmentDataListListEditorsRadioButtonListElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Radio Button List</Name>
    <Icon>icon-target color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64b40654-f240-4172-ba7e-afa4c72d7d87</Key>
      <Name>Data List: Radio Button List</Name>
      <Alias>dataListRadioButtonList</Alias>
      <Definition>6e995659-bb24-4449-a983-293e494b105b</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="radioButtonList">Radio Button List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>72b5d4a0-87f7-4c24-9c42-6d81bfd17322</Key>
      <Caption>Radio Button List</Caption>
      <Alias>radioButtonList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>