<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35fd3c4e-b49e-414b-aee0-02fc35a5c250" Alias="contentmentCodeEditorElement" Level="2">
  <Info>
    <Name>Code Editor</Name>
    <Icon>icon-code color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A code snippet editor, (using the Monaco library that is bundled with Umbraco).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64b3fb29-9d3f-473f-8d6d-6fb85be6da62</Key>
      <Name>Code Editor: HTML</Name>
      <Alias>codeEditorHtml</Alias>
      <Definition>a1715dc5-ec7e-42a0-99b8-f92189b7bc95</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="codeEditor">Code Editor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44bea2b2-71af-408f-a725-0c6bb9e24230</Key>
      <Name>Code Editor: JavaScript</Name>
      <Alias>codeEditorJavaScript</Alias>
      <Definition>6f3ef9f3-0b49-403e-bec1-7e932157a9b1</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="codeEditor">Code Editor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c32f6cf0-8533-4fbb-9f66-da64a2038087</Key>
      <Name>Code Editor: Markdown</Name>
      <Alias>codeEditorMarkdown</Alias>
      <Definition>de34d280-d3a8-4088-88e0-737f4a24684f</Definition>
      <Type>Umbraco.Plain.String</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="codeEditor">Code Editor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>91fbd512-ead6-4a9c-b71f-1e0c7569a7a4</Key>
      <Caption>Code Editor</Caption>
      <Alias>codeEditor</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>