<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be1a660e-e7b1-49b7-8101-45095e56350a" Alias="contentmentDataPickerPage" Level="2">
  <Info>
    <Name>Data Picker</Name>
    <Icon>icon-fa-arrow-pointer color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Advanced picker editor to query a custom data source.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="2719fe65-3825-4bd4-b9f7-cc8eef1c2d65">contentmentDataPickerElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>