<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e2a68f2-6904-48f3-9a48-369951c2ceb1" Alias="cssModule" Level="2">
  <Info>
    <Name>CSS Stylesheet</Name>
    <Icon>icon-app color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Insert a CSS code snippet.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bModules%5d</Folder>
    <Compositions>
      <Composition Key="6ecf8041-c594-4e95-9a0c-6ed98f99bbc2">componentCodeSnippetProperties</Composition>
      <Composition Key="fa7a6c7b-6406-427f-b475-179083a5c5e1">moduleRenderCss</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>