<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="189438e2-a3e1-4e2f-aa4b-3f4179c3889e" Alias="pageBlocksProperty" Level="2">
  <Info>
    <Name>[Page] Blocks Property</Name>
    <Icon>icon-umb-contour color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1f28595a-1984-4832-9eed-e9b0107ac33a</Key>
      <Name>Blocks</Name>
      <Alias>pageBlocks</Alias>
      <Definition>dd383342-d4f9-458d-8325-bb93f9a51183</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7aea4987-0988-4fb7-8f6b-db34c03fe13f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>