<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ab0cc1a-6e3e-4b5b-bf20-5a4a5f0710ab" Alias="NxNW 300x300" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NxNW300x300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-28T00:08:35</CreateDate>
    <NodeName Default="NxNW 300x300" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dtglacr4/nxnw_300x300.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>