<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6453716-8494-477c-a087-ea4f405528d3" Alias="Test - Content" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestContent</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-05-23T15:11:15</CreateDate>
    <NodeName Default="Test - Content" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="575d2bbb-c517-4da5-afb3-4ff778c0815d">contentPage</Template>
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[umb://media/0ab0cc1a6e3e4b5bbf205a4a5f0710ab]]></Value>
    </image>
    <pageBlocks>
      <Value><![CDATA[]]></Value>
    </pageBlocks>
    <pageModules>
      <Value><![CDATA[]]></Value>
    </pageModules>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>