<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddf45934-719e-4f17-8cd1-384d3a5a0172" Alias="Test - Misc" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestMisc</Path>
    <Trashed>false</Trashed>
    <ContentType>testMiscPage</ContentType>
    <CreateDate>2022-01-27T15:01:56</CreateDate>
    <NodeName Default="Test - Misc" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32cf5caf-9267-4cf4-8327-2dcbd24a1cd7">testMiscPage</Template>
  </Info>
  <Properties>
    <dataPickerNETCountries>
      <Value><![CDATA[[
  "GB"
]]]></Value>
    </dataPickerNETCountries>
    <dataPickerNETCurrencies>
      <Value><![CDATA[[
  "GBP",
  "USD"
]]]></Value>
    </dataPickerNETCurrencies>
    <dataPickerNETLanguages>
      <Value><![CDATA[[
  "en",
  "es",
  "fr"
]]]></Value>
    </dataPickerNETLanguages>
    <dataPickerNETTimeZones>
      <Value><![CDATA[[
  "GMT Standard Time"
]]]></Value>
    </dataPickerNETTimeZones>
    <dataPickerUmbracoContent>
      <Value><![CDATA[[
  "umb://document/3f755f025f6e42cca7ea4b769e3232b2",
  "umb://document/ddf45934719e4f178cd1384d3a5a0172",
  "umb://document/d64537168494477ca087ea4f405528d3"
]]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoExamineQuery>
      <Value><![CDATA[9772aed6-3d82-474e-9269-f7f4c5504992]]></Value>
    </dataPickerUmbracoExamineQuery>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[[
  "umb://member/8f10559ced344ea6beb6f6419c519764",
  "umb://member/e1246232664e4a9480f1ed6b5b2fe614"
]]]></Value>
    </dataPickerUmbracoMembers>
    <iconPicker>
      <Value><![CDATA[icon-document color-black]]></Value>
    </iconPicker>
    <socialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/leekelleher"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/leekelleher"
  }
]]]></Value>
    </socialLinks>
    <testTextbox>
      <Value><![CDATA[Hello world]]></Value>
    </testTextbox>
    <textboxList>
      <Value><![CDATA[{
  "tel": "+44123456789",
  "email": "test@test.test",
  "url": "https://github.com/sponsors/leekelleher"
}]]></Value>
    </textboxList>
    <textInput>
      <Value><![CDATA[Hello world]]></Value>
    </textInput>
    <textInputEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </textInputEmail>
  </Properties>
</Content>