<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="c4b1efcf-a9d5-41c4-9621-e9d273b52a9c" Alias="umbracoMediaVectorGraphics" Level="1">
  <Info>
    <Name>Vector Graphics (SVG)</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>00000033-0000-0000-0000-000000000000</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>56f7e6c5-e6ef-4d38-bc39-235c015971e4</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vectorGraphics">Vector Graphics</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00000032-0000-0000-0000-000000000000</Key>
      <Name>File extension</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vectorGraphics">Vector Graphics</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00000031-0000-0000-0000-000000000000</Key>
      <Name>Vector Graphics</Name>
      <Alias>umbracoFile</Alias>
      <Definition>215cb418-2153-4429-9aef-8c0f0041191b</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vectorGraphics">Vector Graphics</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>f199b4d7-9e84-439f-8531-f87d9af37711</Key>
      <Caption>Vector Graphics</Caption>
      <Alias>vectorGraphics</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>