/* Copyright © 2019 Marc Stöcker.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment.umb-imagebuttons ul.radio {
    margin-bottom: 15px;
}

.contentment.umb-imagebuttons ul.radio li {
    display: inline-block;
    margin-right:15px;
    margin-bottom: 5px;

    border: 1px solid #f6f4f4;
    padding:5px;
}

.contentment.umb-imagebuttons .image-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contentment.umb-imagebuttons .imagebutton-icon {
    width: 110px;
    height: 110px;
    display: inline-block;
    overflow: hidden;
}

.contentment.umb-imagebuttons .image-selector input:active + .sprite-image {
    opacity: .9;
}

.contentment.umb-imagebuttons .image-selector input:checked + .sprite-image {
    filter: none;
}

.contentment.umb-imagebuttons .sprite-image {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 110px;
    height: 110px;
    transition: all 100ms ease-in;
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.contentment.umb-imagebuttons .sprite-image:hover {
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
