<!-- Copyright © 2022 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="umbrella umb-itempicker">
    <ul class="umb-card-grid" ng-class="{'-three-in-row': model.config.items.length < 7, '-four-in-row': model.config.items.length >= 7}">
        <li ng-repeat="item in model.config.items">
            <button type="button"
                    class="umb-card-grid-item btn-reset"
                    ng-click="model.submit(item)">
                <umb-icon icon="{{_icon = item.icon}}"
                          ng-class="_icon"
                          ng-style="{ backgroundColor: item.backgroundColor, color: item.iconColor, height: '40px', width: '40px', padding: '12px', borderRadius: '5px' }">
                </umb-icon>
                <span ng-bind="item.name"></span>
            </button>
        </li>
    </ul>
</div>
