/* Copyright © 2019 Lee Kelleher, Umbrella Inc and other contributors.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment.umb-multiple-textbox .btn-social-icon {
    margin-right: 5px;
}

.contentment.umb-multiple-textbox .lk-textstring-wrapper {
    max-width: 761px;
}

    .contentment.umb-multiple-textbox .lk-textstring-wrapper .umb-textstring {
        width: 378px;
    }
