<!-- Copyright © 2022 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment" ng-controller="Umbraco.Community.Contentment.DataEditors.ConfigurationEditorInline.Controller as vm">

    <umb-empty-state ng-if="vm.editor === undefined" position="center">
        <p>Unable to find the editor for this configuration value.</p>
    </umb-empty-state>

    <umb-empty-state ng-if="!vm.editor.fields || vm.editor.fields.length == 0" position="center">
        <p>There are no fields for this item.</p>
    </umb-empty-state>

    <ng-form ng-if="vm.editor.fields.length > 0" class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
        <umb-property property="field" ng-repeat="field in vm.editor.fields">
            <umb-property-editor model="field" is-pre-value="true"></umb-property-editor>
        </umb-property>
    </ng-form>

</div>
