<!-- Copyright © 2019 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment lk-overlay" ng-controller="Umbraco.Community.Contentment.Overlays.ConfigurationEditor.Controller as vm">
    <umb-editor-view>

        <umb-editor-header name="vm.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container>

            <div ng-if="vm.mode == 'select'">

                <umb-box ng-if="vm.items.length > 0">
                    <umb-box-content>

                        <umb-search-filter ng-if="vm.enableFilter"
                                           input-id="contentment-config-search"
                                           model="vm.searchTerm"
                                           label-key="placeholders_filter"
                                           text="Type to filter..."
                                           css-class="w-100 mb4"
                                           auto-focus="true">
                        </umb-search-filter>

                        <div ng-repeat="(label, items) in vm.items | lkGroupBy:'group'">
                            <h5 ng-if="label != 'undefined' && results.length > 0" ng-bind="label"></h5>
                            <ul class="umb-actions umb-actions-child">
                                <li class="umb-action" ng-repeat="item in items | orderBy:vm.orderBy | filter:vm.searchTerm as results">
                                    <button type="button" class="btn-reset umb-action-link" ng-click="vm.select(item)">
                                        <umb-icon icon="{{item.icon}}" class="large icon" ng-class="item.icon"></umb-icon>
                                        <span class="menu-label">
                                            <span ng-bind="item.name"></span>
                                            <small ng-bind="item.description"></small>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div class="alert alert-danger" ng-if="(vm.items | filter:vm.searchTerm).length == 0">
                            <span>No items found for '<em ng-bind="vm.searchTerm"></em>'.</span>
                        </div>

                    </umb-box-content>
                </umb-box>

                <umb-empty-state ng-if="vm.items.length == 0" position="center">
                    <p>There are no items available to add.</p>
                </umb-empty-state>

            </div>

            <div ng-if="vm.mode == 'edit'">

                <umb-empty-state ng-if="vm.editor === undefined" position="center">
                    <p>Unable to find the editor for this configuration value.</p>
                </umb-empty-state>

                <umb-empty-state ng-if="!vm.editor.fields || vm.editor.fields.length === 0" position="center">
                    <p>There are no fields for this item.</p>
                </umb-empty-state>

                <umb-box ng-if="vm.editor.fields.length > 0">
                    <umb-box-content>
                        <ng-form class="form-horizontal" name="configurationEditorForm" novalidate val-form-manager>
                            <umb-property property="field" ng-repeat="field in vm.editor.fields">
                                <umb-property-editor model="field" is-pre-value="true"></umb-property-editor>
                            </umb-property>
                        </ng-form>
                    </umb-box-content>
                </umb-box>

            </div>

        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button ng-if="vm.save"
                            type="button"
                            button-style="success"
                            label-key="bulk_done"
                            shortcut="ctrl+s"
                            action="vm.save(vm.editor)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>
