<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f78877c-c2c7-4b2c-bf15-d6806ed70058" Alias="Else #1" Level="4">
  <Info>
    <Parent Key="9feca2f2-189a-426d-b1f2-7e2bdee812cc">Something Else</Parent>
    <Path>/Contentment/Repositories/SomethingElse/Else1</Path>
    <Trashed>false</Trashed>
    <ContentType>somethingElse</ContentType>
    <CreateDate>2023-09-09T14:16:45</CreateDate>
    <NodeName Default="Else #1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>