<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1c48b27-cebc-4d98-ab2d-f7bdde93cdc2" Alias="Else #2" Level="4">
  <Info>
    <Parent Key="9feca2f2-189a-426d-b1f2-7e2bdee812cc">Something Else</Parent>
    <Path>/Contentment/Repositories/SomethingElse/Else2</Path>
    <Trashed>false</Trashed>
    <ContentType>somethingElse</ContentType>
    <CreateDate>2023-09-09T14:17:55</CreateDate>
    <NodeName Default="Else #2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>