<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6b3bd1f-fd21-443e-ab0b-fc1f7cedb643" Alias="Repositories" Level="2">
  <Info>
    <Parent Key="9772aed6-3d82-474e-9269-f7f4c5504992">Contentment</Parent>
    <Path>/Contentment/Repositories</Path>
    <Trashed>false</Trashed>
    <ContentType>repositoryContainer</ContentType>
    <CreateDate>2020-05-07T16:31:14</CreateDate>
    <NodeName Default="Repositories" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>