<?xml version="1.0" encoding="utf-8"?>
<Content Key="9feca2f2-189a-426d-b1f2-7e2bdee812cc" Alias="Something Else" Level="3">
  <Info>
    <Parent Key="b6b3bd1f-fd21-443e-ab0b-fc1f7cedb643">Repositories</Parent>
    <Path>/Contentment/Repositories/SomethingElse</Path>
    <Trashed>false</Trashed>
    <ContentType>somethingElseContainer</ContentType>
    <CreateDate>2023-09-09T14:16:35</CreateDate>
    <NodeName Default="Something Else" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>