<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb3af8f5-8eb1-48d5-8063-ba3b6d1cef90" Alias="Thing #1" Level="4">
  <Info>
    <Parent Key="9947dd3d-9ece-4cb7-b955-434685f8ee35">Something</Parent>
    <Path>/Contentment/Repositories/Something/Thing1</Path>
    <Trashed>false</Trashed>
    <ContentType>something</ContentType>
    <CreateDate>2023-09-09T14:16:18</CreateDate>
    <NodeName Default="Thing #1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <heading>
      <Value><![CDATA[This is a heading]]></Value>
    </heading>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <intro>
      <Value><![CDATA[<p>Hello world. This is an introduction.</p>]]></Value>
    </intro>
  </Properties>
</Content>