<!-- Copyright © 2019 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div ng-controller="Umbraco.Community.Contentment.DataEditors.DataTable.Controller as vm">
    <table class="table" ng-show="vm.items.length > 0" ng-style="vm.styleTable">
        <thead>
            <tr>
                <th ng-if="vm.sortable"></th>
                <th ng-repeat="heading in vm.headings">{{heading}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="vm.sortableOptions" ng-model="vm.items">
            <tr ng-repeat="item in vm.items">
                <td ng-if="vm.sortable" style="vertical-align: top;">
                    <i class="icon icon-navigation handle"></i>
                </td>
                <td ng-repeat="field in item" style="vertical-align: top;">
                    <umb-property-editor model="field" is-pre-value="{{vm.usePrevalueEditors}}"></umb-property-editor>
                </td>
                <td style="text-align: right;vertical-align: top;">
                    <div ng-if="vm.allowRemove" style="position:relative;cursor:pointer;">
                        <i class="icon-trash" ng-click="vm.showPrompt(item)"></i>
                        <umb-confirm-action ng-if="item.prompt"
                                            direction="left"
                                            on-confirm="vm.remove($index)"
                                            on-cancel="vm.hidePrompt(item)">
                        </umb-confirm-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="umb-node-preview-add" href="" ng-click="vm.add()" ng-if="vm.allowAdd" ng-style="vm.styleButton" prevent-default>
        <localize key="general_add">Add</localize>
    </a>
</div>
