<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d97d5da6-b96e-480c-99f1-b3c90dd04828" Alias="contentmentDataListListEditorsPage" Level="2">
  <Info>
    <Name>Data List: List Editors</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4495e368-99c0-49e3-85f8-b79ebc200806" SortOrder="0">contentmentDataListListEditorsButtonsPage</ContentType>
    <ContentType Key="3fe6c1db-aa9b-4901-abc2-859170001ace" SortOrder="1">contentmentDataListListEditorsCheckboxListPage</ContentType>
    <ContentType Key="0d41d0c3-ba60-444d-a8ce-3f520c9062f2" SortOrder="2">contentmentDataListListEditorsComboboxPage</ContentType>
    <ContentType Key="143ce071-b91b-4df7-9fe1-fab87115aaee" SortOrder="3">contentmentDataListListEditorsCustomComponentListPage</ContentType>
    <ContentType Key="59186af7-9405-47e3-a13b-5cdaf175d69d" SortOrder="4">contentmentDataListListEditorsDropdownListPage</ContentType>
    <ContentType Key="a83ebba5-45d6-42d2-b87a-0b183a7d6512" SortOrder="5">contentmentDataListListEditorsItemPickerPage</ContentType>
    <ContentType Key="03239091-d3b9-4108-ac24-1c3f4f875d98" SortOrder="6">contentmentDataListListEditorsRadioButtonListPage</ContentType>
    <ContentType Key="de138ee3-ac56-488d-ac1a-7530c787744d" SortOrder="7">contentmentDataListListEditorsTagsPage</ContentType>
    <ContentType Key="d9ba3036-40a9-4615-83f3-1532b9ee0a00" SortOrder="8">contentmentDataListListEditorsTemplatedListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>