<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="691af129-fbd8-4c91-9cf2-b83be83388a7" Alias="contentmentDataListDataSourcesDotNet" Level="2">
  <Info>
    <Name>Data List: Data Sources: .NET</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7af4fb19-6119-480a-99a8-a0fbec34cbd2</Key>
      <Name>Data List Countries</Name>
      <Alias>dataListCountries</Alias>
      <Definition>817e34da-3e9c-4c42-a3e3-de29c0a749c9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias=".NET">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02bf6497-0783-45a8-9ad5-3d480fd71d6f</Key>
      <Name>Data List Currencies</Name>
      <Alias>dataListCurrencies</Alias>
      <Definition>6410e6b7-0af4-4830-a5c8-103b8a2e3400</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias=".NET">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b239d00-79f6-4c6d-ba3c-064319427d25</Key>
      <Name>Data List Enumeration</Name>
      <Alias>dataListEnumeration</Alias>
      <Definition>869e60dc-a1ef-41c1-abad-b241eb796965</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias=".NET">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffa8f389-6386-40e9-a93e-965d6c251842</Key>
      <Name>Data List Languages</Name>
      <Alias>dataListLanguages</Alias>
      <Definition>44e8c5f9-aeb9-4766-8209-f56c28587880</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias=".NET">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1251dcef-529b-4961-8a1e-d8627ed5816c</Key>
      <Name>Data List Time Zones</Name>
      <Alias>dataListTimeZones</Alias>
      <Definition>af1d3c44-85b9-4c6b-a73c-abea29f69ee6</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias=".NET">.NET</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a549605-7579-42c5-9203-63d8502895be</Key>
      <Caption>.NET</Caption>
      <Alias>.NET</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>