<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a36df9f1-1586-4594-a85a-c99259234aeb" Alias="contentmentDataList" Level="2">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions />
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fb0af6c1-bf68-46e7-ab43-2ee1c8149629" SortOrder="0">contentmentDataListDataSourcesPage</ContentType>
    <ContentType Key="d97d5da6-b96e-480c-99f1-b3c90dd04828" SortOrder="1">contentmentDataListListEditorsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>97dad931-9ea0-4d06-82cf-30d5f747c839</Key>
      <Name>Data List</Name>
      <Alias>dataList</Alias>
      <Definition>817e34da-3e9c-4c42-a3e3-de29c0a749c9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataList">Data List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98bdceac-4afb-4f02-9134-97d441d27c32</Key>
      <Caption>Data List</Caption>
      <Alias>dataList</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>