<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ffb39ef6-5518-4776-9d62-6589d246588e" Alias="contentmentNumberInputPage" Level="2">
  <Info>
    <Name>Number Input</Name>
    <Icon>icon-ordered-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A numeric editor, with sizing configurations.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="47d179b8-fe3e-45a3-b5c6-0e365b89cf39">contentmentNumberInputElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>49e46233-d86d-40e9-9372-e6234002dc59</Key>
      <Caption>Number Input</Caption>
      <Alias>numberInput</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>