<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca215b05-94d2-46d0-8536-886cf03a7cc6" Alias="contentmentTestElement" Level="2">
  <Info>
    <Name>Test Element</Name>
    <Icon>icon-lab color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e513802a-323b-424f-a18d-88b8e75057e2</Key>
      <Name>Test Element Picker</Name>
      <Alias>testElementPicker</Alias>
      <Definition>47e90cc0-4f4d-4169-9957-0491f0643e84</Definition>
      <Type>Umbraco.ElementPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>22f36b80-7dfa-4fb3-9bd2-782c673719dd</Key>
      <Caption>Test</Caption>
      <Alias>test</Alias>
      <Type>Tab</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>