<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d41d0c3-ba60-444d-a8ce-3f520c9062f2" Alias="contentmentDataListListEditorsComboboxPage" Level="2">
  <Info>
    <Name>Data List: List Editors: Combobox</Name>
    <Icon>icon-box-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="402eb381-8f89-4c48-b22c-ce7d990dab46">contentmentDataListListEditorsComboboxElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>