<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b082f14-749f-4bcc-a53f-739e240ee277" Alias="contentmentCodeEditorPage" Level="2">
  <Info>
    <Name>Code Editor</Name>
    <Icon>icon-code color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A code snippet editor, (using the Monaco library that is bundled with Umbraco).</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="35fd3c4e-b49e-414b-aee0-02fc35a5c250">contentmentCodeEditorElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>