<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb4fc78f-53d6-4c41-a669-d5f78c072edf" Alias="contentmentTextInputElement" Level="2">
  <Info>
    <Name>Text Input</Name>
    <Icon>icon-autofill color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A textstring editor, configurable with HTML5 options.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2991f9c5-0847-4d02-a1cf-82a8a6f4f82c</Key>
      <Name>Text Input</Name>
      <Alias>textInput</Alias>
      <Definition>f560933e-d476-4157-b512-0971342619cb</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7d457bc-29ff-4d55-8e80-cb84aa404d25</Key>
      <Name>Text Input Data Source</Name>
      <Alias>textInputDataSource</Alias>
      <Definition>4f7b4433-44a6-49ab-9503-b91a9a60434d</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ad50494-1bc8-4246-85fa-e2b68f1878b2</Key>
      <Name>Text Input Email</Name>
      <Alias>textInputEmail</Alias>
      <Definition>47ba9960-89c6-4115-8108-76047170cfac</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a209d8d3-9312-4c48-89fb-55cee5b9613f</Key>
      <Name>Text Input Maximum Characters</Name>
      <Alias>textInputMaxChars</Alias>
      <Definition>7a97149f-71f7-4ccb-84d8-ff85296a54ef</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f1f01c28-36e2-46fd-93b7-1bebe8e05074</Key>
      <Caption>Textboxes</Caption>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>