<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77128cc6-bcce-49ad-9b95-623bb8579e38" Alias="contentmentKitchenSinkPage" Level="2">
  <Info>
    <Name>Kitchen Sink Page</Name>
    <Icon>icon-food color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="569a0eb7-a4df-42a2-82da-3f4597c0ab41">contentmentBytesElement</Composition>
      <Composition Key="35fd3c4e-b49e-414b-aee0-02fc35a5c250">contentmentCodeEditorElement</Composition>
      <Composition Key="299974e3-1ab9-4f0b-88ae-101b263dad15">contentmentContentBlocksElement</Composition>
      <Composition Key="640e9dc9-dcdb-44ff-80b8-306b74a6e4fd">contentmentDataListListEditorsCheckboxListElement</Composition>
      <Composition Key="2719fe65-3825-4bd4-b9f7-cc8eef1c2d65">contentmentDataPickerElement</Composition>
      <Composition Key="b6b81342-9084-40f4-8416-ae1e2bcf09d2">contentmentIconPickerElement</Composition>
      <Composition Key="5f7c5626-7810-4a21-b885-ece5a69b27b8">contentmentInputListElement</Composition>
      <Composition Key="846aaf85-74b5-46e5-bfb9-bc433656e68a">contentmentListItemsElement</Composition>
      <Composition Key="47d179b8-fe3e-45a3-b5c6-0e365b89cf39">contentmentNumberInputElement</Composition>
      <Composition Key="94d49ae0-eda3-4836-a2dc-42a3cccf9998">contentmentSocialLinksElement</Composition>
      <Composition Key="4328ced5-778a-4b26-b287-79f66b6f3ad9">contentmentTextboxListElement</Composition>
      <Composition Key="fb4fc78f-53d6-4c41-a669-d5f78c072edf">contentmentTextInputElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>