<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4495e368-99c0-49e3-85f8-b79ebc200806" Alias="contentmentDataListListEditorsButtonsPage" Level="2">
  <Info>
    <Name>Data List: List Editors: Buttons</Name>
    <Icon>icon-chip color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="6d50b1b8-1307-4d39-8a2a-9e2bdcf6c086">contentmentDataListListEditorsButtonsElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>