<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d50b1b8-1307-4d39-8a2a-9e2bdcf6c086" Alias="contentmentDataListListEditorsButtonsElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Buttons</Name>
    <Icon>icon-chip color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f02e49a4-7ca0-486e-a853-cfb01a9cec31</Key>
      <Name>Data List: Buttons</Name>
      <Alias>dataListButtons</Alias>
      <Definition>d5c03689-ccdd-4581-b086-b48fb422c483</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="buttons">Buttons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>87c4e8f5-a983-409c-93c3-76e51833b593</Key>
      <Caption>Buttons</Caption>
      <Alias>buttons</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>