<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a43358ca-b31e-4495-af53-3d600b5841b4" Alias="contentmentSocialLinksPage" Level="2">
  <Info>
    <Name>Social Links</Name>
    <Icon>icon-science color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor to manage links for social network platforms.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="94d49ae0-eda3-4836-a2dc-42a3cccf9998">contentmentSocialLinksElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>0e2874c4-af90-4ee5-b161-9d156cf48517</Key>
      <Caption>Social Links</Caption>
      <Alias>socialLinks</Alias>
      <Type>Tab</Type>
      <SortOrder>-50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>