<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae359f6e-8a3c-4a9c-b793-e930c86f4a2f" Alias="contentmentListItemsPage" Level="2">
  <Info>
    <Name>List Items</Name>
    <Icon>icon-fa-table-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor to manage items with a name, value, icon and description.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="846aaf85-74b5-46e5-bfb9-bc433656e68a">contentmentListItemsElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>4882328f-3a94-4573-a11c-eb6e3163660c</Key>
      <Caption>List Items</Caption>
      <Alias>listItems</Alias>
      <Type>Tab</Type>
      <SortOrder>-50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>