<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b00afd6-8c01-451f-8b3c-c4f64d972d5a" Alias="contentmentDataListElement" Level="2">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-bulleted-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="6d50b1b8-1307-4d39-8a2a-9e2bdcf6c086">contentmentDataListListEditorsButtonsElement</Composition>
      <Composition Key="640e9dc9-dcdb-44ff-80b8-306b74a6e4fd">contentmentDataListListEditorsCheckboxListElement</Composition>
      <Composition Key="402eb381-8f89-4c48-b22c-ce7d990dab46">contentmentDataListListEditorsComboboxElement</Composition>
      <Composition Key="43c1cfdd-ed86-4def-ac9c-8376d9381a08">contentmentDataListListEditorsDropdownListElement</Composition>
      <Composition Key="5a5c5962-c86b-41d8-9888-d157c7d7e544">contentmentDataListListEditorsRadioButtonListElement</Composition>
      <Composition Key="2719fe65-3825-4bd4-b9f7-cc8eef1c2d65">contentmentDataPickerElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>30fe4fd4-47e3-4541-af2d-b6b8352f8f5a</Key>
      <Name>Test</Name>
      <Alias>test</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test">Test</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e8e9c65-690a-4530-bb23-6e58e345d943</Key>
      <Name>Test 3</Name>
      <Alias>test3</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test/test2">Test 2</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f1b54fe-75b0-4448-b37e-3ebda830d635</Key>
      <Name>Test 5</Name>
      <Alias>test5</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="test/test4">Test 4</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>536361d9-6650-4209-887a-598bfccf4653</Key>
      <Caption>Test 4</Caption>
      <Alias>test/test4</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c41515a5-d1e7-4831-a2b4-7ea390ea6eff</Key>
      <Caption>Test 2</Caption>
      <Alias>test/test2</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f8695ba7-9ec5-4e97-9f64-8e79dc7538eb</Key>
      <Caption>Test</Caption>
      <Alias>test</Alias>
      <Type>Tab</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>