<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b00afd6-8c01-451f-8b3c-c4f64d972d5a" Alias="contentmentDataListElement" Level="2">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-bulleted-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor that combines a custom data source with a custom list editor.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="6d50b1b8-1307-4d39-8a2a-9e2bdcf6c086">contentmentDataListListEditorsButtonsElement</Composition>
      <Composition Key="640e9dc9-dcdb-44ff-80b8-306b74a6e4fd">contentmentDataListListEditorsCheckboxListElement</Composition>
      <Composition Key="402eb381-8f89-4c48-b22c-ce7d990dab46">contentmentDataListListEditorsComboboxElement</Composition>
      <Composition Key="43c1cfdd-ed86-4def-ac9c-8376d9381a08">contentmentDataListListEditorsDropdownListElement</Composition>
      <Composition Key="5a5c5962-c86b-41d8-9888-d157c7d7e544">contentmentDataListListEditorsRadioButtonListElement</Composition>
      <Composition Key="2719fe65-3825-4bd4-b9f7-cc8eef1c2d65">contentmentDataPickerElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>true</AllowedInLibrary>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>