<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de138ee3-ac56-488d-ac1a-7530c787744d" Alias="contentmentDataListListEditorsTagsPage" Level="2">
  <Info>
    <Name>Data List: List Editors: Tags</Name>
    <Icon>icon-fa-tags color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="fa4454ab-0442-421a-a6da-0fe42298c477">contentmentDataListListEditorsTagsElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>