<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4128a049-f8bf-426a-b4ed-e1bd6df03d2c" Alias="contentmentNotesPage" Level="2">
  <Info>
    <Name>Notes</Name>
    <Icon>icon-autofill color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display rich-text instructional messages for content editors.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="c511521b-6209-407d-bc9a-275e234f3991">contentmentNotesElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>b10178b5-7bc4-4b7d-8c10-d14d031d6531</Key>
      <Caption>Notes</Caption>
      <Alias>notes</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>