<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="435895c3-be34-47a5-aae5-664ed432acd2" Alias="contentmentBytesPage" Level="2">
  <Info>
    <Name>Bytes</Name>
    <Icon>icon-binarycode color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display file sizes in relative bytes.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="569a0eb7-a4df-42a2-82da-3f4597c0ab41">contentmentBytesElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>