<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4e818a8-1fec-4cb5-8cbc-d8936a58caf6" Alias="contentmentTemplatedLabelElement" Level="2">
  <Info>
    <Name>Templated Label</Name>
    <Icon>icon-fa-codepen color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A display label, ideal for showing data from 3rd-party systems.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bdd2d1a4-f2e1-4473-9603-972b1b7998a9</Key>
      <Name>Templated Label: JSON</Name>
      <Alias>templatedLabelJson</Alias>
      <Definition>ea007cb5-7060-45e7-bc1c-f612b17e210c</Definition>
      <Type>Umbraco.Community.Contentment.TemplatedLabel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="templatedLabel">Templated Label</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b60d2abc-714f-4176-ab30-7c309d892f63</Key>
      <Caption>Templated Label</Caption>
      <Alias>templatedLabel</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>