<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="846aaf85-74b5-46e5-bfb9-bc433656e68a" Alias="contentmentListItemsElement" Level="2">
  <Info>
    <Name>List Items</Name>
    <Icon>icon-fa-table-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor to manage items with a name, value, icon and description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ca9a3a33-7d25-41c5-bdd6-b6545320d8d2</Key>
      <Name>List Items</Name>
      <Alias>listItems</Alias>
      <Definition>057ce77f-e3b2-4dfb-9b14-5984be8e11e8</Definition>
      <Type>Umbraco.Community.Contentment.ListItems</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="listItems">List Items</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b60baac0-4bf4-4f30-b7c5-b28d31f10755</Key>
      <Caption>List Items</Caption>
      <Alias>listItems</Alias>
      <Type>Tab</Type>
      <SortOrder>-50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>