<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89392c14-e7ef-4a39-922c-f8aefd690e9a" Alias="contentmentEditorNotesElement" Level="2">
  <Info>
    <Name>Editor Notes</Name>
    <Icon>icon-alert color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Similar to Notes, with enhanced UI options.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cf724e33-08a7-4ff7-b0ff-698ebaea190f</Key>
      <Name>Editor Notes: Danger</Name>
      <Alias>editorNotesDanger</Alias>
      <Definition>2c81c3b2-3ee0-4ef2-9803-fa149d28dbb3</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="editorNotes">Editor Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7014535-652b-4505-a27c-e519856bc844</Key>
      <Name>Editor Notes: Default</Name>
      <Alias>editorNotesDefault</Alias>
      <Definition>569416cf-60c4-483a-a117-8ea8ad4bc055</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="editorNotes">Editor Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e639ac8-e317-4a77-b714-f7312e61ba63</Key>
      <Name>Editor Notes: Positive</Name>
      <Alias>editorNotesPositive</Alias>
      <Definition>2e5a7194-8a4c-4c3a-a710-a20b7c723390</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="editorNotes">Editor Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c8f856be-6f50-4f69-b83f-e0b44bc33226</Key>
      <Name>Editor Notes: Warning</Name>
      <Alias>editorNotesWarning</Alias>
      <Definition>ee43e19a-fefa-40c3-a454-f1876539cebe</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="editorNotes">Editor Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>93125a1f-3647-479c-b543-e0890955e62a</Key>
      <Caption>Editor Notes</Caption>
      <Alias>editorNotes</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>