<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70dd9333-2893-4df2-87df-f6bf7d054673" Alias="contentmentTextInputPage" Level="2">
  <Info>
    <Name>Text Input</Name>
    <Icon>icon-autofill color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A textstring editor, configurable with HTML5 options.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="fb4fc78f-53d6-4c41-a669-d5f78c072edf">contentmentTextInputElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>44a9a09f-4e34-48a3-93f4-a2f995a6987c</Key>
      <Caption>Textboxes</Caption>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>