<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd9166ec-c16d-4f79-9135-94453c1615ad" Alias="contentmentDataListListEditorsItemPickerElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Item Picker</Name>
    <Icon>icon-fa-arrow-pointer color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4aa8b861-7392-43f1-ba5e-c63b2597225d</Key>
      <Name>Data List: Item Picker</Name>
      <Alias>dataListItemPicker</Alias>
      <Definition>57370d6f-13a7-4b40-a6e1-33a94447e9be</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="itemPicker">Item Picker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ce79b66-4286-4209-9d99-26c31ded5280</Key>
      <Caption>Item Picker</Caption>
      <Alias>itemPicker</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>