<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="143ce071-b91b-4df7-9fe1-fab87115aaee" Alias="contentmentDataListListEditorsCustomComponentListPage" Level="2">
  <Info>
    <Name>Data List: List Editors: Custom Component List</Name>
    <Icon>icon-shipping-box color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="25c0af86-c3d9-4e91-b26c-500477884a2e">contentmentDataListListEditorsCustomComponentListElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>