<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d193833-2332-4cee-8cfb-e66d19dde58e" Alias="contentmentEditorNotesPage" Level="2">
  <Info>
    <Name>Editor Notes</Name>
    <Icon>icon-alert color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Similar to Notes, with enhanced UI options.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="89392c14-e7ef-4a39-922c-f8aefd690e9a">contentmentEditorNotesElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>