<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="94d49ae0-eda3-4836-a2dc-42a3cccf9998" Alias="contentmentSocialLinksElement" Level="2">
  <Info>
    <Name>Social Links</Name>
    <Icon>icon-science color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor to manage links for social network platforms.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2b260925-a91f-49de-b42a-ef7cbe27daa2</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>55ee110f-c4eb-4688-b701-f0be655ca25b</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="socialLinks">Social Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>47e65d51-05f4-4c7f-aaf2-9874a431c606</Key>
      <Caption>Social Links</Caption>
      <Alias>socialLinks</Alias>
      <Type>Tab</Type>
      <SortOrder>-50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>