<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="299974e3-1ab9-4f0b-88ae-101b263dad15" Alias="contentmentContentBlocksElement" Level="2">
  <Info>
    <Name>Content Blocks</Name>
    <Icon>icon-fa-server color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A block editor, configurable using element types.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76c58c4a-02ac-4624-9417-fb574e71f1ad</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>dd383342-d4f9-458d-8325-bb93f9a51183</Definition>
      <Type>Umbraco.Community.Contentment.ContentBlocks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentBlocks">Content Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>88606f5e-e25a-4d5f-b1f8-1ea10789cd42</Key>
      <Caption>Content Blocks</Caption>
      <Alias>contentBlocks</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>