<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1424e36-846b-4524-a05a-7ac79a057597" Alias="contentmentIconPickerPage" Level="2">
  <Info>
    <Name>Icon Picker</Name>
    <Icon>icon-palette color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An editor to select an icon (from the Umbraco icon library).</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="b6b81342-9084-40f4-8416-ae1e2bcf09d2">contentmentIconPickerElement</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>c70ae760-6d53-4224-a1e9-4fe0a1e7abde</Key>
      <Caption>Icons</Caption>
      <Alias>icons</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>