<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="402eb381-8f89-4c48-b22c-ce7d990dab46" Alias="contentmentDataListListEditorsComboboxElement" Level="2">
  <Info>
    <Name>Data List: List Editors: Combobox</Name>
    <Icon>icon-box-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1604392a-9949-47f9-a98e-507a2ac78cbb</Key>
      <Name>Data List: Combobox</Name>
      <Alias>dataListCombobox</Alias>
      <Definition>235aa12d-d68d-4088-a0af-e15be59c4ad4</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>25</SortOrder>
      <Tab Alias="combobox">Combobox</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7588b69f-e407-4afa-b871-40eeb9f1b786</Key>
      <Caption>Combobox</Caption>
      <Alias>combobox</Alias>
      <Type>Tab</Type>
      <SortOrder>25</SortOrder>
    </Tab>
  </Tabs>
</ContentType>