<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b220e8f1-8e90-4172-9d5c-e67e744cf40f" Alias="umbracoCollectionPage" Level="2">
  <Info>
    <Name>Umbraco Collection Page</Name>
    <Icon>icon-umbraco color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>219813d8-c6fb-489d-ad88-f2e2c051c173</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
    <AllowedInLibrary>false</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="77128cc6-bcce-49ad-9b95-623bb8579e38" SortOrder="0">contentmentKitchenSinkPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>