<?xml version="1.0" encoding="utf-8"?>
<DataType Key="869e60dc-a1ef-41c1-abad-b241eb796965" Alias="[Contentment] Data List - .NET Enumeration" Level="2">
  <Info>
    <Name>[Contentment] Data List - .NET Enumeration</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "System.Console, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a",
          "System.ConsoleColor"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-color-bucket color-purple",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>