<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48bfc7e6-fe35-4cf0-ae93-e5522bc71a51" Alias="[Contentment] Custom Value Converter - Example" Level="2">
  <Info>
    <Name>[Contentment] Custom Value Converter - Example</Name>
    <EditorAlias>Umbraco.Community.Contentment.CustomValueConverter</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/16393b04a15c434ba658d8e30f76a28f",
  "valueConverter": [
    "Umbraco.Cms.Core.PropertyEditors.TextStringValueConverter"
  ]
}]]></Config>
</DataType>