<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a118b031-034a-4a53-89e7-729b07b9b9f3" Alias="[Contentment] Data List - Umbraco Members" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Members</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {
        "memberType": [
          "umb://member-type/d59be02f1df94228aa1e01917d806cda"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>