<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4d66c0f-b935-4200-81f0-025f7256b89a" Alias="Date Picker with time" Level="1">
  <Info>
    <Name>Date Picker with time</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>