<!-- Copyright © 2022 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment umb-multiple-textbox" ng-class="vm.uniqueId" ng-controller="Umbraco.Community.Contentment.DataEditors.TextboxList.Controller as vm">
    <div class="flex items-start mb2" ng-repeat="key in vm.keys">
        <label for="{{_id = vm.uniqueId + '-' + $index}}"
               class="flex justify-start items-start mt1 mr3"
               ng-attr-title="{{key}}"
               ng-class="{ 'flx-auto': vm.hideName === true, 'flx-b3':  vm.hideName === false}">
            <umb-icon icon="{{_icon = vm.icons[key]}}"
                      ng-class="_icon"
                      ng-if="vm.hideIcon === false"></umb-icon>
            <span ng-bind="vm.names[key]"
                  ng-class="{ 'mt1 ml2': vm.hideIcon === false }"
                  ng-if="vm.hideName === false"></span>
        </label>
        <div class="umb-property-editor">
            <input type="{{vm.inputTypes.includes(key) ? key : 'text'}}"
                   class="umb-textstring -full-width-input"
                   id="{{_id}}"
                   ng-model="model.value[key]"
                   ng-trim="false" />
        </div>
    </div>
</div>
