<!-- Copyright © 2020 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment" ng-class="vm.uniqueId" ng-controller="Umbraco.Community.Contentment.DataEditors.TemplatedList.Controller as vm">
    <div lk-html-attributes="vm.htmlAttributes">
        <span ng-class="{ 'disabled' : item.disabled, 'selected' : item.selected }"
              ng-click="vm.select(item)"
              ng-disabled="item.disabled"
              ng-repeat="item in vm.items"
              lk-bind-html-template="vm.template">
        </span>
    </div>
</div>
