/* Copyright © 2019 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment .umb-panel-header-icon .label-add {
    font-size: 10px;
}

.contentment .umb-mediapicker .umb-sortable-thumbnails__wrapper > .icon {
    font-size: 50px;
}

.contentment .umb-mediapicker .umb-sortable-thumbnails__wrapper > small {
    text-align: center;
}
