<!-- Copyright © 2019 Lee Kelleher, Umbrella Inc and other contributors.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="umb-property-editor umb-checkboxlist" ng-controller="Our.Umbraco.Contentment.DataEditors.CheckboxList.Controller as vm">
    <ul class="unstyled checkbox no-indent" ng-class="vm.layout">
        <li ng-repeat="item in vm.items">
            <label>
                <input type="checkbox" ng-change="vm.changed(item)" ng-model="item.checked" value="{{item.value}}" />
                <span ng-bind-html="item.name | safe_html"></span>
            </label>
        </li>
    </ul>
</div>
