<div class="umb-property-editor" ng-controller="Our.Umbraco.Contentment.DataEditors.DataTable.Controller as vm">
    <table class="table" ng-show="vm.items.length > 0" ng-style="vm.style">
        <thead>
            <tr>
                <th ng-if="vm.sortable"></th>
                <th ng-repeat="heading in vm.headings">{{heading}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody ui-sortable="vm.sortableOptions" ng-model="vm.items">
            <tr ng-repeat="item in vm.items">
                <td ng-if="vm.sortable" style="vertical-align: top;">
                    <i class="icon icon-navigation handle"></i>
                </td>
                <td ng-repeat="field in item" style="vertical-align: top;">
                    <umb-property-editor model="field" is-pre-value="{{vm.usePrevalueEditors}}"></umb-property-editor>
                </td>
                <td style="text-align: right;vertical-align: top;">
                    <div ng-if="vm.allowRemove" style="position:relative;">
                        <i class="icon-trash" ng-click="vm.showPrompt(item)"></i>
                        <umb-confirm-action ng-if="item.prompt"
                                            direction="left"
                                            on-confirm="vm.remove($index)"
                                            on-cancel="vm.hidePrompt(item)">
                        </umb-confirm-action>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="umb-node-preview-add" href="" ng-click="vm.add($event)" ng-if="vm.allowAdd" prevent-default>
        <localize key="general_add">Add</localize>
    </a>
</div>
