<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65ecf603-e89f-4080-a15f-7947f56c6b0a" Alias="moduleRenderMetaTag" Level="2">
  <Info>
    <Name>[Module] Render Meta Tag</Name>
    <Icon>icon-brick color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This composition is used to declare a module as implementing a HTML meta-tag component.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>