<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="be1a660e-e7b1-49b7-8101-45095e56350a" Alias="testMiscPage" Level="2">
  <Info>
    <Name>Test Misc Page</Name>
    <Icon>icon-defrag color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A demo page to test miscellaneous property editors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>testMiscPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32cf5caf-9267-4cf4-8327-2dcbd24a1cd7">testMiscPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a8a252ea-e668-40e8-9291-6b28fbf838b3</Key>
      <Name>Data List Items</Name>
      <Alias>dataListItems</Alias>
      <Definition>5e916f60-6b57-40a7-a7ae-15a663408fb2</Definition>
      <Type>Umbraco.Community.Contentment.ListItems</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="socialLinks">Social Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a290a9de-0b71-49b7-9572-0bf541525469</Key>
      <Name>Data Picker - Umbraco Content</Name>
      <Alias>dataPickerUmbracoContent</Alias>
      <Definition>118e1656-eb6d-499a-bf81-46683f3d548c</Definition>
      <Type>Umbraco.Community.Contentment.DataPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="dataPicker">Data Picker</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ec1844a-2609-41af-a23c-e785fdef96e5</Key>
      <Name>Icon Picker</Name>
      <Alias>iconPicker</Alias>
      <Definition>c97baba6-7aa8-4df8-a590-d9c293fe49bb</Definition>
      <Type>Umbraco.Community.Contentment.IconPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="icons">Icons</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d67b024-74f3-43c3-9eb1-a62a98207caf</Key>
      <Name>Options for Data List</Name>
      <Alias>optionsForDataList</Alias>
      <Definition>c0b4fb7d-436a-40fc-a5f2-dc88d868b1af</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>70</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93fcc391-f092-4e85-917f-8e1f5a7024be</Key>
      <Name>Social Links</Name>
      <Alias>socialLinks</Alias>
      <Definition>55ee110f-c4eb-4688-b701-f0be655ca25b</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="socialLinks">Social Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5049c7f6-0ccb-4315-b4fb-3c860d7c39cc</Key>
      <Name>Test Textbox</Name>
      <Alias>testTextbox</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used as a guide/comparison for the Textbox List editor.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8293bcfa-382d-4532-9501-ee14e808322d</Key>
      <Name>Textbox List</Name>
      <Alias>textboxList</Alias>
      <Definition>d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061</Definition>
      <Type>Umbraco.Community.Contentment.TextboxList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>55</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fcb16736-b93b-4a0f-ba1d-ee845a0fd3d6</Key>
      <Name>Text Input</Name>
      <Alias>textInput</Alias>
      <Definition>f560933e-d476-4157-b512-0971342619cb</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dff1784d-88b5-4d6e-ad01-abbfab6ac68e</Key>
      <Name>Text Input Email</Name>
      <Alias>textInputEmail</Alias>
      <Definition>47ba9960-89c6-4115-8108-76047170cfac</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="textboxes">Textboxes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d08808c6-3be8-454b-a646-67c2e30ff2c8</Key>
      <Caption>Data Picker</Caption>
      <Alias>dataPicker</Alias>
      <Type>Tab</Type>
      <SortOrder>-60</SortOrder>
    </Tab>
    <Tab>
      <Key>7714882f-3f44-489d-ad10-471b5ead0723</Key>
      <Caption>Social Links</Caption>
      <Alias>socialLinks</Alias>
      <Type>Tab</Type>
      <SortOrder>-50</SortOrder>
    </Tab>
    <Tab>
      <Key>e1176c1d-7a9b-4cb7-b9f3-4b54e726573f</Key>
      <Caption>Icons</Caption>
      <Alias>icons</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>73c9dae5-5ee7-4392-807a-7f7469dc8a8d</Key>
      <Caption>Textboxes</Caption>
      <Alias>textboxes</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>