/* Copyright © 2019 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.lk-content-blocks__container {
    max-width: 845px;
}

.lk-content-blocks__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

    .lk-content-blocks__block .lk-content-blocks__preview {
        flex: 1;
        position: relative;
    }

        .lk-content-blocks__block .lk-content-blocks__preview.lk-content-blocks__preview--cover {
        }

            .lk-content-blocks__block .lk-content-blocks__preview.lk-content-blocks__preview--cover:after {
                content: "";
                background: rgba(225, 225, 225, 0.5);
                border-radius: 3px;
                box-shadow: 0px 1px 1px 0px rgba(33, 33, 66, 0.2);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: opacity .12s;
            }

            .lk-content-blocks__block .lk-content-blocks__preview.lk-content-blocks__preview--cover:hover:after {
                opacity: .66;
            }

        .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--left {
            background-color: #fff;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            font-size: 12px;
            padding: 0 5px;
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 20;
        }

            .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--left .icon {
                padding-top: 4px;
                padding-right: 4px;
            }

        .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--default {
            text-align: center;
            padding: 30px 10px 15px;
        }

            .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--default .icon {
                font-size: 40px;
            }

            .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--default h5 {
                font-size: 14px;
            }

        .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--markup pre.error {
            margin: 35px 10px 10px 10px;
        }

            .lk-content-blocks__block .lk-content-blocks__preview .lk-content-blocks__preview--markup pre.error code {
                font-size: small;
                white-space: pre-wrap;
            }

    .lk-content-blocks__block .lk-content-blocks__actions {
        flex: 0 0 34px;
        padding: 10px 0 0 7px;
        margin: 0;
        list-style: none;
    }

        .lk-content-blocks__block .lk-content-blocks__actions .lk-content-blocks__action--item {
        }

            .lk-content-blocks__block .lk-content-blocks__actions .lk-content-blocks__action--item .icon {
                color: #1b264f;
                font-size: 18px;
                padding: 5px 10px;
            }

                .lk-content-blocks__block .lk-content-blocks__actions .lk-content-blocks__action--item .icon:hover {
                    color: #2152a3;
                }

            .lk-content-blocks__block .lk-content-blocks__actions .lk-content-blocks__action--item > button {
                background: none;
                border: none;
                font-size: 18px;
                cursor: pointer;
                color: #162335;
                margin: 0;
                padding: 7px 0;
            }

        .lk-content-blocks__block .lk-content-blocks__actions .umb-property-actions {
            position: relative;
            display: inline-block;
            float: none;
            margin: 3px 0 0 7px;
        }

            .lk-content-blocks__block .lk-content-blocks__actions .umb-property-actions .umb-property-actions__menu,
            .lk-content-blocks__block .lk-content-blocks__actions .umb-property-actions .umb-property-actions__menu-open-toggle {
                right: 0;
            }

        .lk-content-blocks__block .lk-content-blocks__actions .umb-property-actions__toggle {
            opacity: 1;
            background-color: transparent;
        }

            .lk-content-blocks__block .lk-content-blocks__actions .umb-property-actions__toggle:hover {
                background-color: #f9f6f5;
            }

.lk-content-blocks .umb-node-preview-add {
    margin-right: 45px;
}

.contentment button.lk-content-blocks__edit {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 25;
}

.contentment.umb-block-list .umb-block-list__wrapper {
    max-width: 800px;
}
