/* Copyright © 2020 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

/*
    Umbraco Contentment - Backoffice UI Shim
    These are CSS override rules to enforce specific changes in the Umbraco back-office.
*/

/* Enables the use of FontAwesome icons without the extra `.fa` CSS baggage. */
[class].icon-fa {
    font-family: FontAwesome;
    text-align: center;
}

.umb-tree-icon.icon-fa {
    width: 20px;
}

/* Anchor links within `.alert-form` are rendered as white, (appearing invisible) */
.alert-form a {
    color: #1b264f;
}

/* Contentment dashboard, paragraph line height felt squished. */
.contentment .umb-box-content p {
    line-height: 1.5rem;
}

/* Block List Configuration Card - Tweaks */
.contentment .umb-block-card {
}

    .contentment .umb-block-card .__showcase {
        background-color: rgba(0, 0, 0, 0.25);
        background-size: cover;
    }

    .contentment .umb-block-card .__info .__name,
    .contentment .umb-block-card .__info .__subname {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px;
    }

    /* Block List Configuration Card, adds fade to appear disabled/unpublished. */
    .contentment .umb-block-card.__fade {
        opacity: 0.5;
    }

    /* Block List Configuration Card, fixes icon position of action buttons. */
    .contentment .umb-block-card .__actions > button {
        padding-top: 3px;
    }

    /* Block List Configuration Card, fixes dscription padding. */
    .contentment .umb-block-card .__info .__subname {
        margin-right: 16px;
    }

/* Copyright © 2020 Perplex Digital
 * Parts of this Source Code has been derived from Perplex.ContentBlocks.
 * https://github.com/PerplexDigital/Perplex.ContentBlocks/blob/v2.1.0/src/Perplex.ContentBlocks/App_Plugins/Perplex.ContentBlocks/perplex.content-blocks.less#L120-L136
 * Modified under the permissions of the MIT License.
 * Modifications are licensed under the Mozilla Public License. */
/* Hides the container property group (tab), see `lk-hide-property-group` directive */
.umb-group-panel--hide {
    all: unset;
    background: none;
    box-shadow: none !important;
}

    .umb-group-panel--hide .umb-group-panel__header {
        display: none;
    }

    .umb-group-panel--hide .umb-group-panel__content {
        padding: 0;
    }

    .umb-group-panel--hide .umb-box-content {
        padding: 0;
    }
