<!-- Copyright © 2019 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div ng-controller="Umbraco.Community.Contentment.DataEditors.CascadingDropdownList.Controller as vm">

    <div class="umb-rte row-fluid span8" ng-if="vm.loading === true">
        <umb-load-indicator></umb-load-indicator>
    </div>

    <div ng-show="vm.loading === false">
        <span ng-repeat="dropdown in vm.dropdowns">
            <select class="umb-dropdown"
                    style="margin-bottom: 10px;"
                    ng-model="model.value[$index]"
                    ng-options="item.value as item.name disable when item.disabled for item in dropdown.options"
                    ng-required="true"
                    ng-change="vm.change($index)">
            </select>
        </span>
    </div>

</div>
