/* Copyright © 2021 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment .umb-tags .tag {
    user-select: text;
}

    .contentment .umb-tags .tag .icon {
        color: white !important;
    }

    .contentment .umb-tags .tag .btn-reset {
        line-height: 14px;
    }

    .contentment .umb-tags .tag .icon-trash {
        bottom: 0;
    }
