<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4b190f2-e2a6-470c-a39f-8e1ae14d521c" Alias="[Contentment] Data Picker - Web uCssClassName" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Web uCssClassName</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.uCssClassNameDataListSource, Umbraco.Community.Contentment",
      "value": {
        "cssPath": "~/umbraco/lib/font-awesome/css/font-awesome.min.css",
        "cssRegex": "\\.fa-([^:]*?):before",
        "excludeList": "",
        "iconPattern": "icon-fa fa-{0}"
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "hideSearch": "0",
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>