<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6e8feed-46ac-4d08-8988-4933ce4d9ef4" Alias="[Contentment] Notes - Welcome" Level="1">
  <Info>
    <Name>[Contentment] Notes - Welcome</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<h2>Welcome to the Contentment demo</h2>\n<p><em>This is a work in progress.</em></p>\n<p><em>[TODO] Add instructions and links to various parts of the CMS.</em></p>",
  "hideLabel": "1",
  "hidePropertyGroup": "1"
}]]></Config>
</DataType>