<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55ee110f-c4eb-4688-b701-f0be655ca25b" Alias="[Contentment] Social Links" Level="2">
  <Info>
    <Name>[Contentment] Social Links</Name>
    <EditorAlias>Umbraco.Community.Contentment.SocialLinks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "networks": [
    {
      "key": "network",
      "value": {
        "network": "facebook",
        "name": "Facebook",
        "url": "https://facebook.com/",
        "icon": "icon-facebook",
        "backgroundColor": "#3b5998",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "twitter",
        "name": "Twitter",
        "url": "https://twitter.com/",
        "icon": "icon-twitter",
        "backgroundColor": "#2795e9",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "instagram",
        "name": "Instagram",
        "url": "https://instagram.com/",
        "icon": "icon-instagram",
        "backgroundColor": "#305777",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "linkedin",
        "name": "LinkedIn",
        "url": "https://linkedin.com/in/",
        "icon": "icon-linkedin",
        "backgroundColor": "#007bb6",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "youtube",
        "name": "YouTube",
        "url": "https://youtube.com/",
        "icon": "icon-youtube",
        "backgroundColor": "#f00",
        "iconColor": "#fff"
      }
    },
    {
      "key": "network",
      "value": {
        "network": "github",
        "name": "GitHub",
        "url": "https://github.com/",
        "icon": "icon-github",
        "backgroundColor": "#000000",
        "iconColor": "#fff"
      }
    }
  ],
  "confirmRemoval": "1",
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>