<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47ba9960-89c6-4115-8108-76047170cfac" Alias="[Contentment] Text Input - Email" Level="2">
  <Info>
    <Name>[Contentment] Text Input - Email</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "email",
  "placeholderText": "Enter an email address",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0",
  "prepend": "icon-message color-black"
}]]></Config>
</DataType>