<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3" Alias="Image Media Picker" Level="1">
  <Info>
    <Name>Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": null,
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>