<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0bc4bfb-b499-40d6-ba86-058885a5178c" Alias="Label (string)" Level="1">
  <Info>
    <Name>Label (string)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>