<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc1e266c-dac4-4164-bf08-8a1ec6a7143d" Alias="Upload Article" Level="1">
  <Info>
    <Name>Upload Article</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "pdf"
    },
    {
      "id": 1,
      "value": "docx"
    },
    {
      "id": 2,
      "value": "doc"
    }
  ]
}]]></Config>
</DataType>