<!-- Copyright © 2022 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment umb-readonlyvalue editor-note flex items-center" ng-class="vm.alertType" lk-hide-property-group="{{vm.hidePropertyGroup}}" ng-controller="Umbraco.Community.Contentment.DataEditors.EditorNotes.Controller as vm">
    <umb-icon icon="{{vm.icon}}" ng-class="vm.icon" ng-if="vm.icon"></umb-icon>
    <div>
        <h5 class="mt1 mb1" ng-bind="vm.heading" ng-if="vm.heading"></h5>
        <div lk-bind-html-template="vm.message" ng-class="{ 'mt1': !vm.heading }" ng-if="vm.message"></div>
    </div>
</div>
