/* Copyright © 2022 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment.umb-readonlyvalue.editor-note {
}

    .contentment.umb-readonlyvalue.editor-note .umb-icon {
        padding: 0 20px 0 10px;
        height: 48px;
        width: 48px;
    }

    .contentment.umb-readonlyvalue.editor-note p:last-child {
        margin-bottom: 0.25rem
    }

    .contentment.umb-readonlyvalue.editor-note.alert-info > .umb-icon .color-black,
    .contentment.umb-readonlyvalue.editor-note.alert-success > .umb-icon .color-black,
    .contentment.umb-readonlyvalue.editor-note.alert-warning > .umb-icon .color-black,
    .contentment.umb-readonlyvalue.editor-note.alert-error > .umb-icon .color-black {
        color: #fff !important;
    }

    .contentment.umb-readonlyvalue.editor-note h5 {
        color: inherit;
    }

.umb-editor--infiniteMode .contentment.umb-readonlyvalue.editor-note .umb-icon {
    height: 32px;
    width: 32px;
}
