<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24522ebf-901d-4aa2-a472-61b6181fd0e5" Alias="callToActionBlock" Level="2">
  <Info>
    <Name>Call To Action Block</Name>
    <Icon>icon-megaphone color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="0b308cde-6352-4fe0-ba6e-6fe4a8a94199">componentHeadingProperty</Composition>
      <Composition Key="746fc21e-6f15-4310-af55-7804bed2b552">componentIntroProperty</Composition>
      <Composition Key="52071f4a-2226-4611-b650-41bd731708d9">componentLinkProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>