<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b308cde-6352-4fe0-ba6e-6fe4a8a94199" Alias="componentHeadingProperty" Level="2">
  <Info>
    <Name>[Component] Heading Property</Name>
    <Icon>icon-billboard color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>607362ed-f1b0-4d0a-9c17-316d978cd7b2</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>16393b04-a15c-434b-a658-d8e30f76a28f</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d2427d6b-d002-4cc3-9224-72f3fdd7b223</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>