<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ecf8041-c594-4e95-9a0c-6ed98f99bbc2" Alias="componentCodeSnippetProperties" Level="2">
  <Info>
    <Name>[Component] Code Snippet Properties</Name>
    <Icon>icon-code color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9222f08c-d031-4b71-aaf7-77ce21f35ad7</Key>
      <Name>Code</Name>
      <Alias>code</Alias>
      <Definition>6f3ef9f3-0b49-403e-bec1-7e932157a9b1</Definition>
      <Type>Umbraco.Community.Contentment.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Paste in your code snippet.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cf1b1b4-b979-47bb-8161-ceca624aa58b</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[For display purposes, enter a description of this code snippet.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="code">Code</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d7afd15b-b683-4a34-b244-61bab327d8cb</Key>
      <Caption>Code</Caption>
      <Alias>code</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>