<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55877ddd-640f-4d73-8b53-f8c671e8415a" Alias="htmlEmbedBlock" Level="2">
  <Info>
    <Name>HTML Embed</Name>
    <Icon>icon-code color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Include a custom HTML code snippet.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks</Folder>
    <Compositions>
      <Composition Key="6ecf8041-c594-4e95-9a0c-6ed98f99bbc2">componentCodeSnippetProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>