<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10348ffc-6963-4b23-a928-4415957a22d2" Alias="metaTagModule" Level="2">
  <Info>
    <Name>Meta Tag</Name>
    <Icon>icon-code color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Insert a meta-tag code snippet.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bModules%5d</Folder>
    <Compositions>
      <Composition Key="6ecf8041-c594-4e95-9a0c-6ed98f99bbc2">componentCodeSnippetProperties</Composition>
      <Composition Key="65ecf603-e89f-4080-a15f-7947f56c6b0a">moduleRenderMetaTag</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>