<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fa7a6c7b-6406-427f-b475-179083a5c5e1" Alias="moduleRenderCss" Level="2">
  <Info>
    <Name>[Module] Render CSS</Name>
    <Icon>icon-brick color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This composition is used to declare a module as implementing a CSS component.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>