<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66e4bfed-fafb-404c-b310-b21093a25781" Alias="pageNavigationInternalRedirectProperty" Level="2">
  <Info>
    <Name>[Page] Navigation Internal Redirect Property</Name>
    <Icon>icon-redo color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9deab799-3496-4c43-9449-32745ebc0a47</Key>
      <Name>Redirect to page</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To redirect this page an internal page, please select the content page.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c57dd471-9dda-4d24-ada9-226871bc771b</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Group</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>