<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d7b09fe-a55a-4d46-a05f-8f655d9e5ebb" Alias="pageNavigationExternalRedirectProperty" Level="2">
  <Info>
    <Name>[Page] Navigation External Redirect Property</Name>
    <Icon>icon-redo color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>384f47d0-4dff-40cd-b1f5-02caeb58fc11</Key>
      <Name>Redirect to URL</Name>
      <Alias>umbracoRedirectUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To redirect this page to an external webpage, please enter the URL.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Group</Type>
      <SortOrder>90</SortOrder>
    </Tab>
  </Tabs>
</ContentType>