<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef6f2331-a290-458a-aa92-6120986a06fd" Alias="rootContainer" Level="2">
  <Info>
    <Name>Root Container</Name>
    <Icon>icon-globe-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>%5bContainers%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b082f14-749f-4bcc-a53f-739e240ee277" SortOrder="0">homePage</ContentType>
    <ContentType Key="356dd1f4-e0f9-4cbd-8646-af46aa7c6f16" SortOrder="1">repositoryContainer</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>14fae166-ee97-40ac-aa0f-4a001bee2b84</Key>
      <Name>Notes</Name>
      <Alias>notes</Alias>
      <Definition>c6e8feed-46ac-4d08-8988-4933ce4d9ef4</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e5de2062-6241-4865-bc80-1ed2fe02e22c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>