<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4128a049-f8bf-426a-b4ed-e1bd6df03d2c" Alias="testNotesPage" Level="2">
  <Info>
    <Name>Test Notes Page</Name>
    <Icon>icon-alert color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A demo page to test the read-only note editors</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>testNotesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b8626a7a-ccf6-4e0d-923c-23d7086a78c8">testNotesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e22678ec-0d78-4974-9665-ffac08cba82f</Key>
      <Name>Editor Notes</Name>
      <Alias>editorNotes</Alias>
      <Definition>569416cf-60c4-483a-a117-8ea8ad4bc055</Definition>
      <Type>Umbraco.Community.Contentment.EditorNotes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="notes">Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df5205b7-147f-4bf6-9b33-32b90840f4e0</Key>
      <Name>Notes Rich Text</Name>
      <Alias>notesRichText</Alias>
      <Definition>09014506-b1b8-4ce1-a075-b19b74e5a707</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="notes">Notes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8724a29a-5f72-490e-af55-60ea24dad591</Key>
      <Name>Render Macro Sitemap</Name>
      <Alias>renderMacroSitemap</Alias>
      <Definition>ffa59277-79bc-4a1c-81d9-b0e93bcfb058</Definition>
      <Type>Umbraco.Community.Contentment.RenderMacro</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="renderMacro">Render Macro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>405e7a0d-6d73-4a58-8637-abe771d4e2b4</Key>
      <Name>Templated Label Example</Name>
      <Alias>templatedLabelExample</Alias>
      <Definition>ea007cb5-7060-45e7-bc1c-f612b17e210c</Definition>
      <Type>Umbraco.Community.Contentment.TemplatedLabel</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="templatedLabel">Templated Label</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>462ff513-f227-4907-8e88-a95673e8678c</Key>
      <Caption>Notes</Caption>
      <Alias>notes</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>1338d7e2-9439-4493-8181-8099c7c21a61</Key>
      <Caption>Render Macro</Caption>
      <Alias>renderMacro</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>3bde6fe4-77b8-41f1-939d-3a29e251707e</Key>
      <Caption>Templated Label</Caption>
      <Alias>templatedLabel</Alias>
      <Type>Tab</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>