/* Copyright © 2020 Lee Kelleher.
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

.contentment.lk-buttons .umb-button {
    margin-bottom: 5px;
}

.contentment.lk-buttons .umb-button--selected .umb-button__button {
    background-color: #f5c1bc;
}

.contentment.lk-buttons .umb-button__button {
    padding-left: 20px;
    padding-right: 20px;
}

    .contentment.lk-buttons .umb-button__button[disabled] {
        opacity: 0.5;
    }
