<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab877ed-f845-4200-b61a-82ef8f8470a0" Alias="Templated List" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/TemplatedList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsTemplatedListPage</ContentType>
    <CreateDate>2025-10-07T22:26:15</CreateDate>
    <NodeName Default="Templated List" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListTemplatedList>
      <Value><![CDATA[[
  "value3"
]]]></Value>
    </dataListTemplatedList>
  </Properties>
</Content>