<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3bd4cce2-681e-4cdf-8da1-11ab055da96a" Alias="[Contentment] Data List - Umbraco Dictionary Items" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Dictionary Items</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoDictionaryDataListSource, Umbraco.Community.Contentment",
      "value": {
        "item": [
          {
            "id": "1",
            "name": "Labels"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>