<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd383342-d4f9-458d-8325-bb93f9a51183" Alias="[Contentment] Content Blocks - Content" Level="1">
  <Info>
    <Name>[Contentment] Content Blocks - Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "55877ddd-640f-4d73-8b53-f8c671e8415a",
      "value": {
        "nameTemplate": "HTML Embed: {{description}}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "24522ebf-901d-4aa2-a472-61b6181fd0e5",
      "value": {
        "nameTemplate": "Call To Action: {{heading}}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "reusableContent": [
    {
      "key": "reusableContent",
      "value": {
        "name": "Something",
        "description": "This is an example",
        "icon": "icon-burn color-black",
        "parentNode": "umb://document/9947dd3d9ece4cb7b955434685f8ee35",
        "nameTemplate": "{{ udi | ncNodeName }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    },
    {
      "key": "reusableContent",
      "value": {
        "name": "Something else",
        "description": "This is another example",
        "icon": "icon-science color-black",
        "parentNode": "umb://document/9feca2f2189a426db1f27e2bdee812cc",
        "nameTemplate": "{{ udi | ncNodeName }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "1"
}]]></Config>
</DataType>