<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8347563-8901-4093-bf1a-58668d002bb4" Alias="[Contentment] Data List - Umbraco Content Property Value" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Content Property Value</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DataList.DataSources.UmbracoContentPropertyValueDataListSource, Umbraco.Community.Contentment",
      "value": {
        "contentNode": "umb://document/ddf45934719e4f178cd1384d3a5a0172",
        "propertyAlias": "socialLinks"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "both",
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>