<?xml version="1.0" encoding="utf-8"?>
<DataType Key="135d60e0-64d9-49ed-ab08-893c9ba44ae5" Alias="Media Picker (legacy)" Level="1">
  <Info>
    <Name>Media Picker (legacy)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DisableFolderSelect": false,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "OnlyImages": false,
  "StartNodeId": null
}]]></Config>
</DataType>