<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cc0eba1-9960-42c9-bf9b-60e150b429ae" Alias="Textstring" Level="1">
  <Info>
    <Name>Textstring</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>