<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0b4fb7d-436a-40fc-a5f2-dc88d868b1af" Alias="[Umbraco] Multiple Textstring" Level="2">
  <Info>
    <Name>[Umbraco] Multiple Textstring</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>