<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad55b181-6d00-4ddc-87a2-0b7a4c3b0d01" Alias="[Umbraco] Image Cropper" Level="1">
  <Info>
    <Name>[Umbraco] Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Small",
      "height": 432,
      "width": 768
    },
    {
      "alias": "Medium",
      "height": 576,
      "width": 1024
    },
    {
      "alias": "Large",
      "height": 1080,
      "width": 1920
    }
  ]
}]]></Config>
</DataType>