<?xml version="1.0" encoding="utf-8"?>
<DataType Key="caad76c5-8872-4a4f-9b45-a8e610155c67" Alias="[Umbraco] Content Picker - Menu Items" Level="1">
  <Info>
    <Name>[Umbraco] Content Picker - Menu Items</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>