<?xml version="1.0" encoding="utf-8"?>
<DataType Key="215cb418-2153-4429-9aef-8c0f0041191b" Alias="Upload Vector Graphics" Level="1">
  <Info>
    <Name>Upload Vector Graphics</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "svg"
    }
  ]
}]]></Config>
</DataType>