<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70575fe7-9812-4396-bbe1-c81a76db71b5" Alias="Upload Video" Level="1">
  <Info>
    <Name>Upload Video</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "mp4"
    },
    {
      "id": 1,
      "value": "webm"
    },
    {
      "id": 2,
      "value": "ogv"
    }
  ]
}]]></Config>
</DataType>