<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaf13a8-4036-41f2-93a3-974f678c312a" Alias="Checkbox list" Level="1">
  <Info>
    <Name>Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>