<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd383342-d4f9-458d-8325-bb93f9a51183" Alias="Content Blocks - Default Config" Level="2">
  <Info>
    <Name>Content Blocks - Default Config</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
    <Folder>Content+Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "569a0eb7-a4df-42a2-82da-3f4597c0ab41",
      "value": {
        "nameTemplate": "Bytes",
        "overlaySize": "medium"
      }
    },
    {
      "key": "35fd3c4e-b49e-414b-aee0-02fc35a5c250",
      "value": {
        "nameTemplate": "Code Editor",
        "overlaySize": "medium"
      }
    },
    {
      "key": "299974e3-1ab9-4f0b-88ae-101b263dad15",
      "value": {
        "nameTemplate": "Content Blocks",
        "overlaySize": "full"
      }
    },
    {
      "key": "1b00afd6-8c01-451f-8b3c-c4f64d972d5a",
      "value": {
        "nameTemplate": "Data List",
        "overlaySize": "large"
      }
    },
    {
      "key": "2719fe65-3825-4bd4-b9f7-cc8eef1c2d65",
      "value": {
        "nameTemplate": "Data Picker",
        "overlaySize": "medium"
      }
    },
    {
      "key": "89392c14-e7ef-4a39-922c-f8aefd690e9a",
      "value": {
        "nameTemplate": "Editor Notes",
        "overlaySize": "medium"
      }
    },
    {
      "key": "b6b81342-9084-40f4-8416-ae1e2bcf09d2",
      "value": {
        "nameTemplate": "Icon Picker",
        "overlaySize": "medium"
      }
    },
    {
      "key": "846aaf85-74b5-46e5-bfb9-bc433656e68a",
      "value": {
        "nameTemplate": "List Items",
        "overlaySize": "medium"
      }
    },
    {
      "key": "c511521b-6209-407d-bc9a-275e234f3991",
      "value": {
        "nameTemplate": "Notes",
        "overlaySize": "medium"
      }
    },
    {
      "key": "47d179b8-fe3e-45a3-b5c6-0e365b89cf39",
      "value": {
        "nameTemplate": "Number Input",
        "overlaySize": "medium"
      }
    },
    {
      "key": "94d49ae0-eda3-4836-a2dc-42a3cccf9998",
      "value": {
        "nameTemplate": "Social Links",
        "overlaySize": "medium"
      }
    },
    {
      "key": "d4e818a8-1fec-4cb5-8cbc-d8936a58caf6",
      "value": {
        "nameTemplate": "Templated Label",
        "overlaySize": "medium"
      }
    },
    {
      "key": "fb4fc78f-53d6-4c41-a669-d5f78c072edf",
      "value": {
        "nameTemplate": "Text Input",
        "overlaySize": "medium"
      }
    },
    {
      "key": "4328ced5-778a-4b26-b287-79f66b6f3ad9",
      "value": {
        "nameTemplate": "Textbox List",
        "overlaySize": "medium"
      }
    }
  ],
  "disableSorting": false,
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.Blocks",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "enableFilter": true,
  "maxItems": 0
}]]></Config>
</DataType>