<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd383342-d4f9-458d-8325-bb93f9a51183" Alias="Content Blocks - Default Config" Level="2">
  <Info>
    <Name>Content Blocks - Default Config</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
    <Folder>Content+Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "1b00afd6-8c01-451f-8b3c-c4f64d972d5a",
      "value": {
        "nameTemplate": "Data List: {= dataListButtons }",
        "overlaySize": "medium"
      }
    }
  ],
  "disableSorting": "0",
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "enableFilter": "0"
}]]></Config>
</DataType>