<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf6efea1-2756-4f80-8ac7-c0d705bd1b67" Alias="Content Blocks - Maximum Items 1" Level="2">
  <Info>
    <Name>Content Blocks - Maximum Items 1</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ContentBlocks</EditorUIAlias>
    <Folder>Content+Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "contentBlockTypes": [
    {
      "key": "1b00afd6-8c01-451f-8b3c-c4f64d972d5a",
      "value": {
        "nameTemplate": "Data List: {= dataListButtons }",
        "overlaySize": "medium"
      }
    }
  ],
  "disableSorting": false,
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "enableFilter": "0",
  "maxItems": 1
}]]></Config>
</DataType>