<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3ea6182-8a38-4281-abda-8b891f12b3f3" Alias="Data List: List Editor: Custom Component List" Level="3">
  <Info>
    <Name>Data List: List Editor: Custom Component List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/List+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CustomComponentListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "orientation": "horizontal",
        "allowClear": true,
        "enableMultiple": true,
        "component": [
          "Umb.Contentment.DataListItemUi.InfoBox"
        ]
      }
    }
  ]
}]]></Config>
</DataType>