<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7afdfd78-26c9-4edc-80e0-d35c55c3e6a4" Alias="Data List: Data Source: Umbraco Backoffice Colors" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Backoffice Colors</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umb.Contentment.DataSource.UmbracoBackofficeColorsDataSource",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>