<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4e8d128-686c-492b-93a1-98223a220965" Alias="Data Picker: User-defined Items" Level="2">
  <Info>
    <Name>Data Picker: User-defined Items</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
    <Folder>Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "allowDuplicates": true,
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "maxItems": 0,
  "overlaySize": "medium",
  "pageSize": 12
}]]></Config>
</DataType>
