<?xml version="1.0" encoding="utf-8"?>
<DataType Key="396c0597-b19b-4a0d-b43a-b0219507a848" Alias="Data Picker: Umbraco Members" Level="2">
  <Info>
    <Name>Data Picker: Umbraco Members</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
    <Folder>Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "allowDuplicates": false,
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.List",
      "value": {}
    }
  ],
  "enableDevMode": true,
  "overlaySize": "small",
  "pageSize": 4
}]]></Config>
</DataType>