<?xml version="1.0" encoding="utf-8"?>
<DataType Key="765d8799-ee11-49a5-914c-524046a4772b" Alias="Data List: Data Source: Umbraco Examine Query" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Examine Query</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ExamineDataListSource, Umbraco.Community.Contentment",
      "value": {
        "examineIndex": "ExternalIndex",
        "luceneQuery": "\u002B__IndexType:content",
        "nameField": "nodeName",
        "valueField": "__Key",
        "iconField": "__Icon",
        "descriptionField": null
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>