<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebcb7a62-b400-4446-8fa3-a0983a0b0537" Alias="Data List: Data Source: Umbraco User Groups" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco User Groups</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoUserGroupDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>