<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f6a081b-0145-400d-b8d9-4b0d9266a4b6" Alias="Data List: Data Source: Data Number Range" Level="3">
  <Info>
    <Name>Data List: Data Source: Data Number Range</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.NumberRangeDataListSource, Umbraco.Community.Contentment",
      "value": {
        "start": 1,
        "end": 5,
        "step": 1,
        "decimals": "0"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": true,
        "showIcons": true,
        "allowClear": false,
        "orientation": "horizontal"
      }
    }
  ]
}]]></Config>
</DataType>