<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d311d8f-7709-48e9-b0dc-1a42e4e41a5e" Alias="Data List: Data Source: Umbraco Content" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": {
          "originKey": "7a17e1d4-36c6-48b0-971d-d1f09f7ae610",
          "originAlias": "ByKey"
        },
        "sortAlphabetically": false,
        "documentTypes": "fb0af6c1-bf68-46e7-ab43-2ee1c8149629,d97d5da6-b96e-480c-99f1-b3c90dd04828"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>