<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44e8c5f9-aeb9-4766-8209-f56c28587880" Alias="Data List: Data Source: .NET Languages" Level="3">
  <Info>
    <Name>Data List: Data Source: .NET Languages</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.LanguagesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": "small",
        "defaultIcon": "icon-fa-language",
        "listType": "list",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>