<?xml version="1.0" encoding="utf-8"?>
<DataType Key="315988ad-f56e-49a3-bf89-1b292c570040" Alias="Data List: Data Source: Umbraco Elements" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Elements</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoElementsDataListSource, Umbraco.Community.Contentment",
      "value": {
        "sortAlphabetically": false
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>