<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2097af34-6a8b-4ad2-a279-74236b5f6b09" Alias="Data List: Data Source: Umbraco Content by XPath" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Content by XPath</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentXPathDataListSource, Umbraco.Community.Contentment",
      "value": {
        "xpath": "/root/*[@level = 1]/*[@isDoc]"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>