<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6a45e7-44ba-430d-9da5-4e46060b9e03" Alias="Dropdown" Level="1">
  <Info>
    <Name>Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false
}]]></Config>
</DataType>