<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e5a7194-8a4c-4c3a-a710-a20b7c723390" Alias="Editor Notes: Positive" Level="2">
  <Info>
    <Name>Editor Notes: Positive</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Editor+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "positive",
  "heading": "Positive",
  "hideLabel": false,
  "icon": "icon-thumb-up color-undefined",
  "message": {
    "markup": "\u003Cp\u003EThis is a positive message for the editor.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>