<?xml version="1.0" encoding="utf-8"?>
<DataType Key="807a492e-1667-4801-ab95-e9081a1d9114" Alias="Editor Notes: Info" Level="2">
  <Info>
    <Name>Editor Notes: Info</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Editor+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "info",
  "heading": "Info",
  "hideLabel": false,
  "hidePropertyGroup": false,
  "icon": "icon-info color-undefined",
  "message": {
    "markup": "\u003Cp\u003EThis is an info message for the editor.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>