<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c81c3b2-3ee0-4ef2-9803-fa149d28dbb3" Alias="Editor Notes: Danger" Level="2">
  <Info>
    <Name>Editor Notes: Danger</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Editor+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "danger",
  "heading": "Danger",
  "hideLabel": false,
  "icon": "icon-connection color-undefined",
  "message": {
    "markup": "\u003Cp\u003EThis is a dangerous message for the editor.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>