<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c97baba6-7aa8-4df8-a590-d9c293fe49bb" Alias="Icon Picker: Large" Level="2">
  <Info>
    <Name>Icon Picker: Large</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.IconPicker</EditorUIAlias>
    <Folder>Icon+Picker</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>