<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a64cd4bf-cfcc-48d6-b039-efcc6156d3ca" Alias="Input List: Test" Level="2">
  <Info>
    <Name>Input List: Test</Name>
    <EditorAlias>Umbraco.Community.Contentment.InputList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.InputList</EditorUIAlias>
    <Folder>Input+List</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>