<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a64cd4bf-cfcc-48d6-b039-efcc6156d3ca" Alias="Input List: Test" Level="2">
  <Info>
    <Name>Input List: Test</Name>
    <EditorAlias>Umbraco.Community.Contentment.InputList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.InputList</EditorUIAlias>
    <Folder>Input+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataTypes": [
    "547d1d9a-0233-49c2-ad61-243207336fad",
    "fd7268c5-86a1-4152-9b08-0121ce13e706",
    "0cc0eba1-9960-42c9-bf9b-60e150b429ae"
  ]
}]]></Config>
</DataType>