<?xml version="1.0" encoding="utf-8"?>
<DataType Key="930861bf-e262-4ead-a704-f99453565708" Alias="Label (bigint)" Level="1">
  <Info>
    <Name>Label (bigint)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "BIGINT"
}]]></Config>
</DataType>