<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eb57825-e15e-4fc7-8e37-fca65cdafbde" Alias="Label (pixels)" Level="1">
  <Info>
    <Name>Label (pixels)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "labelTemplate": "{=value}px",
  "umbracoDataValueType": "INT"
}]]></Config>
</DataType>