<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba5bdbe6-ab3e-46a8-82b3-2c45f10bc47f" Alias="Label (bytes)" Level="1">
  <Info>
    <Name>Label (bytes)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "labelTemplate": "{=value | bytes}",
  "umbracoDataValueType": "BIGINT"
}]]></Config>
</DataType>