<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a97cec69-9b71-4c30-8b12-ec398860d7e8" Alias="Label (time)" Level="1">
  <Info>
    <Name>Label (time)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Label</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbracoDataValueType": "TIME"
}]]></Config>
</DataType>