<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0808dd3-8133-4e4b-8ce8-e2bea84a96a4" Alias="List View - Content" Level="1">
  <Info>
    <Name>List View - Content</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-badge color-black",
  "includeProperties": [
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Updated by",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "Grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "updateDate",
  "orderDirection": "desc",
  "pageSize": 100,
  "showContentFirst": false,
  "umbMigrationV14": "2024-08-04T21:33:40.7836159\u002B00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>