<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Media Picker" Level="1">
  <Info>
    <Name>Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>