<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1b661f40-2242-4b44-b9cb-3990ee2b13c0" Alias="Multiple Media Picker" Level="1">
  <Info>
    <Name>Multiple Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "multiple": true
}]]></Config>
</DataType>