<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d29f65c-8db2-4af6-ac62-aa3bd9f0360f" Alias="Number Input: Small" Level="2">
  <Info>
    <Name>Number Input: Small</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Number+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>