<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4dd27a28-e196-4423-95f9-940e14e7322d" Alias="Number Input: Extra Large" Level="2">
  <Info>
    <Name>Number Input: Extra Large</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Number+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "xl"
}]]></Config>
</DataType>