<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d438352f-8d94-4fc5-a8d9-a475551a684c" Alias="Number Input: Medium" Level="2">
  <Info>
    <Name>Number Input: Medium</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Number+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "m"
}]]></Config>
</DataType>