<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6190b161-af16-4721-988d-691e761b0c73" Alias="Number Input: Large" Level="2">
  <Info>
    <Name>Number Input: Large</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.NumberInput</EditorUIAlias>
    <Folder>Number+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "size": "l"
}]]></Config>
</DataType>