<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea007cb5-7060-45e7-bc1c-f612b17e210c" Alias="Templated Label: JSON" Level="2">
  <Info>
    <Name>Templated Label: JSON</Name>
    <EditorAlias>Umbraco.Community.Contentment.TemplatedLabel</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TemplatedLabel</EditorUIAlias>
    <Folder>Templated+Label</Folder>
  </Info>
  <Config><![CDATA[{
  "component": [
    "Umb.Contentment.TemplatedLabelUi.CodeBlock"
  ],
  "enableDevMode": "1",
  "hideLabel": false,
  "hidePropertyGroup": false,
  "manifest": [
    "Umb.SearchResultItem.Document"
  ],
  "notes": "\u003Ccontentment-info-box type=\u0022warning\u0022\u003E\n    \u003Cdetails open\u003E\n        \u003Csummary\u003ETemplated Label\u003C/summary\u003E\n        \u003Cumb-code-block language=\u0022JSON\u0022 copy\u003E{{ model.value | json:2 }}\u003C/umb-code-block\u003E\n        \u003Cul\u003E\n        {% for item in model.value %}\n            \u003Cli\u003E{{ item.name }}\u003C/li\u003E\n        {% endfor %}\n        \u003C/ul\u003E\n    \u003C/details\u003E\n\u003C/contentment-info-box\u003E\n",
  "umbracoDataValueType": "JSON"
}]]></Config>
</DataType>