<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a97149f-71f7-4ccb-84d8-ff85296a54ef" Alias="Text Input: Max Chars" Level="2">
  <Info>
    <Name>Text Input: Max Chars</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
    <Folder>Text+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "autocomplete": false,
  "inputType": "text",
  "maxChars": 30,
  "placeholderText": "Please enter some text...",
  "spellcheck": false
}]]></Config>
</DataType>
