<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47ba9960-89c6-4115-8108-76047170cfac" Alias="Text Input: Email" Level="2">
  <Info>
    <Name>Text Input: Email</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
    <Folder>Text+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "autocomplete": "0",
  "inputType": "email",
  "placeholderText": "Enter an email address",
  "prepend": "icon-message color-black",
  "spellcheck": "0"
}]]></Config>
</DataType>