<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f7b4433-44a6-49ab-9503-b91a9a60434d" Alias="Text Input: Data Source" Level="2">
  <Info>
    <Name>Text Input: Data Source</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
    <Folder>Text+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "append": "icon-contentment",
  "autocomplete": "0",
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentPropertyValueDataListSource, Umbraco.Community.Contentment",
      "value": {
        "contentNode": {
          "originKey": "7d11a6c2-560a-4472-a25b-e20690ceb3f0",
          "originAlias": "ByKey"
        },
        "propertyAlias": "socialLinks"
      }
    }
  ],
  "inputType": "text",
  "maxChars": 0,
  "placeholderText": "Please enter some text...",
  "prepend": "icon-umbraco",
  "spellcheck": "0"
}]]></Config>
</DataType>
