<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f560933e-d476-4157-b512-0971342619cb" Alias="Text Input: Default Config" Level="2">
  <Info>
    <Name>Text Input: Default Config</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.TextInput</EditorUIAlias>
    <Folder>Text+Input</Folder>
  </Info>
  <Config><![CDATA[{
  "autocomplete": "0",
  "inputType": "text",
  "maxChars": 0,
  "placeholderText": "Please enter some text...",
  "spellcheck": "0"
}]]></Config>
</DataType>
