<?xml version="1.0" encoding="utf-8"?>
<DataType Key="219813d8-c6fb-489d-ad88-f2e2c051c173" Alias="[Umbraco] Document Collection" Level="1">
  <Info>
    <Name>[Umbraco] Document Collection</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "bytes1024",
      "header": "Bytes",
      "isSystem": 0
    },
    {
      "alias": "contentBlocks",
      "header": "Content Blocks",
      "isSystem": 0
    },
    {
      "alias": "dataListCheckboxList",
      "header": "Data List",
      "isSystem": 0
    },
    {
      "alias": "dataPickerUmbracoContent",
      "header": "Data Picker",
      "isSystem": 0
    },
    {
      "alias": "iconPicker",
      "header": "Icon Picker",
      "isSystem": 0
    },
    {
      "alias": "inputList",
      "header": "Input List",
      "isSystem": 0
    },
    {
      "alias": "listItems",
      "header": "List Items",
      "isSystem": 0
    },
    {
      "alias": "socialLinks",
      "header": "Social Links",
      "isSystem": 0
    },
    {
      "alias": "textboxList",
      "header": "Textbox List",
      "isSystem": 0
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    },
    {
      "name": "Grid",
      "icon": "icon-grid",
      "collectionView": "Umb.CollectionView.Document.Grid"
    }
  ],
  "orderBy": "name",
  "orderDirection": "asc",
  "pageSize": 10
}]]></Config>
</DataType>
