<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad55b181-6d00-4ddc-87a2-0b7a4c3b0d01" Alias="[Umbraco] Image Cropper - SML Crops" Level="1">
  <Info>
    <Name>[Umbraco] Image Cropper - SML Crops</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Small",
      "alias": "Small",
      "width": 768,
      "height": 432
    },
    {
      "label": "Medium",
      "alias": "Medium",
      "width": 1024,
      "height": 576
    },
    {
      "label": "Large",
      "alias": "Large",
      "width": 1920,
      "height": 1080
    }
  ]
}]]></Config>
</DataType>