<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47e90cc0-4f4d-4169-9957-0491f0643e84" Alias="[Umbraco] Element Picker" Level="1">
  <Info>
    <Name>[Umbraco] Element Picker</Name>
    <EditorAlias>Umbraco.ElementPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ElementPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>