<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a57a0bc0-732f-4d00-8fa0-6635b4de28f4" Alias="[Contentment] Data List - Data SQL" Level="2">
  <Info>
    <Name>[Contentment] Data List - Data SQL</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.SqlDataListSource, Umbraco.Community.Contentment",
      "value": {
        "query": "-- This is an example query that get all the table names (that are prefixed with \"cms\") from the database.\r\nSELECT\r\n    TABLE_NAME\r\nFROM\r\n    INFORMATION_SCHEMA.TABLES\r\nWHERE\r\n    TABLE_NAME LIKE 'cms%'\r\n;",
        "connectionString": "umbracoDbDSN"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>