<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bccc863f-fa29-4991-a085-d35f829910ad" Alias="[Contentment] Data Picker - .NET Currencies" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - .NET Currencies</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CurrenciesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>