<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4d45ecc-eed6-4b53-9f83-8282e9bfcfc1" Alias="[Contentment] Data List - Data User-defined" Level="2">
  <Info>
    <Name>[Contentment] Data List - Data User-defined</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>