<?xml version="1.0" encoding="utf-8"?>
<DataType Key="739accd7-cb4b-4e6b-9083-336fa25fd2f2" Alias="[Contentment] Data Picker - Umbraco Content" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Umbraco Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    "cards"
  ],
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataPickerSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/7c6bcf13fa7d4949b975ffb331ee0dcc"
      }
    }
  ],
  "maxItems": 0,
  "overlaySize": [
    "medium"
  ],
  "pageSize": 12,
  "enableDevMode": "1"
}]]></Config>
</DataType>