<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d5cc9dd-b717-4d76-aa39-9c7ff5787ef6" Alias="[Contentment] Data List - Umbraco Files - Stylesheets" Level="2">
  <Info>
    <Name>[Contentment] Data List - Umbraco Files - Stylesheets</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+List</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoFilesDataListSource, Umbraco.Community.Contentment",
      "value": {
        "fileType": "stylesheet",
        "valueType": "path"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CheckboxListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "checkAll": "1",
        "showDescriptions": "1",
        "showIcons": "1"
      }
    }
  ]
}]]></Config>
</DataType>