<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e390118b-475a-4977-a1ed-6d9f75609f37" Alias="[Contentment] Data Picker - .NET Languages" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - .NET Languages</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.LanguagesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>