<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4b7c5c9-dbc1-41b4-8b90-41b7cf8bb061" Alias="[Contentment] Textbox List - Example" Level="2">
  <Info>
    <Name>[Contentment] Textbox List - Example</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextboxList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-old-phone color-black",
            "name": "Telephone",
            "value": "tel",
            "description": ""
          },
          {
            "icon": "icon-message color-black",
            "name": "Email",
            "value": "email",
            "description": ""
          },
          {
            "icon": "icon-umb-translation color-black",
            "name": "Website",
            "value": "url",
            "description": ""
          }
        ]
      }
    }
  ],
  "defaultIcon": "icon-document color-black",
  "labelStyle": "both",
  "enableDevMode": "1"
}]]></Config>
</DataType>