<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1cb46262-6e51-4b88-9e9d-11add95950a9" Alias="[Contentment] Data Picker - .NET Countries" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - .NET Countries</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CountriesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>