<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a6e2bd2-f508-4f5c-9dfd-7dd61f205966" Alias="[Contentment] Icon Picker" Level="2">
  <Info>
    <Name>[Contentment] Icon Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Test+Misc</Folder>
  </Info>
  <Config><![CDATA[{
  "defaultIcon": "icon-document color-black"
}]]></Config>
</DataType>