<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f0bf1c2-64df-403a-b665-be700c56196a" Alias="[Contentment] Data Picker - Umbraco Members" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - Umbraco Members</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoMembersDataListSource, Umbraco.Community.Contentment",
      "value": {
        "memberType": [
          "umb://member-type/d59be02f1df94228aa1e01917d806cda"
        ]
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>