<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7343d5d4-c67e-4ae0-8497-082dcff7a490" Alias="[Contentment] Data Picker - .NET Time Zones" Level="2">
  <Info>
    <Name>[Contentment] Data Picker - .NET Time Zones</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Test+Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TimeZoneDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CardsDataPickerDisplayMode, Umbraco.Community.Contentment",
      "value": null
    }
  ],
  "pageSize": 12,
  "overlaySize": [
    "medium"
  ],
  "maxItems": 0,
  "enableDevMode": "1"
}]]></Config>
</DataType>