<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e63d883-b62b-4799-88c3-157f82e83ecc" Alias="Multiple Image Media Picker" Level="1">
  <Info>
    <Name>Multiple Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": true,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": null
}]]></Config>
</DataType>