<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cd839bc-9731-4c94-9eaa-2b6a88e79f00" Alias="[Umbraco] Rich Text Editor - Medium" Level="1">
  <Info>
    <Name>[Umbraco] Rich Text Editor - Medium</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 500
    }
  },
  "OverlaySize": null,
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>