<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e189ed23-bb63-4429-b628-ac5d65beb84f" Alias="[Umbraco] Rich Text Editor - Large" Level="1">
  <Info>
    <Name>[Umbraco] Rich Text Editor - Large</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 800
    }
  },
  "OverlaySize": null,
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>