<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b6c3068-8f17-4545-afa8-8db940b2c954" Alias="[Umbraco] Rich Text Editor - Small" Level="1">
  <Info>
    <Name>[Umbraco] Rich Text Editor - Small</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "distraction-free",
    "dimensions": {
      "height": 100
    }
  },
  "OverlaySize": null,
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>