<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="569a0eb7-a4df-42a2-82da-3f4597c0ab41" Alias="contentmentBytesElement" Level="2">
  <Info>
    <Name>Bytes</Name>
    <Icon>icon-binarycode color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A read-only label to display file sizes in relative bytes.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27951fc5-b671-48de-96e7-6e62c19b08ea</Key>
      <Name>Bytes: 1000</Name>
      <Alias>bytes1000</Alias>
      <Definition>dbca80ca-22e2-43c0-8768-625c7ce7248e</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Calculated at 1000 bytes per kilobyte.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bytes">Bytes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a39a3262-fa4f-46a7-b9c8-8b850b7d60e8</Key>
      <Name>Bytes: 1024</Name>
      <Alias>bytes1024</Alias>
      <Definition>56f7e6c5-e6ef-4d38-bc39-235c015971e4</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Calculated at 1024 bytes per kilobyte, (kibibyte).]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bytes">Bytes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>64c37785-f016-4c60-a7e1-fd800ef85593</Key>
      <Caption>Bytes</Caption>
      <Alias>bytes</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>