<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a83ebba5-45d6-42d2-b87a-0b183a7d6512" Alias="contentmentDataListListEditorsItemPickerPage" Level="2">
  <Info>
    <Name>Data List: List Editors: Item Picker</Name>
    <Icon>icon-fa-arrow-pointer color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions>
      <Composition Key="fd9166ec-c16d-4f79-9135-94453c1615ad">contentmentDataListListEditorsItemPickerElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>