<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb0af6c1-bf68-46e7-ab43-2ee1c8149629" Alias="contentmentDataListDataSourcesPage" Level="2">
  <Info>
    <Name>Data List: Data Sources</Name>
    <Icon>icon-bulleted-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="691af129-fbd8-4c91-9cf2-b83be83388a7" SortOrder="0">contentmentDataListDataSourcesDotNet</ContentType>
    <ContentType Key="59e89587-4b08-49b0-a7c6-ac0d49aaf5c7" SortOrder="1">contentmentDataListDataSourcesData</ContentType>
    <ContentType Key="7d48e286-eeec-4df6-a1dc-eb2387fb671f" SortOrder="2">contentmentDataListDataSourcesUmbraco</ContentType>
    <ContentType Key="deec27a1-52e0-4687-ba81-521cf9f3fdf3" SortOrder="3">contentmentDataListDataSourcesWeb</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>