<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a5ddeee0-8fd8-4cee-a658-6f1fcdb00de3" Alias="umbracoMediaAudio" Level="1">
  <Info>
    <Name>Audio</Name>
    <Icon>icon-sound-waves</Icon>
    <Thumbnail>icon-sound-waves</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>0000002d-0000-0000-0000-000000000000</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>56f7e6c5-e6ef-4d38-bc39-235c015971e4</Definition>
      <Type>Umbraco.Community.Contentment.Bytes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0000002c-0000-0000-0000-000000000000</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0000002b-0000-0000-0000-000000000000</Key>
      <Name>Audio</Name>
      <Alias>umbracoFile</Alias>
      <Definition>8f430dd6-4e96-447e-9dc0-cb552c8cd1f3</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="audio">Audio</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>335fb495-0a87-4e82-b902-30eb367b767c</Key>
      <Caption>Audio</Caption>
      <Alias>audio</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>