<?xml version="1.0" encoding="utf-8"?>
<Content Key="71980cbb-ee31-4c6c-9a34-9bf95bec63c7" Alias="Bytes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bytes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentBytes</ContentType>
    <CreateDate>2025-08-22T17:24:37</CreateDate>
    <NodeName Default="Bytes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <bytes1000>
      <Value><![CDATA[42630]]></Value>
    </bytes1000>
    <bytes1024>
      <Value><![CDATA[42630]]></Value>
    </bytes1024>
  </Properties>
</Content>