<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8c1e83d-403c-4921-bf8f-3104cac018fe" Alias="Content Blocks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContentBlocks</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentContentBlocks</ContentType>
    <CreateDate>2025-08-22T17:00:50</CreateDate>
    <NodeName Default="Content Blocks" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
  </Properties>
</Content>