<?xml version="1.0" encoding="utf-8"?>
<Content Key="d871c4f4-33a6-4599-9a09-60727e699af5" Alias="Contentment" Level="2">
  <Info>
    <Parent Key="49e83ac3-6757-426d-8f72-17ec3382294f">Data Picker</Parent>
    <Path>/DataPicker/Contentment</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataPickerPage</ContentType>
    <CreateDate>2025-09-10T22:39:38</CreateDate>
    <NodeName Default="Contentment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "584f08f5-5bac-4d3c-a732-a15307fd65c2",
    "mediaKey": "b75442fc-6d5b-4d2c-a046-a8423d899b72",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>