<?xml version="1.0" encoding="utf-8"?>
<Content Key="9772aed6-3d82-474e-9269-f7f4c5504992" Alias="Contentment" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contentment</Path>
    <Trashed>false</Trashed>
    <ContentType>rootContainer</ContentType>
    <CreateDate>2020-05-07T17:30:14</CreateDate>
    <NodeName Default="Contentment" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <notes>
      <Value><![CDATA[]]></Value>
    </notes>
    <test>
      <Value><![CDATA[[
  {
    "elementType": "3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a",
    "key": "1b47a125-1bda-47d3-90c8-066698aa847b",
    "value": {
      "description": "JS snippet",
      "code": "// JS",
      "renderPosition": "Head"
    }
  },
  {
    "elementType": "8e2a68f2-6904-48f3-9a48-369951c2ceb1",
    "key": "bb104f44-f686-4747-ae63-f0b7bbd44499",
    "value": {
      "description": "CSS snippet",
      "code": "/* CSS */"
    }
  },
  {
    "elementType": "10348ffc-6963-4b23-a928-4415957a22d2",
    "key": "14af7034-a77a-4a48-875f-fecfcb4d4732",
    "value": {
      "description": "HTML snippet",
      "code": "\u003Cmeta /\u003E"
    }
  }
]]]></Value>
    </test>
  </Properties>
</Content>