<?xml version="1.0" encoding="utf-8"?>
<Content Key="af0a5222-f5e7-4c4a-9927-f571da1f9d39" Alias="Data Sources: Umbraco" Level="2">
  <Info>
    <Parent Key="7a17e1d4-36c6-48b0-971d-d1f09f7ae610">Data List</Parent>
    <Path>/DataList/DataSourcesUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListUmbraco</ContentType>
    <CreateDate>2025-08-22T19:37:15</CreateDate>
    <NodeName Default="Data Sources: Umbraco" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataListUmbracoBackofficeSections>
      <Value><![CDATA[settings]]></Value>
    </dataListUmbracoBackofficeSections>
    <dataListUmbracoContent>
      <Value><![CDATA[]]></Value>
    </dataListUmbracoContent>
    <dataListUmbracoContentByXPath>
      <Value><![CDATA[]]></Value>
    </dataListUmbracoContentByXPath>
    <dataListUmbracoContentProperties>
      <Value><![CDATA[codeEditorJavaScript]]></Value>
    </dataListUmbracoContentProperties>
    <dataListUmbracoContentPropertyValue>
      <Value><![CDATA[[
  "github"
]]]></Value>
    </dataListUmbracoContentPropertyValue>
    <dataListUmbracoContentTypes>
      <Value><![CDATA[umb://document-type/a36df9f115864594a85ac99259234aeb]]></Value>
    </dataListUmbracoContentTypes>
    <dataListUmbracoDataTypes>
      <Value><![CDATA[umb://data-type/811269910ea34279ab0c147ea8edb107]]></Value>
    </dataListUmbracoDataTypes>
    <dataListUmbracoDictionaryItems>
      <Value><![CDATA[3. Go]]></Value>
    </dataListUmbracoDictionaryItems>
    <dataListUmbracoEntities>
      <Value><![CDATA[umb://media-type/cc07b31308434aa8bbda871c8da728c8]]></Value>
    </dataListUmbracoEntities>
    <dataListUmbracoExamineQuery>
      <Value><![CDATA[7a17e1d4-36c6-48b0-971d-d1f09f7ae610]]></Value>
    </dataListUmbracoExamineQuery>
    <dataListUmbracoImageCrops>
      <Value><![CDATA[Medium]]></Value>
    </dataListUmbracoImageCrops>
    <dataListUmbracoLanguages>
      <Value><![CDATA[en-US]]></Value>
    </dataListUmbracoLanguages>
    <dataListUmbracoMemberGroups>
      <Value><![CDATA[3efcac8f-459f-4bbb-9b63-998d1b21bc0b]]></Value>
    </dataListUmbracoMemberGroups>
    <dataListUmbracoMembers>
      <Value><![CDATA[umb://member/862c5352bb8f43deab6878364c3fc5b7]]></Value>
    </dataListUmbracoMembers>
    <dataListUmbracoTags>
      <Value><![CDATA[Umbraco]]></Value>
    </dataListUmbracoTags>
    <dataListUmbracoUserGroups>
      <Value><![CDATA[writer]]></Value>
    </dataListUmbracoUserGroups>
    <dataListUmbracoUsers>
      <Value><![CDATA[leekelleher@gmail.com]]></Value>
    </dataListUmbracoUsers>
    <umbracoTags>
      <Value><![CDATA[[
  "Umbraco",
  "Contentment"
]]]></Value>
    </umbracoTags>
  </Properties>
</Content>