<?xml version="1.0" encoding="utf-8"?>
<Content Key="39bc8909-0474-4586-b5fb-015f696eac1a" Alias="Data Sources: .NET" Level="2">
  <Info>
    <Parent Key="7a17e1d4-36c6-48b0-971d-d1f09f7ae610">Data List</Parent>
    <Path>/DataList/DataSourcesNET</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListDotNet</ContentType>
    <CreateDate>2025-08-22T19:37:00</CreateDate>
    <NodeName Default="Data Sources: .NET" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataListCountries>
      <Value><![CDATA[[
  "DK",
  "GB"
]]]></Value>
    </dataListCountries>
    <dataListCurrencies>
      <Value><![CDATA[[
  "DKK",
  "GBP"
]]]></Value>
    </dataListCurrencies>
    <dataListEnumeration>
      <Value><![CDATA[[
  "Blue",
  "Red",
  "White"
]]]></Value>
    </dataListEnumeration>
    <dataListLanguages>
      <Value><![CDATA[[
  "da",
  "en"
]]]></Value>
    </dataListLanguages>
    <dataListTimeZones>
      <Value><![CDATA[[
  "Romance Standard Time",
  "GMT Standard Time"
]]]></Value>
    </dataListTimeZones>
  </Properties>
</Content>