<?xml version="1.0" encoding="utf-8"?>
<Content Key="86b65abc-ed84-4fad-af0d-a926f1892aff" Alias="Data Sources: Data" Level="2">
  <Info>
    <Parent Key="7a17e1d4-36c6-48b0-971d-d1f09f7ae610">Data List</Parent>
    <Path>/DataList/DataSourcesData</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListData</ContentType>
    <CreateDate>2025-08-22T19:37:08</CreateDate>
    <NodeName Default="Data Sources: Data" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataListCsv>
      <Value><![CDATA[value3]]></Value>
    </dataListCsv>
    <dataListFileSystem>
      <Value><![CDATA[~/css/styles.css]]></Value>
    </dataListFileSystem>
    <dataListJson>
      <Value><![CDATA[value3]]></Value>
    </dataListJson>
    <dataListNumberRange>
      <Value><![CDATA[5]]></Value>
    </dataListNumberRange>
    <dataListSql>
      <Value><![CDATA[7A17E1D4-36C6-48B0-971D-D1F09F7AE610]]></Value>
    </dataListSql>
    <dataListUserDefined>
      <Value><![CDATA[value3]]></Value>
    </dataListUserDefined>
    <dataListXml>
      <Value><![CDATA[value3]]></Value>
    </dataListXml>
  </Properties>
</Content>