<?xml version="1.0" encoding="utf-8"?>
<Content Key="49e83ac3-6757-426d-8f72-17ec3382294f" Alias="Data Picker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataPicker</ContentType>
    <CreateDate>2025-08-22T17:02:43</CreateDate>
    <NodeName Default="Data Picker" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <dataPickerNetCountries>
      <Value><![CDATA[[
  "DK",
  "GB"
]]]></Value>
    </dataPickerNetCountries>
    <dataPickerUmbracoContent>
      <Value><![CDATA[]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[[
  "umb://member/862c5352bb8f43deab6878364c3fc5b7",
  "umb://member/498195ca346b49a899d03f1200b85e71",
  "umb://member/c9fd7b3c215842b9bfe24bb3e078f775",
  "umb://member/b587c5fe747c4c1ca598dfc39d380f46"
]]]></Value>
    </dataPickerUmbracoMembers>
  </Properties>
</Content>