<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa36c2ed-aeb8-4fa5-8349-2f2926de9665" Alias="Editor Notes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EditorNotes</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentEditorNotes</ContentType>
    <CreateDate>2025-08-22T17:12:22</CreateDate>
    <NodeName Default="Editor Notes" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <editorNotesDanger>
      <Value><![CDATA[]]></Value>
    </editorNotesDanger>
    <editorNotesDefault>
      <Value><![CDATA[]]></Value>
    </editorNotesDefault>
    <editorNotesPositive>
      <Value><![CDATA[]]></Value>
    </editorNotesPositive>
    <editorNotesWarning>
      <Value><![CDATA[]]></Value>
    </editorNotesWarning>
  </Properties>
</Content>