<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc" Alias="Home" Level="2">
  <Info>
    <Parent Key="9772aed6-3d82-474e-9269-f7f4c5504992">Contentment</Parent>
    <Path>/Contentment/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2019-02-25T13:22:32</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65095f3d-ecff-48ef-8ff5-cf855cfea45b">homePage</Template>
  </Info>
  <Properties>
    <footer>
      <Value><![CDATA[]]></Value>
    </footer>
    <header>
      <Value><![CDATA[]]></Value>
    </header>
    <pageBlocks>
      <Value><![CDATA[]]></Value>
    </pageBlocks>
    <pageModules>
      <Value><![CDATA[[
  {
    "elementType": "8e2a68f2-6904-48f3-9a48-369951c2ceb1",
    "key": "0c0e8de1-c1da-42cd-be49-43fd714613d4",
    "value": {
      "description": "[]",
      "code": "[]"
    }
  },
  {
    "elementType": "3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a",
    "key": "27f250c9-8c8f-4be5-ae2d-37feacbbf562",
    "value": {
      "description": "[]",
      "code": "[]",
      "renderPosition": null
    }
  },
  {
    "elementType": "10348ffc-6963-4b23-a928-4415957a22d2",
    "key": "e845b7cb-0b8e-494d-96a5-35e60fe6fbde",
    "value": {
      "description": "[]",
      "code": "[]"
    }
  }
]]]></Value>
    </pageModules>
    <siteModules>
      <Value><![CDATA[[
  {
    "elementType": "8e2a68f2-6904-48f3-9a48-369951c2ceb1",
    "key": "bb104f44-f686-4747-ae63-f0b7bbd44499",
    "value": {
      "description": "[]",
      "code": "[]"
    }
  },
  {
    "elementType": "3ebb18a1-84fa-47a3-a0ed-cbb5f07d1f0a",
    "key": "1b47a125-1bda-47d3-90c8-066698aa847b",
    "value": {
      "description": "[]",
      "code": "[]",
      "renderPosition": null
    }
  },
  {
    "elementType": "10348ffc-6963-4b23-a928-4415957a22d2",
    "key": "14af7034-a77a-4a48-875f-fecfcb4d4732",
    "value": {
      "description": "[]",
      "code": "[]"
    }
  }
]]]></Value>
    </siteModules>
    <siteTitle>
      <Value><![CDATA[Contentment Demo Website]]></Value>
    </siteTitle>
  </Properties>
</Content>