<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd9a26c9-58f3-4abb-bc95-bd826197627d" Alias="Item Picker" Level="3">
  <Info>
    <Parent Key="398b7995-d9b5-460c-ae2a-6eb68781d269">List Editors</Parent>
    <Path>/DataList/ListEditors/ItemPicker</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataListListEditorsItemPickerPage</ContentType>
    <CreateDate>2025-10-07T22:25:42</CreateDate>
    <NodeName Default="Item Picker" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataListItemPicker>
      <Value><![CDATA[[
  "value3"
]]]></Value>
    </dataListItemPicker>
  </Properties>
</Content>