<?xml version="1.0" encoding="utf-8"?>
<Content Key="2aae31d5-0d97-4f1d-bb73-1da412e584d0" Alias="Lee Kelleher" Level="2">
  <Info>
    <Parent Key="49e83ac3-6757-426d-8f72-17ec3382294f">Data Picker</Parent>
    <Path>/DataPicker/LeeKelleher</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentDataPickerPage</ContentType>
    <CreateDate>2025-09-10T22:39:15</CreateDate>
    <NodeName Default="Lee Kelleher" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "bf2cb130-b2ed-4abc-b2d2-ff48d88ec223",
    "mediaKey": "0ab0cc1a-6e3e-4b5b-bf20-5a4a5f0710ab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>