<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d24a6d3-d135-4df9-85cd-0a867f1fcc02" Alias="List Items" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ListItems</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentListItems</ContentType>
    <CreateDate>2025-08-22T17:04:52</CreateDate>
    <NodeName Default="List Items" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <listItems>
      <Value><![CDATA[[
  {
    "name": "Umbraco",
    "value": "umbraco",
    "icon": "icon-umbraco color-blue",
    "description": "https://umbraco.com/"
  },
  {
    "name": "GitHub",
    "value": "github",
    "icon": "icon-github color-undefined",
    "description": "https://github.com/"
  },
  {
    "name": "uSync",
    "value": "usync",
    "icon": "usync-logo color-grey",
    "description": "https://jumoo.co.uk/usync/"
  }
]]]></Value>
    </listItems>
  </Properties>
</Content>