<?xml version="1.0" encoding="utf-8"?>
<Content Key="b88c3120-8123-4427-9660-342761cfc3e7" Alias="Render Macro" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RenderMacro</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentRenderMacro</ContentType>
    <CreateDate>2025-08-22T17:14:33</CreateDate>
    <NodeName Default="Render Macro" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <renderMacro>
      <Value><![CDATA[]]></Value>
    </renderMacro>
  </Properties>
</Content>