<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d11a6c2-560a-4472-a25b-e20690ceb3f0" Alias="Social Links" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentSocialLinksPage</ContentType>
    <CreateDate>2025-08-22T17:05:59</CreateDate>
    <NodeName Default="Social Links" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <socialLinks>
      <Value><![CDATA[[
  {
    "name": "GitHub",
    "network": "github",
    "url": "https://github.com/"
  },
  {
    "name": "Discord",
    "network": "discord",
    "url": "https://discord.com/"
  },
  {
    "name": "LinkedIn",
    "network": "linkedin",
    "url": "https://linkedin.com/in/"
  },
  {
    "name": "YouTube",
    "network": "youtube",
    "url": "https://youtube.com/"
  }
]]]></Value>
    </socialLinks>
  </Properties>
</Content>