<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddf45934-719e-4f17-8cd1-384d3a5a0172" Alias="Test - Misc" Level="3">
  <Info>
    <Parent Key="7c6bcf13-fa7d-4949-b975-ffb331ee0dcc">Home</Parent>
    <Path>/Contentment/Home/TestMisc</Path>
    <Trashed>false</Trashed>
    <ContentType>testMiscPage</ContentType>
    <CreateDate>2022-01-27T15:01:56</CreateDate>
    <NodeName Default="Test - Misc" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32cf5caf-9267-4cf4-8327-2dcbd24a1cd7">testMiscPage</Template>
  </Info>
  <Properties>
    <dataListItems>
      <Value><![CDATA[[
  {
    "icon": "icon-handtool color-light-blue",
    "name": "Goalkeeper",
    "value": "goalkeeper",
    "description": ""
  },
  {
    "icon": "icon-ball color-red",
    "name": "Defender",
    "value": "defender",
    "description": ""
  }
]]]></Value>
    </dataListItems>
    <dataPickerNetCountries>
      <Value><![CDATA[[
  "AF",
  "AE",
  "GB",
  "US"
]]]></Value>
    </dataPickerNetCountries>
    <dataPickerUmbracoContent>
      <Value><![CDATA[[
  "umb://document/3f755f025f6e42cca7ea4b769e3232b2",
  "umb://document/f584df3eeffe42698cf41366a03f4fff",
  "umb://document/b31b9022676544e795251f9aac85cc5f"
]]]></Value>
    </dataPickerUmbracoContent>
    <dataPickerUmbracoMembers>
      <Value><![CDATA[]]></Value>
    </dataPickerUmbracoMembers>
    <iconPicker>
      <Value><![CDATA[icon-science color-green]]></Value>
    </iconPicker>
    <iconPickerSmall>
      <Value><![CDATA[icon-ball color-red]]></Value>
    </iconPickerSmall>
    <socialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/leekelleher"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/leekelleher"
  }
]]]></Value>
    </socialLinks>
    <testTextbox>
      <Value><![CDATA[Hello world]]></Value>
    </testTextbox>
    <textboxList>
      <Value><![CDATA[{
  "telephone": "\u002B44123456789",
  "email": "test@test.test",
  "website": "https://github.com/sponsors/leekelleher"
}]]></Value>
    </textboxList>
    <textInput>
      <Value><![CDATA[]]></Value>
    </textInput>
    <textInputEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </textInputEmail>
  </Properties>
</Content>