<?xml version="1.0" encoding="utf-8"?>
<Content Key="1aa848b1-5926-4e86-8f5c-1ad57df2c25c" Alias="Textbox List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextboxList</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentTextboxListPage</ContentType>
    <CreateDate>2025-08-22T17:09:05</CreateDate>
    <NodeName Default="Textbox List" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <textboxList>
      <Value><![CDATA[{
  "tel": "\u002B44 123456789",
  "email": "test@test.test",
  "url": "https://github.com/sponsors/leekelleher"
}]]></Value>
    </textboxList>
  </Properties>
</Content>