<?xml version="1.0" encoding="utf-8"?>
<Content Key="b43430a5-cd1c-4acb-bbc4-763af53222db" Alias="Text Input" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextInput</Path>
    <Trashed>false</Trashed>
    <ContentType>contentmentTextInput</ContentType>
    <CreateDate>2025-08-22T17:10:24</CreateDate>
    <NodeName Default="Text Input" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07b5bd24-73d9-40e0-855a-1c1e6b794696">webPage</Template>
  </Info>
  <Properties>
    <textInput>
      <Value><![CDATA[+44 123456789]]></Value>
    </textInput>
    <textInputEmail>
      <Value><![CDATA[test@test.test]]></Value>
    </textInputEmail>
  </Properties>
</Content>