<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d225100-92b1-49e2-9099-c0751b1a28a5" Alias="Umbraco Property Editors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoPropertyEditors</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoPage</ContentType>
    <CreateDate>2025-10-07T18:32:12</CreateDate>
    <NodeName Default="Umbraco Property Editors" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "569a0eb7-a4df-42a2-82da-3f4597c0ab41",
      "key": "2099803f-e48a-48bd-a3a4-d61d6fb0777c",
      "udi": null,
      "values": [
        {
          "alias": "bytes1000",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "42630"
        },
        {
          "alias": "bytes1024",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "42630"
        }
      ]
    },
    {
      "contentTypeKey": "35fd3c4e-b49e-414b-aee0-02fc35a5c250",
      "key": "071aba91-cc7b-4464-b79e-0d0b78532499",
      "udi": null,
      "values": [
        {
          "alias": "codeEditorJavaScript",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "document.addEventListener(\u0022DOMContentLoaded\u0022, (event) =\u003E {\r\n  console.log(\u0022DOM fully loaded and parsed\u0022);\r\n});\r\n"
        },
        {
          "alias": "codeEditorHtml",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ch1\u003EHeading 1\u003C/h1\u003E\r\n\u003Ch2\u003EHeading 2\u003C/h2\u003E\r\n\u003Ch3\u003EHeading 3\u003C/h3\u003E\r\n\u003Ch4\u003EHeading 4\u003C/h4\u003E\r\n\u003Ch5\u003EHeading 5\u003C/h5\u003E\r\n\u003Ch6\u003EHeading 6\u003C/h6\u003E"
        },
        {
          "alias": "codeEditorMarkdown",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "# Heading 1\r\n## Heading 2\r\n### Heading 3\r\n#### Heading 4\r\n##### Heading 5\r\n###### Heading 6"
        }
      ]
    },
    {
      "contentTypeKey": "299974e3-1ab9-4f0b-88ae-101b263dad15",
      "key": "20183aa4-1b0e-4f57-84ba-65ba680e2021",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2719fe65-3825-4bd4-b9f7-cc8eef1c2d65",
      "key": "3d88bf5f-58a4-4349-86cd-e7584c1c3664",
      "udi": null,
      "values": [
        {
          "alias": "dataPickerUmbracoContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "umb://document/f415b66916d14302a2505ba2182cc6e4"
          ]
        },
        {
          "alias": "dataPickerNetCountries",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "DK",
            "GB"
          ]
        },
        {
          "alias": "dataPickerUmbracoMembers",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "umb://member/862c5352bb8f43deab6878364c3fc5b7",
            "umb://member/498195ca346b49a899d03f1200b85e71",
            "umb://member/c9fd7b3c215842b9bfe24bb3e078f775",
            "umb://member/b587c5fe747c4c1ca598dfc39d380f46"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "89392c14-e7ef-4a39-922c-f8aefd690e9a",
      "key": "d617c30e-bbcb-4e00-b345-b90a45ce9932",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "b6b81342-9084-40f4-8416-ae1e2bcf09d2",
      "key": "e9c06fd5-eb70-4f29-aae5-56b4fe476b12",
      "udi": null,
      "values": [
        {
          "alias": "iconPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "icon-umbraco color-blue"
        },
        {
          "alias": "iconPickerSmall",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "icon-github color-undefined"
        }
      ]
    },
    {
      "contentTypeKey": "846aaf85-74b5-46e5-bfb9-bc433656e68a",
      "key": "2d4d7288-a32a-46ce-a3d6-296901df92ec",
      "udi": null,
      "values": [
        {
          "alias": "listItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Umbraco",
              "value": "umbraco",
              "icon": "icon-umbraco color-blue",
              "description": "https://umbraco.com/"
            },
            {
              "name": "GitHub",
              "value": "github",
              "icon": "icon-github color-undefined",
              "description": "https://github.com/"
            },
            {
              "name": "uSync",
              "value": "usync",
              "icon": "usync-logo color-grey",
              "description": "https://jumoo.co.uk/usync/"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c511521b-6209-407d-bc9a-275e234f3991",
      "key": "d3b835fe-d411-4a6b-bcf6-b42be6400fd3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "47d179b8-fe3e-45a3-b5c6-0e365b89cf39",
      "key": "d11513f1-dadc-4e14-8e2a-d8c592952f0c",
      "udi": null,
      "values": [
        {
          "alias": "numberInputSmall",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "123"
        },
        {
          "alias": "numberInputMedium",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1234567890"
        },
        {
          "alias": "numberInputLarge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1234567890"
        },
        {
          "alias": "numberInputExtraLarge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1234567890"
        }
      ]
    },
    {
      "contentTypeKey": "94d49ae0-eda3-4836-a2dc-42a3cccf9998",
      "key": "ba12d971-ff8a-4185-9c8e-8ba9d1e81696",
      "udi": null,
      "values": [
        {
          "alias": "socialLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "GitHub",
              "network": "github",
              "url": "https://github.com/"
            },
            {
              "name": "Discord",
              "network": "discord",
              "url": "https://discord.com/"
            },
            {
              "name": "LinkedIn",
              "network": "linkedin",
              "url": "https://linkedin.com/in/"
            },
            {
              "name": "YouTube",
              "network": "youtube",
              "url": "https://youtube.com/"
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d4e818a8-1fec-4cb5-8cbc-d8936a58caf6",
      "key": "14f6afbe-ea74-4fe1-8a3a-7e53d31e531a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "fb4fc78f-53d6-4c41-a669-d5f78c072edf",
      "key": "8d5c3355-a40c-4d21-80dc-e5c028a1271c",
      "udi": null,
      "values": [
        {
          "alias": "textInput",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B44 123456789"
        },
        {
          "alias": "textInputEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "test@test.test"
        }
      ]
    },
    {
      "contentTypeKey": "4328ced5-778a-4b26-b287-79f66b6f3ad9",
      "key": "da59fce8-ff4a-451a-b673-866f606cc218",
      "udi": null,
      "values": [
        {
          "alias": "textboxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "tel": "\u002B44 123456789",
            "email": "test@test.test",
            "url": "https://github.com/sponsors/leekelleher"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2099803f-e48a-48bd-a3a4-d61d6fb0777c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "071aba91-cc7b-4464-b79e-0d0b78532499",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "20183aa4-1b0e-4f57-84ba-65ba680e2021",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d88bf5f-58a4-4349-86cd-e7584c1c3664",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d617c30e-bbcb-4e00-b345-b90a45ce9932",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e9c06fd5-eb70-4f29-aae5-56b4fe476b12",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2d4d7288-a32a-46ce-a3d6-296901df92ec",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d3b835fe-d411-4a6b-bcf6-b42be6400fd3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d11513f1-dadc-4e14-8e2a-d8c592952f0c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ba12d971-ff8a-4185-9c8e-8ba9d1e81696",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "14f6afbe-ea74-4fe1-8a3a-7e53d31e531a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8d5c3355-a40c-4d21-80dc-e5c028a1271c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da59fce8-ff4a-451a-b673-866f606cc218",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2099803f-e48a-48bd-a3a4-d61d6fb0777c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "071aba91-cc7b-4464-b79e-0d0b78532499",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "20183aa4-1b0e-4f57-84ba-65ba680e2021",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3d88bf5f-58a4-4349-86cd-e7584c1c3664",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d617c30e-bbcb-4e00-b345-b90a45ce9932",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e9c06fd5-eb70-4f29-aae5-56b4fe476b12",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2d4d7288-a32a-46ce-a3d6-296901df92ec",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d3b835fe-d411-4a6b-bcf6-b42be6400fd3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d11513f1-dadc-4e14-8e2a-d8c592952f0c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ba12d971-ff8a-4185-9c8e-8ba9d1e81696",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "14f6afbe-ea74-4fe1-8a3a-7e53d31e531a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8d5c3355-a40c-4d21-80dc-e5c028a1271c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "da59fce8-ff4a-451a-b673-866f606cc218",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockList>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>