<?xml version="1.0" encoding="utf-8"?>
<Content Key="2caba0a8-e905-4b8a-b7ed-c86b2d835ea5" Alias="Umbraco Block List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoBlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoBlockList</ContentType>
    <CreateDate>2025-09-22T20:56:16</CreateDate>
    <NodeName Default="Umbraco Block List" />
    <SortOrder>15</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "36a351b0-39db-4582-b31a-7d7a04dc0def",
      "key": "d3a64469-729f-46e5-a87f-6ac05e9cf145",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d3a64469-729f-46e5-a87f-6ac05e9cf145",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d3a64469-729f-46e5-a87f-6ac05e9cf145",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockList>
  </Properties>
</Content>