<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f52674c-cfa6-453a-a8a5-5defbaffde14" Alias="Data List: List Editor: Tags" Level="3">
  <Info>
    <Name>Data List: List Editor: Tags</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/List+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "name": "Ready",
            "value": "value1",
            "icon": "icon-stop-alt color-red",
            "description": "One for the money."
          },
          {
            "name": "Steady",
            "value": "value2",
            "icon": "icon-stop-alt color-orange",
            "description": "Two for the show."
          },
          {
            "name": "Go!",
            "value": "value3",
            "icon": "icon-stop-alt color-green",
            "description": "Three to get ready. Now go, cat, go."
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.TagsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showIcons": true,
        "allowClear": true,
        "confirmRemoval": true
      }
    }
  ]
}]]></Config>
</DataType>