<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5023550b-f4ae-4e05-94c6-79abc5266c23" Alias="Data Picker: Umbraco Content" Level="2">
  <Info>
    <Name>Data Picker: Umbraco Content</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataPicker</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataPicker</EditorUIAlias>
    <Folder>Data+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": {
          "originAlias": "ByKey",
          "originKey": "8d225100-92b1-49e2-9099-c0751b1a28a5"
        },
        "sortAlphabetically": false,
        "imageAlias": "image"
      }
    }
  ],
  "displayMode": [
    {
      "key": "Umb.Contentment.DisplayMode.Cards",
      "value": {}
    }
  ],
  "enableDevMode": "1",
  "maxItems": 0,
  "overlaySize": "medium",
  "pageSize": 8
}]]></Config>
</DataType>