<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81126991-0ea3-4279-ab0c-147ea8edb107" Alias="Data List: Data Source: Umbraco Data Types" Level="3">
  <Info>
    <Name>Data List: Data Source: Umbraco Data Types</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Data+List/Data+Sources</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoDataTypesDataListSource, Umbraco.Community.Contentment",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": true,
        "showDescriptions": false,
        "showIcons": false
      }
    }
  ]
}]]></Config>
</DataType>