<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569416cf-60c4-483a-a117-8ea8ad4bc055" Alias="Editor Notes: Default" Level="2">
  <Info>
    <Name>Editor Notes: Default</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.EditorNotes</EditorUIAlias>
    <Folder>Editor+Notes</Folder>
  </Info>
  <Config><![CDATA[{
  "alertType": "default",
  "heading": "Default note",
  "hideLabel": false,
  "hidePropertyGroup": false,
  "icon": "icon-fa-circle-exclamation color-undefined",
  "message": {
    "markup": "\u003Cp\u003EThis is a default message for the editor.\u003C/p\u003E",
    "blocks": {
      "layout": {},
      "contentData": [],
      "settingsData": [],
      "expose": []
    }
  }
}]]></Config>
</DataType>