<?xml version="1.0" encoding="utf-8"?>
<DataType Key="057ce77f-e3b2-4dfb-9b14-5984be8e11e8" Alias="List Items: Default Config" Level="2">
  <Info>
    <Name>List Items: Default Config</Name>
    <EditorAlias>Umbraco.Community.Contentment.ListItems</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.ListItems</EditorUIAlias>
    <Folder>List+Items</Folder>
  </Info>
  <Config><![CDATA[{
  "confirmRemoval": "1",
  "enableDevMode": "1",
  "hideDescription": false,
  "hideIcon": false,
  "maxItems": 5
}]]></Config>
</DataType>