<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23853f3f-df73-4151-ba3d-d23f4c55642d" Alias="moduleRenderJs" Level="2">
  <Info>
    <Name>[Module] Render JS</Name>
    <Icon>icon-brick color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This composition is used to declare a module as implementing a JavaScript component.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bCompositions%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>