<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="457a89be-3106-48c4-b8ed-2d5b9c31c279" Alias="somethingElseContainer" Level="2">
  <Info>
    <Name>Something Else Container</Name>
    <Icon>icon-science color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bContainers%5d</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ff50522a-1e06-471d-903b-f19a2187b083" SortOrder="0">somethingElse</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>