<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3958f7b4-5012-4d3c-b459-288dc7fded6d" Alias="something" Level="2">
  <Info>
    <Name>Something</Name>
    <Icon>icon-burn color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>%5bData%5d</Folder>
    <Compositions>
      <Composition Key="0b308cde-6352-4fe0-ba6e-6fe4a8a94199">componentHeadingProperty</Composition>
      <Composition Key="a18fe3bf-110e-4c07-b124-36b3203564fa">componentImageProperty</Composition>
      <Composition Key="746fc21e-6f15-4310-af55-7804bed2b552">componentIntroProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>