<?xml version="1.0" encoding="utf-8"?>
<Macro Key="3dc18b2a-74cf-4b49-8812-e46291bed569" Alias="Sitemap" Level="0">
  <Name>Sitemap</Name>
  <MacroSource>~/Views/MacroPartials/sitemap.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>